// ========================================
// CUSTOM PROJECT SASS
// ----------------------------------------
// Custom project SASS goes here.
//
// Contents
// 1. Generic
// 2. Site layout
// 3. Custom page styles
// ----------------------------------------

// ========================================
// 1. Generic
// ----------------------------------------

html {
  font-size: $theme-root-font-size;
}

body {
  @include u-bg('gray-1');
}

html,
body {
  height: auto;
}

.usa-center {
  text-align: center;
}

// ========================================
// 2. Site layout
// ----------------------------------------

// Header ------------------------------ //

.sticky {
  position: sticky;
  top: 0;

  &::before,
  &::after {
    content: '';
    display: table;
  }
}

.site-header {
  background-color: color('primary-darker');

  @include at-media('desktop') {
    border-bottom: none;
  }

  .site-logo {
    margin-left: $site-margins-mobile;

    @include at-media('desktop') {
      margin-left: $site-margins;
    }
  }

  .usa-button-list {
    float: right;
    display: none;
    margin-top: -5px;

    @include at-media('desktop') {
      line-height: 8rem;
      margin-top: 0;
      display: block;
      padding-right: $site-margins;
    }

    // scss-lint:disable SelectorDepth, NestingDepth
    li {
      display: inline;
      font-family: $font-sans;

      &:last-child .usa-button {
        margin-right: 0;
      }
    }

    .usa-button {
      @include margin(0 null);
    }
  }
}

.site-banner {
  .usa-banner-inner {
    max-width: 100%;
  }

  .usa-banner-content {
    margin-left: 0;
  }
}

.site-header-navbar {
  border-bottom: none;

  @include at-media('desktop') {
    height: 8rem;
    width: 100%;
    display: block;
  }

  // Firefox fix so that navbar buttons to align right
  @-moz-document url-prefix() {
    @include at-media('desktop') {
      padding-top: 1px;
    }
  }
}

@mixin outline-inverse-button {
  // TODO: Fix this with button mixin
  .usa-button.usa-button-outline-inverse {
    box-shadow: inset 0 0 0 2px color('primary');
    color: color('primary');

    &:hover {
      box-shadow: inset 0 0 0 2px color('primary-dark');
      color: color('primary-dark');
    }
  }
}

.sidenav-mobile {
  @include outline-inverse-button;

  @include at-media('desktop') {
    display: none;
  }

  .usa-sidenav-sub_list {
    &[aria-hidden=true] {
      display: none;
    }

    // scss-lint:disable SelectorDepth, NestingDepth
    .usa-sidenav-sub_list {
      .usa-sidenav-sub_list {
        a {
          padding-left: 4.8rem;
        }
      }
    }
  }

  li > button {
    @include button-unstyled;
    @include padding(0.7rem 1rem 0.7rem 1.6rem);
    font-weight: $font-normal;

    &:hover {
      background-color: color('gray-cool-5');
      color: color('primary');
    }

    &[aria-expanded=false] {
      background-image: url('#{$image-path}/plus-alt.png');
      background-image: url('#{$image-path}/plus-alt.svg');
      background-repeat: no-repeat;
      background-position: right 0 center;
      background-size: 1rem;
    }

    &[aria-expanded=true] {
      background-image: url('#{$image-path}/minus-alt.png');
      background-image: url('#{$image-path}/minus-alt.svg');
      background-repeat: no-repeat;
      background-position: right 0 center;
      background-size: 1rem;
    }
  }

  .usa-button-list {
    margin-top: 4rem;
  }
}

.site-logo {
  @include at-media('desktop') {
    margin-top: 0;
  }

  a {
    color: color('white');
  }

  em {
    font-family: $font-serif;
    font-size: 1.4rem;
    line-height: 4rem;

    @include at-media('desktop') {
      font-size: $h3-font-size;
      line-height: 8rem;
    }
  }
}

@mixin nav-border-thick {
  border-bottom: 0.7rem solid $color-primary;
  padding-bottom: 0.9rem;
}

.site-nav-secondary {
  display: none;

  @include at-media('desktop') {
    background-color: color('white');
    border-bottom: 1px solid color('gray-cool-10');
    clear: both;
    display: block;
    height: $height-nav-secondary;
    padding-left: 1.5rem;
    z-index: $z-nav-secondary;
  }

  &.sticky {
    @include u-z(200);
  }

  ul {
    @include unstyled-list;

    li {
      display: inline;
    }
  }

  a {
    color: color('gray-cool-60');
    font-size: $h5-font-size;
    font-weight: $font-bold;
    line-height: $height-nav-secondary;
    padding: 1.5rem;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;

    &:hover {
      span {
        @include nav-border-thick;
        color: color('primary');
      }
    }
  }

  .usa-current {
    span {
      @include nav-border-thick;
      color: color('base-darkest');
    }
  }
}

// Sidebar Nav --------- //

.sidenav {
  display: none;

  @include at-media('desktop') {
    display: block;
    float: left;
    margin-bottom: 525px;
    margin-top: 50px;
    padding-right: 1rem;
    padding-left: 3rem;
    overflow-y: auto;
    top: 5rem;
    width: $width-nav-sidebar;
  }

  .lt-ie9 & {
    width: 25%;
  }

  .usa-navigation-submenu {
    &[aria-hidden="false"] {
      display: block;
    }
  }

  .usa-sidenav-list,
  .usa-sidenav-list > li {
    border-color: color('gray-10');
  }
}

// Main Content --------- //

.main-content {
  @include position(absolute, null 0 0 null);
  display: inline-block; // starting: not scrolled
  margin-top: 4rem; // starting: not scrolled
  position: relative;
  width: 100%;

  @include at-media('desktop') {
    width: calc(100% - #{$width-nav-sidebar});
  }

  .lt-ie9 & {
    width: 75%;
  }
}

// Styleguide Content -------- //

.styleguide-content {
  @include padding(null $site-margins-mobile);
  margin-bottom: 5em;
  max-width: $site-max-width;
  position: relative;

  @media (min-width: $nav-width) {
    @include padding(null $site-margins);
  }

  header {
    > h1 {
      margin-top: 0;
    }
  }

  > h2 {
    color: color('primary-dark');
  }
}

.components-library-link {
  float: right;
  padding-top: 20px;

  a {
    @include external-link(external-link, external-link-hover);
    text-decoration: none;
  }
}

.product-roadmap-list {
  max-width: 100% !important; // scss-lint:disable ImportantRule
}

// Label links

%label-maturity {
  color: color('gray-cool-80');
  font-size: 1.4rem;
  font-weight: $font-bold;
  margin-left: 1.2rem;
  position: absolute;
  text-decoration: none;

  &#{$external-href}::after {
    display: none;
  }
}

.label-alpha,
.label-in-progress {
  @extend %label-maturity;
  background-color: color('gold-5v');
}

.label-beta,
.label-to-do {
  @extend %label-maturity;
  background-color: color('accent-cool-lighter');
}

.label-recommended,
.label-done {
  @extend %label-maturity;
  background-color: color('green-cool-5');
}

.heading-margin-alt {
  margin-top: 6rem;
}

.site-subheading {
  @include h6;
  color: color('gray-cool-60');
  display: block;
  letter-spacing: 0.5px;
  margin-bottom: 0.6rem;
  margin-top: 0;
}

.cta {
  img {
    height: 1.5rem;
    margin-right: 0.4rem;
    position: relative;
    top: 2px;
    vertical-align: baseline;
  }
}

// Footer --------------- //

.site-footer {
  clear: both;

  h3 {
    margin-top: 0;
  }

  .logo-links {
    margin-bottom: 1rem;
    margin-right: 2rem;

    @include at-media('tablet') {
      float: left;
      margin-bottom: 0;
    }

    img {
      width: 3.2rem;
    }

    a {
      @include media-link;
    }
  }

  .usa-footer-secondary_section {
    @include padding(2rem null);
    background-color: color('accent-cool-lighter');

    @include at-media('tablet') {
      @include padding(3rem null 4rem null);
    }
  }
}

.footer-main-img {
  display: none;
  max-width: 18.1rem;

  @include at-media('tablet') {
    display: block;
    width: 100%;
  }
}

.footer-content {
  p {
    max-width: 75ch;
  }
}

.footer-contact-links {
  margin-top: 3rem;

  h4,
  a {
    font-size: 1.3rem;
  }

  h4 {
    font-family: $font-sans;
    font-weight: $font-normal;
    margin-bottom: 0;
    margin-top: 3px;
  }

  a {
    color: color('primary-dark');
    text-decoration: underline;
  }

  img {
    width: 4rem;
  }

  .usa-media_block {
    clear: both;
    line-height: $heading-line-height;
    margin-top: 2rem;

    @include at-media('tablet') {
      margin-top: 0;
    }
  }
}

.footer-section-bottom {
  @include padding(1.6rem null 1.3rem null);
  background-color: color('primary-darker');

  p {
    color: color('white');
    font-size: $small-font-size;
    overflow: hidden;

    &:first-of-type,
    &:last-of-type {
      @include at-media('tablet') {
        margin-top: 0;
      }
    }
  }

  a {
    color: color('white');
  }
}

// Pattern Preview Boxes -------- //

.preview {
  @include clearfix;
  @include margin(2em null);
  background-color: color('white');
  padding: $site-margins;
  border: 1px solid #eeeeee; // scss-lint:disable ColorVariable

  .usa-background-dark {
    @include padding(null 1em);
    display: inline-block;
  }

  > *:first-child {
    margin-top: 0;
  }
}

.preview-no_border {
  @include margin(0 null 2em);
  border: 0;
  padding: 0;
}

// Custom preview box styles

.preview-lists {
  padding-bottom: 0;

  .usa-heading-alt {
    margin-top: 0;
  }
}

.preview-dropdown {
  padding-top: 0;
}

// Custom styles to illustrate invisible grid for web design standards

.page-grids {
  .preview {
    @include margin(0 null 2em);
    border: 0;
    padding: 0;

    > *:first-child {
      margin-top: 1.5em;
    }
  }
}

.grid-example {
  .usa-grid {
    background: $color-grid-light;

    > * {
      @include margin(.5em null);
      color: color('white');
      padding: 1em;
      background: $color-grid-dark;
    }
  }

  .usa-width-one-twelfth {
    @include at-media('tablet') {
      @include padding(null 0);
    }
  }
}

.grid-example-blank {
  .usa-grid {
    text-align: center;
  }
}

.grid-text {
  .usa-grid {
    background: $color-grid-dark;

    > * {
      background: $color-grid-light;
      color: color('black');
    }

    h3 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }
  }
}

h3 + .button_wrapper {
  margin-top: -0.5em;
}

.button_wrapper {
  clear: both;
  display: block;
  margin-left: -1rem;
  padding: 0 1rem;

  @include at-media('mobile-lg') {
    display: table;
  }

  button:last-child {
    margin-right: 0;
  }
}

.button_wrapper-dark {
  background: color('gray-cool-80');
}

.usa-heading {
  color: color('primary-dark');
}

// Color background helpers

.usa-color-primary {
  background-color: color('primary');
}

.usa-color-primary-darker {
  background-color: color('primary-dark');
}

.usa-color-primary-darkest {
  background-color: color('primary-darker');
}

.usa-color-base {
  background-color: color('base-darkest');
}

.usa-color-gray-dark {
  background-color: color('gray-cool-80');
}

.usa-color-gray-light {
  background-color: color('gray-30');
}

.usa-color-white {
  background-color: color('white');
  box-shadow: inset 0 0 0 1px color('gray-cool-60');
}

.usa-color-primary-alt {
  background-color: color('accent-cool');
}

.usa-color-primary-alt-dark {
  background-color: color('accent-cool-dark');
}

.usa-color-primary-alt-darkest {
  background-color: color('accent-cool-darker');
}

.usa-color-primary-alt-light {
  background-color: color('accent-cool-light');
}

.usa-color-primary-alt-lightest {
  background-color: color('accent-cool-lighter');
}

.usa-color-secondary {
  background-color: color('secondary');
}

.usa-color-secondary-dark {
  background-color: color('secondary-dark');
}

.usa-color-secondary-darkest {
  background-color: color('secondary-darker');
}

.usa-color-secondary-light {
  background-color: color('secondary-light');
}

.usa-color-secondary-lightest {
  background-color: color('secondary-lighter');
}

.usa-color-gray {
  background-color: color('gray-cool-60');
}

.usa-color-gray-lighter {
  background-color: color('gray-cool-10');
}

.usa-color-gray-lightest {
  background-color: color('gray-cool-5');
}

.usa-color-gray-warm-dark {
  background-color: color('gray-warm-70');
}

.usa-color-gray-warm-light {
  background-color: color('gray-warm-10');
}

.usa-color-gray-cool-light {
  background-color: color('blue-warm-5');
}

.usa-color-gold {
  background-color: color('gold-20v');
}

.usa-color-gold-light {
  background-color: color('gold-10v');
}

.usa-color-gold-lighter {
  background-color: color('yellow-10');
}

.usa-color-gold-lightest {
  background-color: color('gold-5v');
}

.usa-color-green {
  background-color: color('green-cool-50');
}

.usa-color-green-light {
  background-color: color('green-cool-40');
}

.usa-color-green-lighter {
  background-color: color('green-cool-20');
}

.usa-color-green-lightest {
  background-color: color('green-cool-5');
}

.usa-color-cool-blue {
  background-color: color('blue-70v');
}

.usa-color-cool-blue-light {
  background-color: color('blue-warm-50');
}

.usa-color-cool-blue-lighter {
  background-color: color('blue-warm-30');
}

.usa-color-cool-blue-lightest {
  background-color: color('blue-warm-10');
}

.usa-color-focus {
  background-color: $color-focus;
}

.usa-color-visited {
  background-color: $color-visited;
}

// Color text helpers

.usa-color-text-primary-darkest {
  color: color('primary-darker');
}

.usa-color-text-primary-darker {
  color: color('primary-dark');
}

.usa-color-text-primary {
  color: color('primary');
}

.usa-color-text-cool-blue-light {
  color: color('blue-warm-50');
}

.usa-color-text-primary-alt-darkest {
  color: color('accent-cool-darker');
}

.usa-color-text-green {
  color: color('green-cool-50');
}

.usa-color-text-visited {
  color: $color-visited;
}

.usa-color-text-gray-dark {
  color: color('gray-cool-80');
}

.usa-color-text-gray {
  color: color('gray-cool-60');
}

.usa-color-text-gray-warm-dark {
  color: color('gray-warm-70');
}

.usa-color-text-secondary-darkest {
  color: color('secondary-darker');
}

.usa-color-text-secondary-dark {
  color: color('secondary-dark');
}

.usa-color-text-secondary {
  color: color('secondary');
}

.usa-color-text-white {
  color: color('white');
}

.usa-heading-alt {
  border-bottom: 1px solid color('gray-cool-60');
  padding-bottom: .8rem;
}

h6 {
  &.usa-heading-alt {
    margin-top: 4rem;
  }
}

.usa-typography-example-font {
  padding-top: 1rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .usa-font-example p {
    margin: 0;
  }

  // Add padding to first few  CSS details so they line up with different size
  // headings on their left side.
  .usa-width-one-half:nth-child(2) {
    padding-top: 1.2rem;
  }

  .usa-width-one-half:nth-child(4) {
    padding-top: 0.9rem;
  }

  .usa-width-one-half:nth-child(6) {
    padding-top: 0.6rem;
  }
}

.font-example-paragraph {
  @include at-media('tablet') {
    width: 20rem;
  }
}

.usa-typography-example {
  .usa-monospace {
    @include margin(0 null 3rem);
    font-size: 1.2rem;
  }
}

.usa-monospace {
  font-family: $font-monospace;
}

// Code samples ---------------------- //

code,
pre {
  @include u-font-family(mono);
  background-color: color('gray-cool-5');
  font-size: 1.3rem;
}

pre {
  padding: 1.6rem;

  code {
    padding: 0;

    &::before,
    &::after {
      display: none;
    }
  }
}

code {
  @include padding(0.2em null);

  &::before,
  &::after {
    letter-spacing: -0.2em;
    content: '\00a0';
  }

  a & {
    @include u-border(1px, 'blue-50v');
    @include u-bg('transparent');

    &:hover {
      @include u-bg('blue-50v');
      @include u-text('white');
    }
  }
}

.highlight {
  max-width: $lead-max-width;
}

// Code snippet boxes ----------------- //

.usa-code-sample {
  pre,
  code {
    @include u-font-size(mono, 2xs);
    @include u-line-height(mono, 4);
    background: none;
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }

  .usa-unstyled-list {
    @include unstyled-list;
  }

  .usa-accordion-content {
    // padding: 0;
  }
}

[class*="language-"] {
  color: color('base-darkest');

  // Custom code sample colors
  .nt,
  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: color('accent-cool-darker');
  }

  .na,
  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: color('secondary');
  }

  .s,
  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: color('green-cool-50');
  }

  .token.punctuation {
    color: color('accent-cool-darker');
  }

  .c {
    color: color('gray-cool-60');
  }
}

.alignment-example {
  border-left: 2px solid color('primary-dark');
  padding-left: 1rem;
}

.help-text {
  border-top: 2px solid color('primary-dark');
  color: color('primary-dark');
  font-size: $em-base;
  padding-top: 1rem;
  text-align: center;
}

.text-tiny {
  @include margin(5px null 0);

  &:first-child {
    margin-top: 0;
  }
}

.typography-sans-intro {
  .text-huge {
    font-size: 140px;
    line-height: 1.05;
  }

  .text-tiny {
    font-size: 15px;
  }
}

.typography-serif-intro {
  .text-huge {
    font-size: 120px;
    line-height: 1.275;
  }

  .text-tiny {
    font-size: 13px;
  }
}

// Alt font styles

@mixin font-lead-alt {
  font-size: $base-font-size;
  font-weight: $font-normal;
}

.serif-robust {
  .usa-display-alt {
    font-size: $h1-font-size;
    font-weight: $font-light;
  }

  .usa-font-lead {
    font-weight: $font-light;

    .usa-font-lead-alt {
      @include font-lead-alt;
    }
  }

  &.serif-body {
    .usa-font-example {
      p {
        font-family: $font-serif;
        font-size: rem(15px);
        line-height: $lead-line-height;
      }

      // scss-lint:disable SelectorDepth, NestingDepth
      .usa-font-lead {
        font-size: $h3-font-size;

        .usa-font-lead-alt {
          @include font-lead-alt;
        }
      }
    }
  }
}

.sans-style {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-sans;
  }

  h1 {
    font-size: rem(44px);
  }

  h2 {
    font-size: rem(34px);
  }

  h3 {
    font-size: rem(24px);
  }

  h4 {
    font-size: rem(19px);
  }

  h5 {
    font-size: rem(16px);
  }

  h6 {
    font-size: rem(13px);
  }

  .usa-display {
    font-size: rem(59px);
  }

  .usa-display-alt {
    font-size: rem(44px);
    font-weight: $font-light;
  }

  .usa-font-lead {
    font-family: $font-sans;
    font-size: rem(22px);
    font-weight: $font-light;
    line-height: $base-line-height;
  }

  &.serif-body {
    .usa-font-example {
      p {
        font-family: $font-serif;
        font-size: rem(15px);
        line-height: $lead-line-height;
      }

      .usa-font-lead {
        font-family: $font-sans;
        font-size: rem(22px);
        font-weight: $font-light;
        line-height: $base-line-height;
      }
    }
  }
}

.serif-sans-minor {
  h6 {
    font-family: $font-sans;
  }
}

.usa-accordion-docs {
  margin-bottom: 6rem;
}

// External link styles

#{$external-href} {
  @include external-link(external-link, external-link-hover);
}

.usa-button,
.link-download,
.media_link {
  &#{$external-href}::after {
    display: none;
  }
}

.logo-links,
.usa-disclaimer-stage {
  #{$external-href} {
    &::after {
      display: none;
    }
  }
}

// ========================================
// 3. Custom page styles
// ----------------------------------------

// Homepage styles --------------------- //

.page-home {
  .usa-graphic_list {
    .usa-media_block-body {
      // scss-lint:disable SelectorDepth
      > *:first-child {
        font-size: $media-block-header-font-size;
        margin-top: 0;
        margin-bottom: 0;
      }

      > p {
        margin: 0.5rem 0;
        font-size: $media-block-body-font-size;
      }
    }

    .usa-media_block-img {
      margin-bottom: 1rem;
      margin-right: 2rem;
      max-width: 7rem;

      @include at-media('desktop') {
        float: none;
      }
    }
  }

  .usa-hero {
    background-image: url('#{$site-image-path}/home/wds-home-new-2x.png');
    padding-bottom: 7.2rem;
    padding-top: 3.2rem;

    @include at-media('desktop') {
      padding-bottom: 10.6rem;
    }
  }

  .usa-hero-callout {
    border-radius: 0.3rem;
    max-width: 46rem;
    padding: 3.2rem;

    > :first-child,
    > :last-child {
      margin-bottom: 0;
    }

    .usa-button {
      margin-top: 2em;
    }
  }

  .usa-hero-callout-alt {
    font-size: 2.7rem;
  }

  .usa-section-dark p {
    margin-top: 0.8rem;
  }

  // Override for 4x1 media grid when it collapses to 2x2
  @media screen and (max-width: $large-screen) and (min-width: $medium-screen) {
    // scss-lint:disable SelectorDepth
    .usa-graphic_list .usa-graphic_list-row .usa-media_block:nth-child(-n+2) {
      margin-bottom: 6rem;
    }
  }
}

// Fancy Horizontal Rule

.homepage-rule {
  @include margin(0 null);
  border: 0;
  height: 1.5rem;
  width: 100%;
  position: relative;

  &.center-diamond {
    background: none;
    text-align: center;

    &::before {
      content: '\00a0';
      display: inline-block;
      background: color('primary');
      height: 1px;
      position: relative;
      top: 0.6rem;
      width: 100%;
    }

    &::after {
      content: '◆';
      display: inline-block;
      position: relative;
      top: -2.9rem;
      font-size: 1.8rem;
      padding: 0 1rem;
      color: color('secondary');
      background: color('white');
    }
  }
}

.page-ui-components {
  .usa-font-lead {
    &:first-of-type {
      margin-top: 3.2rem;
    }
  }
}

.page-design-principles {
  @include at-media('tablet') {
    .main-content .usa-grid-full {
      @include margin(4rem null 3rem null);
    }
  }

  img {
    max-width: 18.4rem;
  }
}

.link-download {
  display: table;

  &::before {
    background: url('#{$image-path}/icon-download.png') no-repeat 0 0;
    background: url('#{$image-path}/icon-download.svg') no-repeat 0 0;
    background-size: 100%;
    content: '';
    display: inline-block;
    height: 0.8em;
    margin-bottom: -1px;
    margin-right: 1.2rem;
    width: 0.8em;
  }
}

.link-download-subtext {
  margin-left: 2.6rem;
}

.link_group-download {
  .link-download {
    margin-bottom: 1rem;
  }
}

.page-product-roadmap,
.page-for-developers,
.page-for-designers,
.page-component-maturity-scale {
  .usa-content {
    > ul:not(.usa-content-list) {
      max-width: $text-max-width;
    }
  }
}

.page-for-developers,
.page-for-designers,
.page-product-roadmap,
.page-component-maturity-scale,
.page-research {
  h2 {
    color: color('primary-dark');
  }
}

// Override max-width to ensure code blocks are wide enough
.page-for-developers {
  ol {
    max-width: 100% !important; // scss-lint:disable ImportantRule

    p {
      max-width: $text-max-width;
    }
  }
}

.page-product-roadmap {
  .main-content {
    .usa-tag {
      display: inline-block;
      position: relative;
    }
  }
}


// Layout grid page
.docs-grid-example {
  @include u-font('mono', 4);

  .grid-row {
    margin-top: 8px;
  }

  [class*="grid-col"] {
    background-color: color('primary-lighter');
    text-align: center;
  }

  .grid-row:not([class*="grid-gap"]) {
    [class*="grid-col"] {
      border: 1px solid;
      padding: 16px;
    }
  }

  // scss-lint:disable SelectorDepth
  [class*="grid-gap"] {
    [class*="grid-col"] > * {
      background-color: color('white');
      border: 1px solid;
      padding: 16px;
    }
  }
}

// Example images on headers and page templates pages -------------- //
.page-headers,
.page-page-templates {
  .preview {
    img {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); // scss-lint:disable ColorVariable
    }
  }
}

.layout-demo {
  margin-bottom: 8.6rem;

  @include at-media('tablet') {
    margin-bottom: 5.9rem;
  }
}

// Demo fixed footer
.demo-footer {
  background-color: color('gray-cool-80');
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.5); // scss-lint:disable ColorVariable
  bottom: 0;
  position: fixed;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  .usa-button {
    background-image: url('#{$site-image-path}/angle-arrow-left-inverse.png');
    background-image: url('#{$site-image-path}/angle-arrow-left-inverse.svg');
    background-repeat: no-repeat;
    background-position: left 2rem center;
    background-size: 1rem;
    padding-left: 3.3rem;

    @include at-media('tablet') {
      @include margin(0 1.5rem 0 null);
    }
  }
}

.demo-footer-title {
  @include margin(0 null 0.7rem null);
  color: color('white');
  display: inline-block;

  @include at-media('tablet') {
    @include margin(1em null);
  }
}

.demo-footer-content {
  @include margin(null $site-margins-mobile);

  @include at-media('tablet') {
    @include margin(null $site-margins);
  }
}

hr {
  background: color('gray-cool-10');
  border: none;
  height: 1px;
  margin: 3em 0;
}

iframe {
  margin-bottom: 3rem;
}

.post-excerpt {
  margin-bottom: 5rem;

  .post-title {
    margin-top: 0;
    margin-bottom: 0;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: color('primary');
        text-decoration: underline;
      }
    }
  } // .post-title

  .post-date {
    text-transform: none;
  }

  &.post-excerpt {
    .post-title {
      @include h2();
    }

    .post-content p {
      margin-bottom: 0;
      margin-top: 0.5rem;
    }
  } // .post-excerpt
} // article

// Utilities CSS --------------------- //

.is-inverse {
  @include add-knockout-font-smoothing;
}

.page-content {
  h3 {
    @include u-font-size('sans', 10);
    @include u-text('thin');
    @include u-line-height('heading', 3);
    @include at-media('tablet-lg') {
      @include u-font-size('sans', 15);
    }
  }
}

*:active:focus {
  @include u-outline(.5, 'indigo-warm-50v');
}

.usa-accordion-content {
  &[aria-hidden=true] {
    @include u-display('none');
  }
}

.usa-banner-button-text--open {
  @include u-display('none');
}

[aria-expanded=true] {
  > .usa-banner-button-text {
    @include u-display('none');
  }

  > .usa-banner-button-text--open {
    @include u-display('inline');
  }
}

// * * * * * * ========================= *

.docs-text {
  @include u-font('sans', 6);
  @include u-margin-bottom(1);
  @include u-margin-top(4);
  @include u-measure(4);
  @include u-text('normal');
}

strong {
  @include u-text('bold');
}

.docs-inline-code {
  @include u-bg('gray-warm-4');
  @include u-font('mono', 4);
  @include u-padding-x('05');
  @include u-padding-y(2px);
  @include u-radius('sm');
}

.token {
  $font: 'mono';
  @include u-border(1px);
  @include u-color('red-warm-50v');
  @include u-font($font, 1);
  @include u-line-height($font, 1);
  @include u-padding-x('05');
  @include u-padding-y(2px);
  @include u-radius('sm');
  @include u-text('normal', 'no-wrap', 'no-underline', 'uppercase', 'no-italic', 'ls-2');
}

.prose-graf-intro {
  $font: 'sans';
  @include u-font($font, 2);
  @include u-text('semibold', 'uppercase', 'ls-2');
  @include at-media('desktop-lg') {
    @include u-font-size($font, 3);
  }
}

.text-color .example {
  @include u-border-bottom(1px, 'base-lighter');
  @include u-margin-y(.5);
  @include u-padding-y(.5);
}

.output-list {
  @include grid-row;
  @include u-margin-top(0);
  @include u-width('full');

  .output-utility,
  .output-css,
  .output-variable {
    @include u-border-bottom(1px);
    @include u-border-bottom('base-light');
    @include u-display(flex);
    @include u-flex('align-center');
    @include u-margin(0);
    @include u-minh(4);
    @include u-padding-y(.5);
  }

  .output-utility {
    @include grid-col(4);
    @include u-font('sans', '2xs');
    @include u-padding-right(2);
  }

  .output-css {
    @include grid-col(6);
    @include u-font('mono', '2xs');
    @include u-padding-right(2);

    .output-token {
      @include u-display(inline-block);
      @include u-font('mono', '2xs');
    }
  }

  .output-variable {
    @include grid-col(2);
    @include u-font('mono', '2xs');
    @include u-text('light');
  }
}

.output-token {
  @include u-bg('white');
  @include u-border(1px, 'gray-10');
  @include u-font('mono', 4);
  @include u-padding-x(0.5);
  @include u-padding-y(2px);
  @include u-radius('sm');
  @include u-text(400);
}

.output-rule {
  @include u-display(block);

  + .output-rule {
    @include u-margin-top(.5);
  }
}

.output-true {
  @include add-knockout-font-smoothing;
  @include u-bg('blue-50v');
  @include u-display('inline-block');
  @include u-padding-y(0);
  @include u-padding-x(.5);
  @include u-radius('sm');
  @include u-text('white');
}

// Ensure that inline lists do not have a bottom margin
li {
  &.display-inline-block {
    margin-bottom: 0;
  }
}

// * * * * * * ==========================
// Utility docs

.utilities-property-title {
  @include u-font('sans', 'micro');
  @include u-margin-left(2px);
  @include u-margin-y(0);
  @include u-text('normal', 'uppercase', 'ls-1');
}

.utilities-properties {
  @include u-bg('white');
  @include u-border(1px, 'gray-10');
  @include u-padding(2);
  @include u-radius('md');
}

.utilities-property {
  @include u-bg('white');
  @include u-display('inline-block');
  @include u-margin-top(0);
  @include u-padding(.5);
  @include u-text('no-uppercase', 'ls-auto');
}

.utilities-section {
  @include u-border-top(1px);
  @include u-margin-top(4);
  @include u-padding-top(1);
}

.utilities-section-title-bar {
  @include u-flex('align-center');
  @include u-margin-bottom(2);
}

.utilities-section-title {
  @include u-font(serif, 8);
  @include u-margin(0);
  @include u-text(normal);

  code {
    @include u-bg('white');
    @include u-border(1px);
    @include u-display('inline-block');
    @include u-font('mono', 6);
    @include u-margin-right(2px);
    @include u-padding-x(0);
    @include u-padding-y(2px);
    @include u-radius('md');
    @include u-text('light');
  }
}

.utilities-section-helper {
  @include u-font('sans', 1);
  @include u-margin-left(2px);
  @include u-margin-y(0);
  @include u-text(right, normal, 'gray-60');
}

.utility {
  @include u-bg('white');
  @include u-border(1px, 'gray-10');
  @include u-margin-y(2);
  @include u-padding-bottom(1);
  @include u-padding-top(2);
  @include u-radius('md');
}

.utility-title-bar {
  @include u-border-bottom(1px, 'gray-10');
  @include u-margin-bottom(2);
  @include u-padding-x(2);
  @include u-padding-bottom(1.5);
}

.utility-title {
  @include u-font('sans', 'md');
  @include u-margin-bottom(.5);
  @include u-margin-top(0);
}

.utility-property {
  @include u-font('sans', '3xs');
  @include u-margin(0);
  @include u-text('uppercase', 'ls-1');
}

.utility-property-code {
  @include u-font('mono', '2xs');
  @include u-text('light', 'no-uppercase', 'ls-auto', 'red-warm-50v');
}

.utility-scope {
  @include add-list-reset;
  @include u-display('inline');
  @include u-margin(0);
  @include u-text('right');
}

.utility-scope-button {
  @include u-display('inline-block');
  @include u-font-size('sans', 'xs');
  @include u-line-height('sans', 4);
  @include u-margin-bottom(0);
  @include u-margin-right(.5);
  @include u-padding-y(1);
  @include u-padding-x(1.5);
  @include u-radius('md');
}

.utility-scope-button-disabled {
  @extend .utility-scope-button;
  @include u-bg('white');
  @include u-border(1px, 'gray-20');
  @include u-text('gray-20', strike);
}

.utility-scope-button-active {
  @include u-display(inline);

  a {
    @extend .utility-scope-button;
    @include add-knockout-font-smoothing;
    @include u-bg('blue-50v');
    @include u-text('white', 'no-underline');

    &:hover {
      @include u-bg('gray-80');
      @include u-text('white');
    }
  }
}

.utility-examples {
  @include u-margin-x(2);
}

.utility-examples-title {
  @include u-border-bottom(1px, 'gray-10');
  @include u-font('sans', 4);
  @include u-margin-bottom(1);
  @include u-margin-top(4);
  @include u-padding-bottom(1);
}

.utility-examples-helper {
  @include u-font('sans', 2);
  @include u-margin-left(1);
  @include u-text('normal', 'ink');
}

.utility-class {
  @include u-bg('base-lightest');
  @include u-display('inline-block');
  @include u-font('mono', '2xs');
  @include u-margin(0);
  @include u-padding-y(2px);
  @include u-padding-x(.5);
  @include u-radius('sm');
}

.utility-value {
  @extend .utility-class;
  @include u-bg('secondary-lighter');
  @include u-margin-top(2px);
}

.utility-value-color {
  @extend .utility-class;
  @include u-bg('white');
  @include u-border(1px, 'gray-10');
  @include u-margin-top(0);
  @include u-text('light', 'no-wrap', 'lowercase');
}

.utility-value-color-chip {
  @include u-circle(1.5);
  @include u-display('inline-block');
  @include u-margin-right(.5);
  @include u-text('middle');
}

.utility-example-container {
  @include u-border-bottom(1px, 'gray-10');
  @include u-margin-bottom(2);
  @include u-margin-top(0);
  @include u-padding-bottom(3);
}

.utility-example-container-condensed {
  @extend .utility-example-container;
  @include u-margin-bottom(1);
  @include u-padding-bottom(1);
}

.utilities-output-heading {
  @include u-border-bottom(1px, 'gray-10');
  @include u-font('sans', 1);
  @include u-margin-top(2);
  @include u-padding-bottom(.5);
  @include u-text('bold');
}

.utility-code-sample {
  @include u-bg('base-lighter');
  @include u-line-height('mono', 3);
  @include u-margin-x(0);
  @include u-margin-y(1);
  @include u-radius('md');
  @include u-text('pre-wrap');
}

.utility-note {
  @include u-font('sans', 'xs');
  @include u-line-height('sans', 5);
  @include u-margin-bottom(5);
  @include u-measure(none);
  @include u-padding-bottom(2);
  @include u-border-bottom(1px, 'base-lighter');
}

.utility-text {
  @include u-font('sans', 'xs');
  @include u-line-height('sans', 5);
  @include u-measure(none);

  + .utility-text {
    @include u-margin-top(1);
  }
}
