
// USWDS Overrides
$color-grid-dark:   #727272;
$color-grid-light:  #e3e4e5;
$font-monospace:    Consolas, Monaco, 'Andale Mono', monospace;
$font-path:         '../assets/fonts';
$image-path:        '../assets/img';

$external-href:     '[href^="http"]:not([href*=".gov"])';

$z-nav-secondary: 10;

// Site image path, relative to /css/
$site-image-path: '../img';

