// Imports
@import 'variables';
@import 'uswds-theme-general';
@import 'uswds-theme-typography';
@import 'uswds-theme-spacing';
@import 'uswds-theme-color';
@import 'uswds-theme-utilities';

// Settings
// -------------------------------------
@import 'settings/settings-general';
@import 'settings/settings-typography';
@import 'settings/settings-color';
@import 'settings/settings-spacing';
@import 'settings/settings-utilities';
@import 'settings/settings-components';

// Tools
// -------------------------------------
@import 'packages/required';

// Typesetting 
.usa-prose {
  font-family: family('lang');
}


// Page width
// -------------------------------------
.next-hero .grid-container,
.next-internal-nav .grid-container,
.next-section .grid-container {
  max-width: 65rem !important;
  width: 100%;
}

// Hero
// -------------------------------------
.next-hero {
  align-content: center;
  align-items: center;
  background-color: color("gray-80");
  color: color("white");
  display: flex;
  flex-direction: column;
}

.next-hero__content {
  display: flex;
  flex-direction: column;
  margin: units(3) 0;

  @include at-media("tablet") {
    align-items: center;
    margin: units(10) 0;
    text-align: center;
  }

  @include at-media("desktop") {
    margin: units(15) 0;
  }
}

.next-hero__heading {
  font-size: size('lang', 12);
  line-height: line-height('lang', 2);
  margin: 0;
  max-width: 30ex;
  
  @include at-media("tablet") {
    font-size: size('lang', 15);
  }
}

.next-hero__subhead {
  font-size: size('lang', 8);
  line-height: line-height('lang', 2);
  margin: units(2) 0 0;
  max-width: 40ex;

  @include at-media("tablet") {
    font-size: size('lang', 11);
  }
}

.next-hero__banner-container {
  width: 100%;
}

.next-hero__banner {
  display: block;
  width: 100%;
}

.next-hero__ownership {
  width: 100%; 

  @include at-media("tablet") {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: units(3) 0;
  }
}

.next-hero__ownership-item {
  align-items: center;
  display: flex;
  margin: units(2) 0;
  
  span {
    font-size: size('lang', '3xs');
  }
}

.next-hero__ownership-img {
  display: block;
  margin-right: units(1.5);
  width: 28px;

  @include at-media("tablet") {
    width: 36px;
  }
}

.next-hero__ownership-item:first-of-type {
  @include at-media("tablet") {
    flex-direction: row-reverse;

    .next-hero__ownership-img {
      margin-left: units(1.5);
      margin-right: 0;
    }
  }
}

// Internal nav
// -------------------------------------
.next-internal-nav {
  background-color: color("gray-5");
  position: sticky;
  left: 0;
  top: 0;
  z-index: z('top'); 
}

.next-internal-nav__list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  @include at-media("tablet") {
    justify-content: center;
  }
}

.next-internal-nav__item {
  margin: units(1) 0;
  padding: 0;
  @include at-media("tablet") {
    margin-left: units(3);
    margin-right: units(3);
  }
}

.next-internal-nav__link,
.next-internal-nav__link:visited {
  border-bottom: 2px solid transparent;
  color: color("mint-60");
  display: block;
  font-size: size('lang', '3xs');
  font-weight: font-weight('bold');
  padding: units(1.5) units(.5);
  text-decoration: none;

  @include at-media("tablet") {
    font-size: size('lang', 'md');
    padding: units(1.5) units(2);
  }

  &.current {
    border-color: color('gray-80');
    color: color('gray-80');
  }
}

// Button
// -------------------------------------
.usa-button--next {
  background-color: color("mint-60");

  &:hover,
  &:focus {
    background-color: color("mint-70");
  }

  &:active {
    background-color: color("mint-80");
  }
}

// Section
// -------------------------------------
.next-overview {
  margin-top: 1em;

  @include at-media("tablet") {
    margin-top: 0;
  }
}

.next-section {
  padding-bottom: units(9);
  padding-top: units(9);

  &:focus {
    outline: none;
  }

  h2 {
    font-size: size('lang', 12);
    margin-top: 0;
    margin-bottom: 0;

    @include at-media("tablet") {
      font-size: size('lang', 14);
    }
  }
}

.next-section--dark {
  background-color: color("gray-80");
  color: color("white");
}

// Findings
// -------------------------------------
.next-findings__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.next-findings__item {
  display: flex;
  flex-direction: column;
  margin: units(5) 0;

  @include at-media("tablet") {
    align-items: center;
    flex-direction: row;
  }
}

.next-findings__img {
  display: block;
  height: 58px;
  width: 58px;
  margin-bottom: units(2);

  @include at-media("tablet") {
    height: 120px;
    margin-bottom: 0;
    width: 120px;
  }

  @include at-media("desktop") {
    height: 150px;
    width: 150px;
  }
}

.next-findings__heading {
  font-family: family('lang') !important;
  font-size: size('lang', 9) !important;
  margin: 0 !important;

  @include at-media("tablet") {
    font-size: size('lang', 11) !important;
  }
}

.next-findings__body {

  p:first-of-type {
    margin-top: 0 !important;
  }
}

// Involvements
// -------------------------------------

.next-involvements__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: units(4) 0;
}

.next-involvements__img {
  display: block;
  height: 63px;
  margin-bottom: units(2);
  width: 63px;

  @include at-media("tablet") {
    height: 90px;
    margin-bottom: units(3);
    width: 90px;
  }
}

.next-involvements__button{
  align-self: flex-start;
}

.next-involvements__heading {
  font-size: size('lang', 10);
  margin: 0;
}

.next-involvements__body {
  margin-bottom: units(3);
}