// Imports
@import "./settings/variables";
@import "./settings/uswds-theme-general";
@import "./settings/uswds-theme-typography";
@import "./settings/uswds-theme-spacing";
@import "./settings/uswds-theme-color";
@import "./settings/uswds-theme-utilities";

// Tools
// -------------------------------------
@import "uswds/packages/uswds-core";

$indigo-cool-80: #292d42;

$pink-20v: #f8a897;
$pink-50v: #bc5843;

$gray-20-next: #eaece9;
$gray-80-next: #2e2e2e;
$gray-90-next: #202020;

$next-button-color: #2672de;
$next-button-hover-color: #0d53b7;

$next-theme-colors: (
  "next-gray-medium" #d8d8d0 true,
  "next-gray-dark" #2e2e2e,
  "next-gold-medium" #f2b600 true,
  "next-gold-dark" #b38600 true,
  "next-red-medium" #e41d3d,
  "next-red-dark" #bd0f2c,
  "next-pink-medium" #f8a897 true,
  "next-pink-dark" #d67b66 true,
  "next-blue-medium" #2672de,
  "next-blue-dark" #1f5aad,
  "next-mint-medium" #74d7ad true,
  "next-mint-dark" #45a17a true,
  "together-green" #00a91c true
);

@each $color-name, $color-value, $text-black in $next-theme-colors {
  .bg-#{$color-name} {
    background-color: $color-value !important;
    @if $text-black == true {
      color: $gray-90-next !important;
    }
  }
  .text-#{$color-name} {
    color: $color-value !important;
  }
}

html {
  scroll-padding-top: units(15) + units(3);
}

// Typesetting
.usa-prose {
  font-family: family("lang");
}

.usa-button--next {
  background-color: $next-button-color;

  &:hover,
  &:focus {
    background-color: $next-button-hover-color;
  }
}
// .usa-dark-background .usa-button--next {
//   color: white; // .usa-dark-background a makes links light grey, fails WCAG AAA
// }

.usa-button--next.usa-button--outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $next-button-color;
  color: $next-button-color;

  &:hover,
  &:focus {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $next-button-hover-color;
    color: $next-button-hover-color;
  }
}

// Page width
// -------------------------------------
// https://designsystem.digital.gov/utilities/layout-grid/
.together-hero .grid-container,
.together-internal-nav .grid-container,
.together-section .grid-container {
  max-width: 87.5rem !important;
  width: 100%;
}

// Header
.together-site-header,
.together-site-header .site-header-navbar {
  background-color: $gray-80-next;
}

.site-header--dark .site-logo .usa-logo__text::before {
  filter: brightness(20);
}

// Hero
// -------------------------------------
.together-hero {
  align-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #adadad;
  color: color("white");
  display: flex;
  @include at-media("tablet") {
    align-content: center;
  }
  .together-hero__image {
    position: block;
    @include at-media("tablet") {
      position: absolute;
    }
  }
}

.heading-wrapper {
  @include at-media("tablet") {
    min-height: 14rem;
  }
}

.together-hero__heading {
  font-size: size("lang", 12);
  line-height: line-height("lang", 2);
  margin: 0;
  max-width: 30ex;

  @include at-media("tablet") {
    font-size: size("lang", 13);
  }

  @include at-media("desktop") {
    font-size: size("lang", 15);
  }
}

.together-hero__subhead {
  font-size: size("lang", 8);
  font-weight: $theme-font-weight-normal;
  line-height: line-height("lang", 2);
  max-width: 40ex;
  margin: units(2) 0 0;

  @include at-media("tablet") {
    font-size: size("lang", 9);
    max-width: 32ex;
  }

  @include at-media("desktop") {
    font-size: size("lang", 11);
    max-width: 29ex;
  }
}

.together-hero__banner-container {
  width: 100%;

  img {
    display: block;
    margin: units(5) 0;
    width: 100%;
  }
}

.together-hero--chapter {
  flex-flow: wrap;
  padding-bottom: 0;
  // min-height: 24rem;
  @include at-media("tablet") {
    padding-bottom: 0;
  }

  .together-hero__subhead {
    max-width: none;
    @include at-media("desktop") {
      margin-bottom: units(4);
    }
  }
}
.together-hero--page__pattern {
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: bottom right units(-4);
  background-size: contain;
  margin-top: units(5);
  height: units(5);
  width: 100%;
  @include at-media("desktop") {
    height: units(10);
  }
}

.together-hero--chapter__pattern {
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: bottom right units(-4);
  background-size: contain;
  height: units(10);
  width: 100%;
  @include at-media("desktop") {
    height: units(15);
  }
}

.together-hero--page {
  flex-flow: wrap;
  padding-bottom: units(5);

  .together-hero__subhead {
    color: inherit;
    text-transform: uppercase;
    font-size: size("sans", 2);
    font-weight: font-weight("semibold");
    margin-bottom: units(2);
    letter-spacing: 0.1em;
    max-width: none;
  }

  .together-hero__heading {
    font-family: family("heading");
    font-size: size("heading", 12);
    font-weight: font-weight("bold");

    @include at-media("tablet") {
      font-size: size("heading", 13);
    }

    @include at-media("desktop") {
      font-size: size("heading", 15);
    }
  }
}

// Internal nav
// -------------------------------------
.together-internal-nav {
  border-bottom: 2px solid #adadad;
  margin-bottom: -4px;
  @include at-media("mobile-lg") {
    position: sticky;
    left: 0;
    top: 0;
    z-index: z("top");
  }
}

.together-internal-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;

  @include at-media("mobile-lg") {
    align-items: center;
    flex-direction: row;
  }
}

.together-internal-nav__item {
  margin: 0;
  padding: 0;
  @include at-media("tablet") {
    margin-right: 5rem;
  }
}

.together-internal-nav__link,
.together-internal-nav__link:visited {
  border-bottom: none;
  color: #565c65;
  display: block;
  font-size: size("lang", "3xs");
  padding: units(1) units(0.5);
  text-decoration: none;

  @include at-media("desktop") {
    border-bottom: 2px solid transparent;
    font-size: size("lang", "md");
    padding: units(1.5) units(1);
  }

  &:hover {
    color: #565c65;
    border-color: #565c65;
  }

  &.current {
    border-color: #565c65;
    color: #565c65;
    font-weight: font-weight("bold");
  }
}

.next-internal-nav__item--button {
  display: none;
  @include at-media("desktop") {
    display: list-item;
    margin-right: 0;
  }
}

.next-report-title {
  background-color: $gray-90-next;
  color: color("white");
  display: block;
  font-family: family("heading");
  font-size: size("heading", "sm");
  font-weight: font-weight("semibold");
  padding: units(1) units(1);
  text-align: center;
  text-decoration: none;
  @include at-media("desktop") {
    font-size: size("heading", "lg");
    padding: units(1.5) units(1);
  }
}

// Blockquote
// -------------------------------------
.together-quote {
  border: 3px dashed $gray-20-next;
  margin-top: units(6);
  margin-bottom: units(6);
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: units(5) units(2);
  @include at-media("tablet") {
    padding: 5rem 10rem;
  }
}

.together-quote__icon {
  color: color("red-50");
}

.together-quote__quote {
  font-family: family("heading");
  font-size: size("heading", 13);
  font-weight: font-weight("bold");
  line-height: line-height("heading", 3);
  margin-top: units(2);
  margin-left: 0;
  margin-right: 0;
  border-left-width: 5px;
  color: $indigo-cool-80;
  @include at-media("tablet") {
    font-size: size("heading", 14);
  }
}

.together-quote__source {
  color: color("base-darkest");
  display: block;
  font-size: size("lang", 9);
  font-weight: font-weight("thin");
}

.together-quote__source-desc {
  color: color("base");
  display: block;
  font-size: size("lang", 5);
  margin-top: units(5);
  font-style: italic;
}

// Together Section
// -------------------------------------

.usa-in-page-nav-container {
  justify-content: center;
}

.next-overview {
  margin-top: 1em;

  @include at-media("tablet") {
    margin-top: 0;
  }
}

.together-section {
  border-bottom: 4px dotted $gray-20-next;
  padding-bottom: units(9);
  padding-top: units(9);

  @include at-media("desktop") {
    padding-bottom: units(15);
    padding-top: units(15);
  }

  &:focus {
    outline: none;
  }

  h2 {
    font-family: family("heading");
    font-size: size("heading", 12);
    line-height: line-height("heading", 3);
    margin-top: 0;
    margin-bottom: units(1.5);

    @include at-media("desktop") {
      font-size: size("heading", 14);
    }
  }

  h3 {
    font-size: size("lang", 11);
    margin: units(4) 0 0 0;
  }

  h4 {
    color: color("base");
    font-size: size("lang", 9);
    margin-bottom: 0;
  }
  p {
    font-size: size("lang", 6);
    color: color("base-darkest");
  }
  .border-together-green {
    border-color: #00a91c !important;
  }
}

.together-section--shaded {
  background-color: $gray-20-next;
}

.together-section__header {
  border-top: 5px solid $indigo-cool-80 !important;
  padding-top: units(2);
  margin-bottom: 2rem;
}

.together-section__subhead {
  font-weight: font-weight("bold");
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.together-section__heading {
  font-family: family("heading");
  font-size: size("heading", 12);
  margin-top: 0;
  margin-bottom: units(2.5);
  color: $indigo-cool-80;
  padding-bottom: units(2);
  @include at-media("desktop") {
    font-size: size("heading", 16);
  }
}

.together-section--purpose {
  .together-section__header {
    border-color: color("red-50");
  }

  .together-section__subhead {
    color: color("red-50");
  }
}

.together-section--findings {
  .together-section__header {
    border-color: color("mint-20");
  }

  .together-section__subhead {
    color: color("mint-60");
  }
}

.together-section--whats-next {
  .together-section__header {
    border-color: color("gold-20v");
  }

  .together-section__subhead {
    color: color("gold-50v");
  }
}

.together-section--get-involved {
  .together-section__header {
    border-color: $pink-20v;
  }

  .together-section__subhead {
    color: $pink-50v;
  }
}

.together-section-description > p:first-child {
  font-size: size("lang", 8);
  margin-top: 0;
}

.together-section-prose {
  h3 {
    margin-top: units(4);
  }

  & > p:first-child {
    font-size: size("lang", 8);
    margin-top: 0;
  }
}

.next-highlight-text {
  @include u-measure(3);
  color: color("gold-50v");
  font-size: size("lang", 11);
  margin: units(10) 0;
}

.next-lead {
  font-size: size("lang", 8);
}

// Bulleted list with icon
// -------------------------------------
.next-bulleted-list {
  display: flex;
  flex-flow: row wrap;
  margin: units(2) 0;

  .usa-icon {
    flex-shrink: 0;
    margin-right: units(2);
  }

  h3 {
    flex: 1;

    & + p {
      flex: unset;
    }
  }

  p {
    flex: 1;
  }

  ul {
    flex: unset;
    width: 100%;
  }
}

// Styled inline blockquote
.together-blockquote {
  position: relative;
  border-left: 5px solid #005ea2;
  color: $indigo-cool-80;
  font-family: family("heading");
  font-size: size("heading", 8);
  font-weight: $theme-font-weight-bold;
  line-height: line-height("heading", 3);
  margin-top: units(6);
  margin-bottom: units(6);
  margin-left: 0;
  padding-left: 2.5rem;

  @include at-media("desktop") {
    font-size: size("heading", 10);
  }

  .usa-icon {
    display: block;
    width: units(2.5);
    height: units(2.5);
    content: url("data:image/svg+xml,%3Csvg width='38' height='28' viewBox='0 0 38 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.0013 0.589043L27.0013 0.589044L21.668 11.2557L21.668 27.2557L37.668 27.2557L37.668 11.2557L29.668 11.2557L35.0013 0.589043ZM13.668 0.589045L5.66797 0.589045L0.334631 11.2557L0.334633 27.2557L16.3346 27.2557L16.3346 11.2557L8.33463 11.2557L13.668 0.589045Z' fill='$indigo-cool-80'/%3E%3C/svg%3E%0A");
    fill: $indigo-cool-80;
    position: absolute;
    left: 0.5rem;
    top: units(0.5);
    opacity: 0.8;
  }

  .together-blockquote__source {
    color: color("gray-cool-60");
    font-family: family("lang");
    font-size: size("lang", 4);
    font-weight: $theme-font-weight-normal;
    margin-top: units(2);
  }
}

.together-blockquote--block {
  border-left: none;

  color: color("gray-cool-90");

  font-size: size("heading", 12);
  font-weight: $theme-font-weight-bold;

  margin-top: units(15);
  margin-bottom: units(10);

  margin-left: units(6);
  margin-right: 0;

  @include at-media("desktop") {
    font-size: size("heading", 14);
  }
  .usa-icon {
    width: units(4);
    height: units(4);
    left: units(-6);
  }
  .together-blockquote__source {
    font-size: size("lang", 8);
    margin-top: units(3);
  }

  .together-blockquote__context {
    color: color("gray-cool-60");
    display: block;
    font-family: family("lang");
    font-size: size("lang", 4);
    font-weight: $theme-font-weight-normal;
    margin-top: units(2);
    margin-left: units(3);
    padding-left: units(0.5);
  }
}
.together-blockquote--inline {
  font-size: size("heading", 7);
  font-weight: $theme-font-weight-normal;
  line-height: line-height("heading", 3);
  & + h3 {
    margin-top: units(5);
  }
}
// Spot item
// -------------------------------------

.next-spot-item {
  display: flex;
  margin: units(2) 0;

  @include at-media("tablet") {
    flex-direction: column;
  }

  .usa-icon {
    flex-shrink: 0;
    margin-bottom: units(1.5);
    margin-right: units(2);
  }
}

.next-spot-item--row {
  @include at-media("tablet") {
    flex-direction: row;
  }
}

// Findings
// -------------------------------------

.together-finding {
  display: flex;
  margin-bottom: units(2);
  min-height: 7rem;
  flex-flow: column;

  @include at-media("desktop") {
    min-height: 10rem;
    margin: units(5) 0;
  }
}

.together-finding__img {
  display: block;
  height: 60px;
  margin-right: units(3);
  width: 60px;
}

.together-finding__heading {
  font-family: family("lang") !important;
  font-size: size("lang", 8) !important;
  line-height: line-height("lang", 2);
  margin: 0 !important;
}

.together-section .together-finding__heading {
  color: $gray-80-next;
}

.together-finding__text {
  margin-top: units(1);
  min-height: 110px;
}

// Opportunities List
// -------------------------------------

.together-section--opportunities {
  margin-bottom: units(-3);
  padding-top: 0;

  .next-opportunity__heading {
    color: color("base-darker");
    font-family: family("lang");
    font-size: size("lang", 8);
    line-height: line-height("lang", 2);
    margin: 0 0 units(1);
  }
  .next-opportunity-description {
    margin: 0;
    font-size: size("lang", 4);

    @include at-media("desktop") {
      font-size: size("lang", 5);
    }

    p:first-child {
      margin-top: 0;
    }
  }

  .next-opportunity__need--need-img {
    @include u-square(2);
    margin-right: units(2);
    @include at-media("desktop") {
      @include u-square(2);
    }
  }

  .next-opportunity__need--need-label {
    font-size: size("lang", 6);
    font-weight: $theme-font-weight-semibold;
    margin-right: units(4);
    @include at-media("desktop") {
      font-size: size("heading", 7);
    }
  }
}

// Footnotes
// -------------------------------------

.together-section--citations {
  padding-top: units(4);
  padding-bottom: units(5);
  margin-top: units(-3);
}

.footnote {
  &::before {
    content: "[";
  }
  &::after {
    content: "]";
  }
}
.footnotes a {
  word-break: break-all;
}

.reversefootnote {
  font-family: family("sans");
  font-size: size("sans", 4);
}

// Next Pagination cards
// --------------------------------------

.next-page-card {
  a {
    text-decoration: none;
  }
}
.next-page-card__subheading {
  text-transform: uppercase;
  display: block;
  font-family: family("sans");
  font-size: size("sans", 2);
  font-weight: font-weight("semibold");
  margin-bottom: units(2);
  letter-spacing: 0.1em;
}

.next-page-card__img {
  background-color: transparent;
  background-repeat: repeat-x;
  background-position: bottom units(2) right units(-3);
  background-size: auto units(0);
  height: units(1);
  width: 100%;
  @include at-media("tablet") {
    background-size: auto units(15);
    height: 100%;
  }
}
