<tr{% if token.value %}{% else %} class="is-empty"{% endif %}>
  <td scope="row" data-title="Color" class="flex-align-center">
    <span class="site-inline-swatch bg-{{ color.token }}"></span>
  </td>
  <td data-title="Token">
    {% if color.value %}
    <span class="utility-class">'{{ color.token }}'</span>
    {% else %}
    <span>—</span>
    {% endif %}
  </td>
  <td data-title="Family">
    {{ color.family }}
  </td>
  <td data-title="Grade">
    {% if color.grade %}
    {{ color.grade }}
    {% else %}
    <span>—</span>
    {% endif %}
  </td>
  <td data-title="Variant">
    {% if color.variant %}
    {{ color.variant }}
    {% else %}
    <span>—</span>
    {% endif %}
  </td>
  <td data-title="Hex equivalent" class="text-right font-mono-2xs">
    {% if color.value %}
    <span>{{ color.value }}</span>
    {% else %}
    <span>—</span>
    {% endif %}
  </td>
</tr>
