@forward "variables";
@forward "packages/uswds-core" with (
  $theme-show-notifications: false,
  $theme-layout-grid-use-important: true,
  $theme-root-font-size: 16px,
  $theme-global-link-styles: true,
  $theme-font-type-lang: "public-sans",
  $theme-type-scale-lg: 8,
  $theme-type-scale-xl: 11,
  $theme-font-weight-thin: 200,
  $theme-font-weight-medium: 500,
  $theme-font-weight-semibold: 600,
  $theme-font-weight-heavy: 800,
  $theme-generate-all-weights: true,
  $theme-style-body-element: true,
  $theme-text-measure: 3,
  $theme-text-measure-wide: 4,
  $theme-lead-measure: 5,
  $theme-color-base-family: 'gray',
  $theme-color-base-lighter: 'gray-10',
  $theme-color-base-light: 'gray-30',
  $theme-color-base: 'gray-50',
  $theme-color-base-dark: 'gray-60',
  $theme-color-base-darker: 'gray-80',
);
