// USWDS Overrides
$color-grid-dark: "base";
$color-grid-light: "base-lightest";
$font-monospace: Consolas, Monaco, "Andale Mono", monospace;
$asset-path: "../";
$font-path: "#{$asset-path}fonts";
$image-path: "#{$asset-path}img";

$touchpoints-href: '[href^="https://touchpoints.app.cloud.gov/touchpoints"]';
$federalist-href: '[href^="https://federalist"]';
$site-href: '[href*="designsystem.digital.gov"]';
$external-href: '[href^="http"]:not(#{$site-href}, #{$touchpoints-href}, #{$federalist-href})';

$z-nav-secondary: 100;

// Site image path, relative to /assets/css/
$site-image-path: "../../img";

// Custom Variables
$media-block-header-font-size: "md";
$media-block-body-font-size: "xs";
$height-nav-secondary: 6;
$width-nav-sidebar: "card-lg";

$site-primary-family: "blue-warm";
$site-primary-lighter: "#{$site-primary-family}-10";
$site-primary-light: "#{$site-primary-family}-30";
$site-primary: "#{$site-primary-family}-50";
$site-primary-vivid: "#{$site-primary-family}-50v";
$site-primary-dark: "#{$site-primary-family}-70";
$site-primary-darker: "#{$site-primary-family}-80";
$site-ink: "black-transparent-80";

$site-border-width: 2px;
$site-base-transparent-light: "black-transparent-10";
$site-background-color: "gray-1";
