<form class="usa-form usa-form--large">
    <fieldset class="usa-fieldset">
        <legend class="usa-legend usa-legend">Biological sex</legend>
        <div class="usa-radio">
            <input class="usa-radio__input" id="male" type="radio" name="biological-sex" value="male" />
            <label class="usa-radio__label" for="male">Male</label>
        </div>
        <div class="usa-radio">
            <input class="usa-radio__input" id="female" type="radio" name="biological-sex" value="female" />
            <label class="usa-radio__label" for="female">Female</label>
        </div>
        <div class="usa-radio">
            <input class="usa-radio__input" id="x" type="radio" name="biological-sex" value="x" />
            <label class="usa-radio__label" for="x">X (intersex or unspecified)</label>
        </div>
    </fieldset>
</form>