<form class="usa-form usa-form--large">
  <fieldset class="usa-fieldset">
    <legend class="usa-legend usa-legend">Sex listed at birth</legend>
    <span class="usa-hint" id="sexHint">Please enter the sex that appears on your original birth certificate. Use `X` for a sex listed on your birth certificate that is neither male nor female. <a href="#">Why do we ask for sex information?</a></span>
    <div class="usa-radio">
      <input class="usa-radio__input" id="male" type="radio" name="biological-sex" value="male" />
      <label class="usa-radio__label" for="male">Male</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="female" type="radio" name="biological-sex" value="female" />
      <label class="usa-radio__label" for="female">Female</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="x" type="radio" name="biological-sex" value="x" />
      <label class="usa-radio__label" for="x">X</label>
    </div>
  </fieldset>
</form>