<form class="usa-form usa-form--large">
  <fieldset class="usa-fieldset">
    <legend class="usa-legend usa-legend--large">Contact preferences</legend>
    <label class="usa-label" for="preferred-means-of-communication">We will only contact you if there is a question about your application.</label>
    <div class="usa-radio">
      <input class="usa-radio__input" id="telephone-call" type="radio" name="preferred-means-of-communication" value="telephone-call" />
      <label class="usa-radio__label" for="telephone-call">Telephone call</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="text-message" type="radio" name="preferred-means-of-communication" value="text-message" />
      <label class="usa-radio__label" for="text-message">Text message</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="email-address" type="radio" name="preferred-means-of-communication" value="email-address" />
      <label class="usa-radio__label" for="email-address">Email</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="postal-mail" type="radio" name="preferred-means-of-communication" value="postal-mail" />
      <label class="usa-radio__label" for="postal-mail">Postal mail</label>
    </div>
    <label class="usa-label" for="additional-information">Additional information that will help us contact you</label>
    <div class="usa-hint" id="cpHint">For example, “Please leave a message” or “I'm a TTY/TDD user"</div>
    <textarea class="usa-textarea" id="additional-information" name="additional-information" aria-describedby="cpHint" cols="30" rows="3"></textarea>
  </fieldset>
</form>

