<fieldset class="usa-fieldset margin-top-4">
    <legend class="usa-legend">Memorable Date</legend>
    <span class="usa-hint" id="mbHint">For example: 01 19 1971
</span>
    <div class="usa-memorable-date">
        <div class="usa-form-group usa-form-group--month">
            <label class="usa-label" for="date_of_birth_1">Month</label>
            <input class="usa-input" aria-describedby="mdHint" id="date_of_birth_3" name="date_of_birth_3"
                maxlength="2" pattern="[0-9]*" inputmode="numeric" value="" />
        </div>
        <div class="usa-form-group usa-form-group--day">
            <label class="usa-label" for="date_of_birth_2">Day</label>
            <input class="usa-input" aria-describedby="mdHint" id="date_of_birth_4" name="date_of_birth_4"
                maxlength="2" pattern="[0-9]*" inputmode="numeric" value="" />
        </div>
        <div class="usa-form-group usa-form-group--year">
            <label class="usa-label" for="date_of_birth_3">Year</label>
            <input class="usa-input" aria-describedby="mdHint" id="date_of_birth_5" name="date_of_birth_5"
                minlength="4" maxlength="4" pattern="[0-9]*" inputmode="numeric" value="" />
        </div>
    </div>
</fieldset>