<fieldset class="usa-fieldset">
    <legend class="usa-legend">Memorable Date</legend>
    <span class="usa-hint" id="mdHint">For example: 01 19 1971
</span>
    <div class="usa-memorable-date">
        <div class="usa-form-group usa-form-group--month">
            <label class="usa-label" for="date_of_birth_month">Month</label>
            <input class="usa-input" aria-describedby="mdHint" id="date_of_birth_month" name="date_of_birth_month"
                maxlength="2" pattern="[0-9]*" inputmode="numeric" value="" />
        </div>
        <div class="usa-form-group usa-form-group--day">
            <label class="usa-label" for="date_of_birth_day">Day</label>
            <input class="usa-input" aria-describedby="mdHint" id="date_of_birth_day" name="date_of_birth_day"
                maxlength="2" pattern="[0-9]*" inputmode="numeric" value="" />
        </div>
        <div class="usa-form-group usa-form-group--year">
            <label class="usa-label" for="date_of_birth_year">Year</label>
            <input class="usa-input" aria-describedby="mdHint" id="date_of_birth_year" name="date_of_birth_year"
                minlength="4" maxlength="4" pattern="[0-9]*" inputmode="numeric" value="" />
        </div>
    </div>
</fieldset>