<label class="usa-label" for="email">Email address</label>
<input class="usa-input margin-bottom-1" id="email" name="email" type="email" autocapitalize="off" autocorrect="off" required />
<div class="usa-radio">
  <input class="usa-radio__input" id="yes-info" type="radio" name="sensitive-info"
    value="yes-info" />
  <label class="usa-radio__label" for="yes-info">Yes, you may send sensitive information via email</label>
</div>
<div class="usa-radio">
  <input class="usa-radio__input" id="no-info" type="radio" name="sensitive-info"
    value="no-info" />
  <label class="usa-radio__label" for="no-info">No, please do not send sensitive information via email</label>
</div>