<div class="grid-container padding-0">
  <div class="grid-row">
    <div class="tablet:grid-col">
      <h4 class="margin-top-0 font-lang-lg margin-bottom-2">Before you get started on this form</h4>
      <p class="margin-top-0">It will take most people about one hour to complete this form. You will need the following information:</p>
      <ul class="usa-icon-list">
        <li class="usa-icon-list__item">
          <div class="usa-icon-list__icon text-green">
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use href="{{ site.baseurl }}/assets/img/sprite.svg#check_circle"></use>
            </svg>
          </div>
          <div class="usa-icon-list__content">
            Names and birth dates of all family members living with you.
          </div>
        </li>
        <li class="usa-icon-list__item">
          <div class="usa-icon-list__icon text-green">
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use href="{{ site.baseurl }}/assets/img/sprite.svg#check_circle"></use>
            </svg>
          </div>
          <div class="usa-icon-list__content">Social Security Numbers (or the equivalent) for all family members living with you.</div>
        </li>
        <li class="usa-icon-list__item">
          <div class="usa-icon-list__icon text-green">
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use href="{{ site.baseurl }}/assets/img/sprite.svg#check_circle"></use>
            </svg>
          </div>
          <div class="usa-icon-list__content">The addresses of each of the places you've lived in the last five years.</div>
        </li>
        <li class="usa-icon-list__item">
          <div class="usa-icon-list__icon text-green">
            <svg class="usa-icon" aria-hidden="true" role="img">
              <use href="{{ site.baseurl }}/assets/img/sprite.svg#check_circle"></use>
            </svg>
          </div>
          <div class="usa-icon-list__content">Names and phone numbers for three people who are not related to you, but who have known you for at least three years.</div>
        </li>
      </ul>
      <p>We will be asking you to describe your experience. We know these questions can be difficult. If at any time you need to take a break, simply save the form. You can start again where you left off when you are ready.</p>
    </div>
</div>
</div>