<label class="usa-label" for="gender-identity">Gender identity</label>
<div class="usa-hint" id="gHint">For example, man, woman, non-binary</div>
<input class="usa-input" id="gender-identity" name="gender-identity" aria-describedby="gHint"/>
<div class="usa-checkbox">
  <input class="usa-checkbox__input" id="prefer-not-to-answer" type="checkbox"
    name="prefer-not-to-answer" value="prefer-not-to-answer" />
  <label class="usa-checkbox__label" for="prefer-not-to-answer">Prefer not to share my gender identity</label>
</div>