<form class="usa-form usa-form--large">
    <fieldset class="usa-fieldset">
        <legend class="usa-legend usa-legend--large">Gender or Sex</legend>
        <label class="usa-label" for="gender-identity">Gender Identity</label>
        <input class="usa-input" id="gender-identity" name="gender-identity" />
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="prefer-not-to-answer" type="checkbox"
                name="prefer-not-to-answer" value="prefer-not-to-answer" />
            <label class="usa-checkbox__label" for="prefer-not-to-answer">Prefer not to answer</label>
        </div>
        <legend class="usa-legend usa-legend">Biological Sex</legend>
        <div class="usa-radio">
            <input class="usa-radio__input" id="male" type="radio" name="biological-sex" value="male" />
            <label class="usa-radio__label" for="male">Male</label>
        </div>
        <div class="usa-radio">
            <input class="usa-radio__input" id="female" type="radio" name="biological-sex" value="female" />
            <label class="usa-radio__label" for="female">Female</label>
        </div>
        <div class="usa-radio">
            <input class="usa-radio__input" id="x" type="radio" name="biological-sex" value="x" />
            <label class="usa-radio__label" for="x">X</label>
        </div>
    </fieldset>
</form>