<h3 class="site-preview-heading">Preferred language - Spoken</h3>
<form class="usa-form usa-form--large">
    <fieldset class="usa-fieldset" aria-multiselectable="true">
        <legend class="usa-legend">I prefer to speak the following language or languages:</legend>
        <div class="usa-hint">Select all that apply</div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="arabic" type="checkbox"
                name="arabic" value="arabic" />
            <label class="usa-checkbox__label" for="arabic">العربية - Arabic</label>
        </div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="chinese" type="checkbox" name="chinese"
                value="chinese" />
            <label class="usa-checkbox__label" for="chinese">简体字 - Chinese (Simplified)</label>
        </div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="english" type="checkbox" name="english"
                value="english" />
            <label class="usa-checkbox__label" for="english">English</label>
        </div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="spanish" type="checkbox" name="spanish"
                value="spanish" />
            <label class="usa-checkbox__label" for="spanish">Español - Spanish</label>
        </div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="french" type="checkbox"
                name="french" value="french" />
            <label class="usa-checkbox__label" for="french">Français - French</label>
        </div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="russian" type="checkbox" name="russian"
                value="russian" />
            <label class="usa-checkbox__label" for="russian">Pусский - Russian</label>
        </div>
        <label class="usa-label" for="other-languages">Other languages</label>
        <div class="usa-hint" id="gnHint">You may report more than one language</div>
        <input class="usa-input usa-input--xl" id="other-languages" name="other-languages">
    </fieldset>
</form>
<h3 class="site-preview-heading">Preferred language - Written</h3>
<form class="usa-form usa-form--large">
    <fieldset class="usa-fieldset" aria-multiselectable="true">
        <legend class="usa-legend">I prefer to receive written communication in:</legend>
        <div class="usa-hint">Select all that apply</div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="arabic" type="checkbox" name="arabic" value="arabic" />
            <label class="usa-checkbox__label" for="arabic">العربية - Arabic</label>
        </div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="chinese" type="checkbox" name="chinese" value="chinese" />
            <label class="usa-checkbox__label" for="chinese">简体字 - Chinese (Simplified)</label>
        </div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="english" type="checkbox" name="english" value="english" />
            <label class="usa-checkbox__label" for="english">English</label>
        </div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="spanish" type="checkbox" name="spanish" value="spanish" />
            <label class="usa-checkbox__label" for="spanish">Español - Spanish</label>
        </div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="french" type="checkbox" name="french" value="french" />
            <label class="usa-checkbox__label" for="french">Français - French</label>
        </div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="russian" type="checkbox" name="russian" value="russian" />
            <label class="usa-checkbox__label" for="russian">Pусский - Russian</label>
        </div>
        <label class="usa-label" for="other-languages">Other languages</label>
        <div class="usa-hint" id="gnHint">You may report more than one language</div>
        <input class="usa-input usa-input--xl" id="other-languages" name="other-languages">
        </fieldset>
</form>