<h4 class="site-preview-heading">Preferred language - Spoken</h4>
<form class="usa-form usa-form--large">
  <fieldset class="usa-fieldset">
    <legend class="usa-legend">I prefer to speak the following language or languages:</legend>
    <div class="usa-hint">Select all that apply</div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="american-sign-language" type="checkbox" name="american-sign-language"
        value="arabic" />
      <label class="usa-checkbox__label" for="american-sign-language">American Sign Language (ASL)</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="arabic-spoken" type="checkbox"
        name="arabic-spoken" value="arabic-spoken" />
      <label class="usa-checkbox__label" for="arabic-spoken">العربية - Arabic</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="chinese-spoken" type="checkbox" name="chinese-spoken"
        value="chinese-spoken" />
      <label class="usa-checkbox__label" for="chinese-spoken">简体字 - Chinese (Simplified)</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="english-spoken" type="checkbox" name="english-spoken"
        value="english-spoken" />
      <label class="usa-checkbox__label" for="english-spoken">English</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="spanish-spoken" type="checkbox" name="spanish-spoken"
        value="spanish-spoken" />
      <label class="usa-checkbox__label" for="spanish-spoken">Español - Spanish</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="french-spoken" type="checkbox"
        name="french-spoken" value="french" />
      <label class="usa-checkbox__label" for="french-spoken">Français - French</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="russian-spoken" type="checkbox" name="russian-spoken"
        value="russian-spoken" />
      <label class="usa-checkbox__label" for="russian-spoken">Pусский - Russian</label>
    </div>
    <label class="usa-label" for="other-languages-spoken">Other languages</label>
    <div class="usa-hint" id="spHint">For example, Tagalog or Portuguese</div>
    <input class="usa-input usa-input--xl" id="other-languages-spoken" name="other-languages" aria-describedby="spHint" >
  </fieldset>
  </form>
  <h4 class="site-preview-heading">Preferred language - Written</h4>
  <form class="usa-form usa-form--large">
  <fieldset class="usa-fieldset">
    <legend class="usa-legend">I prefer to receive written communication in:</legend>
    <div class="usa-hint">Select all that apply</div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="arabic-written" type="checkbox" name="arabic-written" value="arabic-written" />
      <label class="usa-checkbox__label" for="arabic-written">العربية - Arabic</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="chinese-written" type="checkbox" name="chinese" value="chinese-written" />
      <label class="usa-checkbox__label" for="chinese-written">简体字 - Chinese (Simplified)</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="english-written" type="checkbox" name="english" value="english-written" />
      <label class="usa-checkbox__label" for="english-written">English</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="spanish-written" type="checkbox" name="spanish" value="spanish-written" />
      <label class="usa-checkbox__label" for="spanish-written">Español - Spanish</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="french-written" type="checkbox" name="french" value="french-written" />
      <label class="usa-checkbox__label" for="french-written">Français - French</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="russian-written" type="checkbox" name="russian" value="russian-written" />
      <label class="usa-checkbox__label" for="russian-written">Pусский - Russian</label>
    </div>
    <label class="usa-label" for="other-languages-written">Other languages</label>
    <div class="usa-hint" id="wrHint">For example, Tagalog or Portuguese</div>
    <input class="usa-input usa-input--xl" id="other-languages-written" name="other-languages" aria-describedby="wrHint" >
  </fieldset>
</form>