<span class="nt">&lt;form</span> <span class="na">class=</span><span class="s">"usa-form usa-form--large"</span><span
class="nt">&gt;</span>
    <span class="nt">&lt;fieldset</span> <span class="na">class=</span><span class="s">"usa-fieldset"</span><span
    class="nt">&gt;</span>
        <span class="nt">&lt;legend</span> <span class="na">class=</span><span class="s">"usa-legend
        usa-legend--large"</span><span class="nt">&gt;</span>Name<span class="nt">&lt;/legend&gt;</span>
        <span class="nt">&lt;p&gt;</span>
        Required fields are marked with an asterisk (<span class="nt">&lt;abbr</span> <span class="na">title=</span><span
        class="s">"required"</span> <span class="na">class=</span><span class="s">"usa-hint usa-hint--required"</span><span
        class="nt">&gt;</span>*<span class="nt">&lt;/abbr&gt;</span>).
        <span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;label</span> <span class="na">class=</span><span class="s">"usa-label"</span> <span
        class="na">for=</span><span class="s">"given-name"</span><span class="nt">&gt;</span>Given name
        <span class="nt">&lt;abbr</span> <span class="na">title=</span><span class="s">"required"</span> <span
        class="na">class=</span><span class="s">"usa-hint usa-hint--required"</span><span class="nt">&gt;</span>*<span
        class="nt">&lt;/abbr&gt;&lt;/label&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"usa-input usa-input--xl"</span> <span
        class="na">id=</span><span class="s">"given-name"</span> <span class="na">name=</span><span
        class="s">"first-name"</span> <span class="na">required=</span><span class="s">""</span> <span
        class="na">aria-required=</span><span class="s">"true"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;label</span> <span class="na">class=</span><span class="s">"usa-label"</span> <span
        class="na">for=</span><span class="s">"middle-name"</span><span class="nt">&gt;</span>Middle name<span
        class="nt">&lt;/label&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"usa-input usa-input--xl"</span> <span
        class="na">id=</span><span class="s">"middle-name"</span> <span class="na">name=</span><span
        class="s">"middle-name"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;label</span> <span class="na">class=</span><span class="s">"usa-label"</span> <span
        class="na">for=</span><span class="s">"family-name"</span><span class="nt">&gt;</span>Family name
        <span class="nt">&lt;abbr</span> <span class="na">title=</span><span class="s">"required"</span> <span
        class="na">class=</span><span class="s">"usa-hint usa-hint--required"</span><span class="nt">&gt;</span>*<span
        class="nt">&lt;/abbr&gt;&lt;/label&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"usa-input usa-input--xl"</span> <span
        class="na">id=</span><span class="s">"family-name"</span> <span class="na">name=</span><span
        class="s">"last-name"</span> <span class="na">required=</span><span class="s">""</span> <span
        class="na">aria-required=</span><span class="s">"true"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;label</span> <span class="na">class=</span><span class="s">"usa-label"</span> <span
        class="na">for=</span><span class="s">"last-name"</span><span class="nt">&gt;</span>Full name
        <span class="nt">&lt;abbr</span> <span class="na">title=</span><span class="s">"required"</span> <span
        class="na">class=</span><span class="s">"usa-hint usa-hint--required"</span><span class="nt">&gt;</span>*<span
        class="nt">&lt;/abbr&gt;&lt;/label&gt;</span>
        <span class="nt">&lt;input</span> <span class="na">class=</span><span class="s">"usa-input usa-input--xl"</span> <span
        class="na">id=</span><span class="s">"last-name"</span> <span class="na">name=</span><span
        class="s">"last-name"</span> <span class="na">required=</span><span class="s">""</span> <span
        class="na">aria-required=</span><span class="s">"true"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/fieldset&gt;</span>
<span class="nt">&lt;/form&gt;</span>