<fieldset class="usa-fieldset">
  <legend class="usa-legend usa-legend--large">Phone number</legend>
  <label class="usa-label" for="tel-number">Primary phone number</label>
  <div class="usa-hint" id="primaryPnHint">10-digit, U.S. only, for example 999-999-9999</div>
  <input class="usa-input margin-bottom-1" id="tel-number" name="tel-number" type="tel" aria-describedby="primaryPnHint"/>
  <fieldset class="usa-fieldset">
    <legend class="usa-legend">Potentially sensitive information</legend>
    <div class="usa-radio">
      <input class="usa-radio__input" id="primary-yes-info" type="radio" name="primary-sensitive-info" value="primary-yes-info"/>
      <label class="usa-radio__label" for="primary-yes-info">Yes, you may leave sensitive information in voicemail or text message</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="primary-no-info" type="radio" name="primary-sensitive-info" value="primary-no-info"/>
      <label class="usa-radio__label" for="primary-no-info">No, please do not leave sensitive information in voicemail or text messages</label>
    </div>
  </fieldset>
  <label class="usa-label" for="secondary-tel-number">Secondary phone number</label>
  <div class="usa-hint" id="secondaryPnHint">10-digit, U.S. only, for example 999-999-9999</div>
  <input class="usa-input margin-bottom-1" id="secondary-tel-number" name="secondary-tel-number" type="tel" aria-describedby="secondaryPnHint" />
  <fieldset class="usa-fieldset">
    <legend class="usa-legend">Potentially sensitive information</legend>
    <div class="usa-radio">
      <input class="usa-radio__input" id="secondary-yes-info" type="radio" name="secondary-sensitive-info" value="secondary-yes-info"/>
      <label class="usa-radio__label" for="secondary-yes-info">Yes, you may leave sensitive information in voicemail or text
        message</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="secondary-no-info" type="radio" name="secondary-sensitive-info" value="secondary-no-info" />
      <label class="usa-radio__label" for="secondary-no-info">No, please do not leave sensitive information in voicemail or text
        messages</label>
    </div>
  </fieldset>
</fieldset>