<label class="usa-label" for="select-pronouns">Pronouns</label>
<div class="usa-hint" id="pronounHint">For example, he, she, they, ze, he/they</div>
<input class="usa-input usa-input--xl" id="select-pronouns" name="select-pronouns" aria-describedby="pronounHint">
<div class="usa-checkbox">
  <input class="usa-checkbox__input" id="prefer-not-to-answer" type="checkbox" name="prefer-not-to-answer"
    value="prefer-not-to-answer" />
  <label class="usa-checkbox__label" for="prefer-not-to-answer">Prefer not to share my pronouns</label>
</div>