<form class="usa-form usa-form--large">
    <fieldset class="usa-fieldset">
        <legend class="usa-legend usa-legend--large">Race or ethnicity</legend>
        <label class="usa-label" for="race-ethnicity-select-all">Which of the following best describes you?</label>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="asian-or-pacific-islander" type="checkbox" name="race-ethnicity-select-all"
                value="asian-or-pacific-islander" />
            <label class="usa-checkbox__label" for="asian-or-pacific-islander">Asian or Pacific Islander</label>
        </div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="black-or-african-american" type="checkbox" name="race-ethnicity-select-all"
                value="black-or-african-american" />
            <label class="usa-checkbox__label" for="black-or-african-american">Black or African American</label>
        </div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="hispanic-or-latinx" type="checkbox" name="race-ethnicity-select-all"
                value="hispanic-or-latinx" />
            <label class="usa-checkbox__label" for="hispanic-or-latinx">Hispanic or Latinx</label>
        </div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="native-american-or-alaskan-native" type="checkbox" name="race-ethnicity-select-all"
                value="native-american-or-alaskan-native" />
            <label class="usa-checkbox__label" for="native-american-or-alaskan-native">Native American or Alaskan Native</label>
        </div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="white-or-caucasian" type="checkbox" name="race-ethnicity-select-all"
                value="white-or-caucasian" />
            <label class="usa-checkbox__label" for="white-or-caucasian">White or Caucasian</label>
        </div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="multiracial-or-biracial" type="checkbox" name="race-ethnicity-select-all"
                value="multiracial-or-biracial" />
            <label class="usa-checkbox__label" for="multiracial-or-biracial">Multiracial or Biracial</label>
        </div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="not-listed-here" type="checkbox" name="race-ethnicity-select-all"
                value="not-listed-here" />
            <label class="usa-checkbox__label" for="not-listed-here">A race/ethnicity not listed here</label>
        </div>
        <div class="usa-checkbox">
            <input class="usa-checkbox__input" id="prefer-not-to-answer" type="checkbox" name="race-ethnicity-select-all"
                value="prefer-not-to-answer" />
            <label class="usa-checkbox__label" for="prefer-not-to-answer">Prefer not to answer</label>
        </div>
    </fieldset>
</form>

<form class="usa-form usa-form--large margin-top-4">
    <fieldset class="usa-fieldset">
        <legend class="usa-legend usa-legend--large">Open-ended self identification</legend>
        <label class="usa-label" for="ethnic-identity">I identify my ethnicity as</label>
        <input class="usa-input usa-input--xl" id="ethnic-identity" name="ethnic-identity">
    </fieldset>
</form>

