<h4 class="site-preview-heading">Race and Ethnicity</h4>
<h5>Race</h5>
<form class="usa-form usa-form--large">
  <fieldset class="usa-fieldset">
    <legend class="usa-legend">Which of the following race classifications best describe you?</legend>
    <div class="usa-hint">Select all that apply. For example, "Black or African American" and "White"</div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="american-indian-or-alaska-native" type="checkbox"
        name="american-indian-or-alaska-native" value="american-indian-or-alaska-native" />
      <label class="usa-checkbox__label" for="american-indian-or-alaska-native">American Indian or Alaska Native</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="asian" type="checkbox" name="asian"
        value="asian" />
      <label class="usa-checkbox__label" for="asian">Asian</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="black-or-african-american" type="checkbox" name="black-or-african-american"
        value="black-or-african-american" />
      <label class="usa-checkbox__label" for="black-or-african-american">Black or African American</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="middle-eastern-or-north-african" type="checkbox"
        name="middle-eastern-or-north-african" value="middle-eastern-or-north-african" />
      <label class="usa-checkbox__label" for="middle-eastern-or-north-african">Middle Eastern or North African</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="hawaiian-or-pacific-islander" type="checkbox" name="hawaiian-or-pacific-islander"
        value="hispanic-or-latinx" />
      <label class="usa-checkbox__label" for="hawaiian-or-pacific-islander">Native Hawaiian or other Pacific Islander</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="white" type="checkbox" name="white"
        value="white" />
      <label class="usa-checkbox__label" for="white">White</label>
    </div>
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="some-other-race" type="checkbox" name="some-other-race"
        value="some-other-race" />
      <label class="usa-checkbox__label" for="some-other-race">Some other race</label>
    </div>
    <h5>Ethnicity</h5>
    <label class="usa-label" for="ethnic-identity">I identify my ethnicity as:</label>
    <div class="usa-hint" id="eiHint">You may report more than one ethnicity. For example, "Hmong and Italian"</div>
    <input class="usa-input usa-input--xl" id="ethnic-identity" name="ethnic-identity" aria-describedby="eiHint">
    <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="prefer-not-to-answer" type="checkbox" name="refer-not-to-answer"
        value="prefer-not-to-answer" />
      <label class="usa-checkbox__label" for="prefer-not-to-answer">Prefer not to share my race and ethnicity</label>
    </div>
  </fieldset>
</form>