<a class="media__link"
  href="{{ site.federalist_base }}/develop/iframe.html?id=components-language-selector--three-or-more-languages&amp;args=&amp;viewMode=story">
  <img src="{{ site.baseurl }}/img/patterns/select-a-language-selected-content.webp"
    alt="Language selector button with the text Languages shows hover state and a dropdown menu with language options. The selected language in the dropdown is underlined on hover. The last element in the dropdown reads Selected content in additional languages.">
</a>
<a class="usa-button site-button"
  href="{{ site.federalist_base }}/develop/iframe.html?id=components-language-selector--three-or-more-languages&amp;args=&amp;viewMode=story">
  Demo Language selector for selected multilingual content
</a>
