<h3 class="site-preview-heading">Matching an original birth certificate</h3>

<form class="usa-form usa-form--large">
  <fieldset class="usa-fieldset">
    <legend class="usa-legend">Sex listed at birth</legend>
    <span class="usa-hint" id="slabHint">Please enter the sex that appears on your original birth certificate. Use “X” for a sex listed on your birth certificate that is neither male nor female. <a href="#sex-data-transparency-statement" aria-controls="sex-data-transparency-statement" data-open-modal>Why do we ask for sex information?</a></span>
    <div class="usa-radio">
      <input class="usa-radio__input" id="slab-male" type="radio" name="sex-listed-at-birth" value="male" />
      <label class="usa-radio__label" for="slab-male">Male</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="slab-female" type="radio" name="sex-listed-at-birth" value="female" />
      <label class="usa-radio__label" for="slab-female">Female</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="slab-x" type="radio" name="sex-listed-at-birth" value="x" />
      <label class="usa-radio__label" for="slab-x">X</label>
    </div>
  </fieldset>
</form>

<h3 class="site-preview-heading">Matching any qualifying legal document</h3>

<form class="usa-form usa-form--large">
  <fieldset class="usa-fieldset">
    <legend class="usa-legend">Legal sex</legend>
    <span class="usa-hint" id="lsHint">Please enter the sex that appears on your driver's license, state ID, passport, or passport card. Use “X” for a sex listed on your ID that is neither male nor female. <a href="#sex-data-transparency-statement" aria-controls="sex-data-transparency-statement" data-open-modal>Why do we ask for sex information?</a></span>
    <div class="usa-radio">
      <input class="usa-radio__input" id="ls-male" type="radio" name="legal-sex" value="male" />
      <label class="usa-radio__label" for="ls-male">Male</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="ls-female" type="radio" name="legal-sex" value="female" />
      <label class="usa-radio__label" for="ls-female">Female</label>
    </div>
    <div class="usa-radio">
      <input class="usa-radio__input" id="ls-x" type="radio" name="legal-sex" value="x" />
      <label class="usa-radio__label" for="ls-x">X</label>
    </div>
  </fieldset>
</form>

<div
class="usa-modal"
id="sex-data-transparency-statement"
aria-labelledby="sex-data-transparency-statement-heading"
aria-describedby="sex-data-transparency-statement-description"
>
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <h4 class="usa-modal__heading" id="sex-data-transparency-statement-heading">
        Why do we ask for [type] information?
      </h4>
      <div class="usa-prose">
        <p id="sex-data-transparency-statement-description">
          Include a description of why your service collects [type] information and how this data will be shared.
        </p>
      </div>
      <div class="usa-modal__footer">
        <button type="button" class="usa-button" data-close-modal>
          Return to the form
        </button>
      </div>
    </div>
    <button
      type="button"
      class="usa-button usa-modal__close"
      aria-label="Close this window"
      data-close-modal
    >
      <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
        <use href="{{ site.baseurl }}/assets/img/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
</div>
