<a class="media__link display-block"
href="{{ site.federalist_base }}/develop/iframe.html?id=components-language-selector--two-languages&amp;args=&amp;viewMode=story">
  <img src="{{ site.baseurl }}/img/components/language-selector/language-selector-two-languages.webp"
    alt="Language selector button with the text Español shows default, hover, and active states" class="maxw-full width-mobile">
</a>
<a class="usa-button site-button"
  href="{{ site.federalist_base }}/develop/iframe.html?id=components-language-selector--two-languages&amp;args=&amp;viewMode=story">
  Demo Language selector with two languages
</a>
