# Site settings
title:  U.S. Web Design Standards
version: 1.0.0
google_analytics_ua: UA-48605964-43

# this is for pages that don't have a permalink (primarily posts)
permalink: /whats-new/updates/:year/:month/:day/:title/

# this ensure that posts with future dates are published
future: true

encoding: utf-8

jekyll_get:
  - data: releases
    json: 'https://api.github.com/repos/18F/web-design-standards/releases'
  - data: contributing
    json: 'https://api.github.com/repos/18F/web-design-standards/contents/CONTRIBUTING.md'

repos:
- name: U.S. Web Design Standards
  description: Main repository for the U.S. Web Design Standards package
  url: https://github.com/18F/web-design-standards
- name: U.S. Web Design Standards Documentation
  description: Documentation for the U.S. Web Design Standards
  url: https://github.com/18F/web-design-standards-docs
- name: U.S. Web Design Standards Assets
  description: U.S. Web Design Standards visual design assets
  url: https://github.com/18F/web-design-standards-assets

sass:
  load_paths:
    - css
    - assets/css

collections:
  components:
    output: true
    permalink: /:path/

defaults:
  - scope:
      path: ''
      type: components
    values:
      layout: component
  - scope:
      path: ''
      type: posts
    values:
      layout: post

# Build settings
markdown: redcarpet
redcarpet:
  extensions:
    - tables
    - with_toc_data # automatic heading ids

gems:
  - jekyll-redirect-from

exclude:
- ".ruby-version"
- ".sass-cache"
- CONTRIBUTING.md
- Gemfile
- Gemfile.lock
- LICENSE.md
- README.md
- config
- js
- vendor
- manifest.yml
- node_modules
- package.json
- gulpfile.js
- circle.yml
