{% assign current = page.url | downcase | split: '/' %}

<nav>
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.url == '/about-our-work/' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/about-our-work/">Overview</a>
    </li>
    <li>
      <a {% if page.url contains 'about-our-work/product-roadmap' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/about-our-work/product-roadmap/">Product roadmap</a>
    </li>
    <li>
      <a {% if page.url contains 'about-our-work/research-strategy' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/about-our-work/research-strategy/">Research strategy</a>
    </li>
    <li>
      <a {% if page.url contains 'about-our-work/current-research' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/about-our-work/current-research/"> Current research</a>
      {% if page.url contains 'about-our-work/current-research' %}
        <ul class="usa-sidenav-sub_list">
          <li>
            <a href="#research-plan-template">Research plan template</a>
          </li>
          <li>
            <a href="#our-research">Our research</a>
          </li>
        </ul>
      {% endif %}
    </li>
    <li>
      <a {% if page.url contains 'about-our-work/releases' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/about-our-work/releases/"> Release notes</a>
      {% if page.url contains 'about-our-work/releases' %}
        <ul class="usa-sidenav-sub_list">
        {% for release in site.data.releases %}
          <li>
            <a href="#{{ release.name | slugify }}">{{ release.name }}</a>
          </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  </ul>
</nav>
