{% assign current = page.url | downcase | split: '/' %}

<nav>
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.url == '/about-our-work/' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/about-our-work/">Overview</a>
    </li>
    <li>
      <a {% if page.url contains 'about-our-work/product-roadmap' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/about-our-work/product-roadmap/">Product roadmap</a>
    </li>
    <li>
      <a {% if page.url contains 'about-our-work/component-maturity-scale' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/about-our-work/component-maturity-scale/">Component maturity scale</a>
    </li>
    <li>
      <a {% if page.url contains 'about-our-work/research-strategy' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/about-our-work/research-strategy/">Research strategy</a>
    </li>
    <li>
      <a {% if page.url contains 'about-our-work/research' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/about-our-work/research/"> Current Research</a>
      {% if page.url contains 'about-our-work/research' %}
        <ul class="usa-sidenav-sub_list">
          <li>
            <a href="#research-plan-template">Research plan template</a>
          </li>
          <li>
            <a href="#our-research">Our research</a>
          </li>
        </ul>
      {% endif %}
    </li>
  </ul>
</nav>
