{% assign current = page.url | downcase | split: '/' %}

<nav>
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.url == '/page-templates/' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/page-templates/">Page templates</a>
      {% if current[1] == 'page-templates' %}
        <ul class="usa-sidenav-sub_list">
          <li>
            <a href="#landing-page">Landing page</a>
          </li>
          <li>
            <a href="#documentation-page">Documentation page</a>
          </li>
        </ul>
      {% endif %}
    </li>
  </ul>
</nav>
