{% for link in include.links -%}
  {% assign _page = link.href | resolve_permalink: site.pages %}
  {% unless _page -%}
    {% assign _page = link.href | resolve_permalink: site.components %}
  {% endunless %}
  <li>
    {% if _page -%}
      {%
        include nav/page-item.html
        page=_page
        current=include.current
        flat=include.flat
        subnav_class=include.subnav_class
      %}
    {% else -%}
      {% include nav/link-item.html link=link
        subnav_class=include.subnav_class
        href_key=include.href_key
      %}
    {% endif %}
  </li>
{% endfor %}
