{% assign _current = include.page.category | eq: page.category %}
{% assign _id = include.page.title | slugify | prepend: 'nav-' %}
<button type="button" class="usa-accordion__button usa-nav__link" aria-controls="{{ _id }}"
  {% if _current %}
  class="usa-current"
  aria-expanded="true"
  {% else -%}
  aria-expanded="false"
  {% endif %}>
  <span>
    {{  include.section.text | default: include.page.title  }}
  </span>
</button>
<ul id="{{ _id }}" class="usa-nav__submenu">
  {% assign _children = site.data.nav[include.page.category] %}
  {% include nav/list.html links=_children flat=false %}
</ul>
