{% include nav/current.html page=include.page primary=include.primary %}
<a href="{{ include.page.url | relative_url }}"{%
  if _current -%} class="usa-current"{% endif %}>
  {% unless sidenav %}<span>{% endunless %}
    {{ include.text | default: include.page.title | smartify }}
  {% unless sidenav %}</span>{% endunless %}
</a>
{% if _current -%}
  {% unless include.flat -%}
    {% assign _href_key = include.href_key %}
    {% assign _text_key = include.href_key %}
    {% assign _links = include.links | default: include.page.subnav %}
    {% if _links.data -%}
      {% assign _href_key = _links.href %}
      {% assign _text_key = _links.text %}
      {% assign _data_key = _links.data %}
      {% assign _links = site.data[_data_key] %}
    {% elsif _links.type %}
      {% assign _links = nil %}
    {% endif %}
    {% if _links -%}
    <ul class="{% if sidenav %}usa-sidenav__sublist{% else %}usa-nav__submenu{% endif %}">{%
      include nav/list.html
      links=_links
      text_key=_text_key
      href_key=_href_key
    %}</ul>
    {% endif %}
  {% endunless %}
{% endif %}
