<!-- Alert banner BEGIN -->
<section class="site-banner site-banner-alert" aria-label="Deprecated site warning">
  <div class="usa-alert usa-alert-slim usa-alert-warning">
    <div class="usa-alert-body">
      <p class="usa-alert-text">
        We released USWDS v2 in April 2019. For current information on USWDS,
        visit <a href="https://designsystem.digital.gov">designsystem.digital.gov</a>.
      </p>
      <p class="usa-alert-text">This USWDS v1 site is archived. It is read-only, so use it for v1 only.</p>
    </div>
  </div>
</section>
<!-- Alert banner END -->
