{% assign col1Title = 'Date' %}
{% assign col1Width = 'flex-1' %}
{% assign col2Title = 'USWDS version' %}
{% assign col2Width = 'flex-1' %}
{% assign col3Title = 'Breaking' %}
{% assign col3Width = 'flex-1' %}
{% assign col4Title = 'Description' %}
{% assign col4Width = 'flex-6 tablet:flex-7' %}
{% assign col5Title = 'More information' %}
{% assign col5Width = 'flex-2' %}

<table class="usa-table--borderless site-table-responsive site-table-simple">
  <thead>
    <tr>
      <th scope="col" class="{{ col1Width }}">{{ col1Title }}</th>
      {% if
        changelog.type: == "Component"
        or changelog.type: == "Pattern"
        or changelog.type: == "Template"
      %}
        <th scope="col" class="{{ col2Width }}">{{ col2Title }}</th>
        <th scope="col" class="{{ col3Width }}">{{ col3Title }}</th>
      {% endif %}
      <th scope="col" class="{{ col4Width }}">{{ col4Title }}</th>
      <th scope="col" class="{{ col5Width }}">{{ col5Title }}</th>
    </tr>
  </thead>
  <tbody class="font-lang-3xs">
    {% for item in changelogItems %}
    <tr class="{% if item.section %}tablet:border-top-2px tablet:margin-top-2{% endif %}">
      <td data-title="{{ col1Title }}" class="{{ col1Width }}">
        {% if item.date %}
          <span class="font-mono-2xs">{{ item.date }}</span>
        {% endif %}
      </td>
      {% if
        changelog.type: == "Component"
        or changelog.type: == "Pattern"
        or changelog.type: == "Template"
      %}
      <td data-title="{{ col2Title }}" class="{{ col2Width }}">
          {% if item.version %}
            <span class="font-mono-2xs"><a href="https://github.com/uswds/uswds/releases/tag/v{{ item.version }}">{{ item.version }}</a></span>
          {% else %}
            N/A
          {% endif %}
      </td>
      <td data-title="{{ col3Title }}" class="{{ col3Width }}">
          {% if item.isBreaking %}
            {% if item.isBreaking == "Yes" %}
            <span class="output-false">Breaking</span>
            {% elsif item.isBreaking == "Potential" %}
            <span class="output-warning">Potential</span>
            {% else %}
            {{ item.isBreaking }}
            {% endif %}
          {% else %}
            N/A
          {% endif %}
      </td>
      {% endif %}
      <td data-title="{{ col4Title }}" class="{{ col4Width }}">
        {% if item.summary%}
          <p class="measure-6">
            {% if item.summary %}
             <strong>{{ item.summary }}</strong>
            {% endif %}
            {% if item.additional_info %}
              {{ item.additional_info}}
            {% endif %}
          </p>
        {% endif %}
      </td>
      <td data-title="{{ col5Title }}" class="{{ col5Width }}">
        {% if item.pr%}
          <a href="https://github.com/uswds/{{ item.repo }}/pull/{{ item.pr }}">
            uswds/{{ item.repo }}#{{ item.pr }}
          </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
