{% assign componentName = page.title | default: page.title | downcase %}
{% assign componentKey = componentName | slugify %}
{% assign changelog = site.data.changelogs[componentKey] %}
{% assign changelogItems = changelog.items %}

{%- if changelog.items or changelog.url -%}
  <h2 id="{{ componentKey }}-changelog" class="site-component-section-title">Latest updates</h2>
{%- endif -%}

{%- if changelog.url -%}
  <p>A list of all code changes for this component can be found in its <a href="{{ changelog.url }}">changelog</a>.</p>
{%- endif -%}

{%- if changelog.items -%}
  <p>Meaningful code and guidance updates are listed in the following table:</p>
  {% include changelog-table.html %}
{%- endif -%}

<h2 id="{{ componentKey }}-improve" class="site-component-section-title">Contribute</h2>
<p>See an opportunity to improve this {%- if changelog.typeComponent %} component or {% endif -%} guidance?<br/>
Submit <a href="#">an issue</a> or <a href="#">pull request</a> with your suggestion.</a></p>

