{% assign col1Title = 'Date' %}
{% assign col1Classes = 'tablet:grid-col' %}
{% assign col2Title = 'USWDS version' %}
{% assign col2Classes = 'tablet:grid-col tablet:padding-left-0' %}
{% assign col3Title = 'Affects' %}
{% assign col3Classes = 'tablet:grid-col' %}
{% assign col4Title = 'Breaking' %}
{% assign col4Classes = 'tablet:grid-col site-changelog--hide-tablet' %}
{% assign col5Title = 'Description' %}
{% assign col5Classes = 'tablet:grid-col-6' %}

<table class="usa-table--borderless site-table-responsive site-table-simple">
  <thead>
    <tr>
      <th scope="col" class="{{ col1Classes }}">{{ col1Title }}</th>
      <th scope="col" class="{{ col2Classes }}">{{ col2Title }}</th>
      <th scope="col" class="{{ col3Classes }}">{{ col3Title }}</th>
      <th scope="col" class="{{ col4Classes }}">{{ col4Title }}</th>
      <th scope="col" class="{{ col5Classes }}">{{ col5Title }}</th>
    </tr>
  </thead>
  <tbody class="font-lang-3xs">
    {% for item in changelogItems %}
    <tr>
      <td data-title="{{ col1Title }}" class="{{ col1Classes }}">
        {% if item.date %}
          <span class="font-mono-3xs">{{ item.date }}</span>
        {% endif %}
      </td>
      <td data-title="{{ col2Title }}" class="{{ col2Classes }}">
        {% if item.versionUswds %}
        <span class="font-mono-3xs">
          <a href="https://github.com/uswds/uswds/releases/tag/v{{ item.versionUswds }}">
            {{ item.versionUswds }}
          </a>
        </span>
        {% else %}
        N/A
        {% endif %}
      </td>
      <td data-title="{{ col3Title }}" class="{{ col3Classes }}">
        <ul class="add-list-reset">
          {% if item.isRemoval %}
            <li><span class="output-false">Removed page</span></li>
          {% endif %}
          {% if item.isAddition %}
            <li><span class="output-addition">Added page</span></li>
          {% endif %}
          {% if item.affectsAccessibility %}
            <li><span class="output-warning">Accessibility</span></li>
          {% endif %}
          {% if item.affectsAssets %}
            <li><span class="output-neutral">Assets</span></li>
          {% endif %}
          {% if item.affectsContent %}
            <li><span class="output-warning">Content</span></li>
          {% endif %}
          {% if item.affectsGuidance %}
            <li><span class="output-warning">Guidance</span></li>
          {% endif %}
          {% if item.affectsJavascript %}
            <li><span class="output-neutral">JavaScript</span></li>
          {% endif %}
          {% if item.affectsMarkup %}
            <li><span class="output-warning">Markup</span></li>
          {% endif %}
          {% if item.affectsPageContent %}
            <li><span class="output-neutral">Page content</span></li>
          {% endif %}
          {% if item.affectsStyles %}
            <li><span class="output-neutral">Styles</span></li>
          {% endif %}
          {% if item.affectsSettings %}
            <li><span class="output-neutral">Settings</span></li>
          {% endif %}
        </ul>
      </td>
      <td data-title="{{ col4Title }}" class="{{ col4Classes }}">
        {% if item.isBreaking %}
          <span class="output-false">Breaking</span>
        {% else %}
          No
        {% endif %}
      </td>
      <td data-title="{{ col5Title }}" class="{{ col5Classes }}">
        {% if item.summary %}
        <p class="measure-6">
          {% if item.isBreaking %}
            <span class="site-changelog--show-tablet output-false">Breaking</span>
          {% endif %}
          <strong>
            {{ item.summary | markdownify | remove: '<p>' | remove: '</p>' }}
          </strong>
          {% if item.summaryAdditional %}
            {{ item.summaryAdditional | markdownify | remove: '<p>' | remove: '</p>' }}
          {% endif %}
          {% if item.githubPr %}
            More information:
            <a href="https://github.com/uswds/{{ item.githubRepo }}/pull/{{ item.githubPr }}">
              {{ item.githubRepo }}#{{ item.githubPr }}
            </a>
          {% endif %}
        </p>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
