{% assign col1Title = 'Date' %}
{% assign col1Width = 'flex-1' %}
{% assign col2Title = 'USWDS version' %}
{% assign col2Width = 'flex-1' %}
{% assign col3Title = 'Breaking' %}
{% assign col3Width = 'flex-1' %}
{% assign col5Title = 'Type' %}
{% assign col5Width = 'flex-1' %}
{% assign col4Title = 'Description' %}
{% assign col4Width = 'flex-6 tablet:flex-7' %}

<table class="usa-table--borderless site-table-responsive site-table-simple">
  <thead>
    <tr>
      <th scope="col" class="{{ col1Width }}">{{ col1Title }}</th>
      {% if changelog.componentPage %}
        <th scope="col" class="{{ col2Width }}">{{ col2Title }}</th>
        <th scope="col" class="{{ col3Width }}">{{ col3Title }}</th>
      {% endif %}
      <th scope="col" class="{{ col4Width }}">{{ col4Title }}</th>
    </tr>
  </thead>
  <tbody class="font-lang-3xs">
    {% for item in changelogItems %}
    <tr class="{% if item.section %}tablet:border-top-2px tablet:margin-top-2{% endif %}">
      <td data-title="{{ col1Title }}" class="{{ col1Width }}">
        {% if item.date %}
          {{ item.date }}
        {% endif %}
      </td>
      {% if changelog.componentPage %}
      <td data-title="{{ col2Title }}" class="{{ col2Width }}">
          {% if item.release %}
            <a href="https://github.com/uswds/uswds/releases/tag/v{{ item.release }}">{{ item.release }}</a>
          {% else %}
            N/A
          {% endif %}
      </td>
      <td data-title="{{ col3Title }}" class="{{ col3Width }}">
          {% if item.breaking %}
            {{ item.breaking }}
          {% else %}
            N/A
          {% endif %}
      </td>
      {% endif %}
      <td data-title="{{ col4Title }}" class="{{ col4Width }}">
        {% if item.description %}
          <p class="measure-6">
            {% if item.description.summary %}
              <a href="https://github.com/uswds/{{ item.repo }}/pull/{{ item.pr }}">
                {{ item.description.summary }}
              </a>
            {% endif %}
            {% if item.description.additional %}
              <br/>{{ item.description.additional }}
            {% endif %}
          </p>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
