{% assign componentName = page.component.name | default: page.title | downcase %}
{% assign componentKey = componentName | slugify %}
{% assign settingsKey = componentKey %}
{% assign checklistData = site.data.accessibility-tests[componentKey] %}
{% assign heading_level_primary = include.level | default: "h2" %}
{% assign heading_level_secondary = "h3" %}
{% assign heading_level_tertiary = "h4" %}

{% if heading_level_primary == "h3" %}
  {% assign heading_level_secondary = "h4" %}
  {% assign heading_level_tertiary = "h5" %}
{% endif %}

{% assign guidancePath = page.guidancePath | default: "guidance" %}

{% assign guidanceFormat = "{:.usa-content-list}" %}
{% assign guidanceNullLength = guidanceFormat.size | plus: 1 %}
{% assign guidanceFirst = page.guidance | where: "first", true %}
{% assign guidanceLast = page.guidance | where: "first", null %}

{%- capture about -%}
  {% if page.component.about %}
    {{- guidanceFormat }}
    {%- include_relative {{guidancePath}}/about.md -%}
  {% endif %}
{%- endcapture -%}
{%- capture when_to_use -%}
  {{- guidanceFormat }}
  {%- include_relative {{guidancePath}}/when-to-use.md -%}
{%- endcapture -%}
{%- capture when_to_consider_something_else -%}
  {{- guidanceFormat }}
  {%- include_relative {{guidancePath}}/when-to-consider-something-else.md -%}
{%- endcapture -%}
{%- capture usability -%}
  {{- guidanceFormat }}
  {%- include_relative {{guidancePath}}/usability.md -%}
{%- endcapture -%}
{%- capture accessibility -%}
  {{- guidanceFormat }}
  {%- include_relative {{guidancePath}}/accessibility.md -%}
{%- endcapture -%}
{%- capture related -%}
  {% if page.component.related %}
    {{- guidanceFormat }}
    {%- include_relative {{guidancePath}}/related.md -%}
  {% endif %}
{%- endcapture -%}
{%- capture implementation -%}
  {{- guidanceFormat }}
  {%- include_relative {{guidancePath}}/implementation.md -%}
{%- endcapture -%}
{%- capture references -%}
  {% if page.component.references %}
    {{- guidanceFormat }}
    {%- include_relative {{guidancePath}}/references.md -%}
  {% endif %}
{%- endcapture -%}

<{{ heading_level_primary }} id="{{ componentKey }}-guidance" class="site-component-section-title">
  Guidance
</{{ heading_level_primary }}>
<div class="site-component-usage">
  {% for item in guidanceFirst %}
    <{{ heading_level_secondary }} id="{{ item.heading | slugify }}" class="usa-heading site-component-usage__header_secondary">
      {{ item.heading }}
    </{{ heading_level_secondary }}>
    {% if item.html %}
      {%- include_relative {{item.path}} -%}
    {% else %}
      {%- capture thisText -%}
        {{- guidanceFormat }}
        {%- include_relative {{item.path}} -%}
      {% endcapture %}
      {{ thisText | markdownify }}
    {% endif %}
  {% endfor %}
  {% if about.size > guidanceNullLength %}
    <{{ heading_level_secondary }} id="about-{{ componentKey }}" class="usa-heading site-component-usage__header_secondary">About</{{ heading_level_secondary }}>
    {{ about | markdownify }}
  {% endif %}
  {% if when_to_use.size > guidanceNullLength %}
    <{{ heading_level_secondary }} id="when-to-use-the-{{ componentKey }}" class="usa-heading site-component-usage__header_secondary">
      When to use the {{ page.title | downcase }} {{ page.type }}
    </{{ heading_level_secondary }}>
    {{ when_to_use | markdownify }}
  {% endif %}
  {% if when_to_consider_something_else.size > guidanceNullLength %}
    <{{ heading_level_secondary }} id="when-to-consider-something-else-{{ componentKey }}" class="usa-heading site-component-usage__header_secondary">
      When to consider something else
    </{{ heading_level_secondary }}>
    {{ when_to_consider_something_else | markdownify }}
  {% endif %}
  {% if usability.size > guidanceNullLength %}
    <{{ heading_level_secondary }} id="usability-guidance-{{ componentKey }}" class="usa-heading site-component-usage__header_secondary">Usability guidance</{{ heading_level_secondary }}>
    {{ usability | markdownify }}
  {% endif %}
  {% if accessibility.size > guidanceNullLength %}
    <{{ heading_level_secondary }} id="accessibility-{{ componentKey }}" class="usa-heading site-component-usage__header_secondary">
      Accessibility guidance
    </{{ heading_level_secondary }}>
    {% if checklistData %}
    {% include accessibility-tests/a11y-note.html %}
    {% endif %}
    {{ accessibility | markdownify }}
  {% endif %}
  {% if related.size > guidanceNullLength %}
    <{{ heading_level_secondary }} id="related-{{ componentKey }}" class="usa-heading site-component-usage__header_secondary">
      Related
    </{{ heading_level_secondary }}>
    {{ related | markdownify }}
  {% endif %}
  {% if implementation.size > guidanceNullLength or page.variants or site.data.settings.components[settingsKey] %}
    <{{ heading_level_secondary }}  id="using-the-{{ componentKey }}-{{ page.type }}" class="usa-heading site-component-usage__header_secondary">
      Using the {{ page.title | downcase }} {{ page.type }}
    </{{ heading_level_secondary }}>
    {{ implementation | markdownify }}
    {% if page.category == "Components" %}
      <{{ heading_level_tertiary }} id="component-settings-{{ componentKey }}" class="site-component-usage__header_tertiary">
        {{ page.title }} settings
      </{{ heading_level_tertiary }}>
      {% assign settings = site.data.settings.components[settingsKey] %}
      {% include settings-table-simple.html settings=settings.contents %}
      <{{ heading_level_tertiary }} id="component-variants-{{ componentKey }}" class="site-component-usage__header_tertiary">
        {{ page.title }} variants
      </{{ heading_level_tertiary }}>
      {% include settings-table-flex.html
        content=page.variants
        cols="flex-1, flex-1"
        section="variants"
      %}
    {% endif %}
  {% endif %}
  {% for item in guidanceLast %}
    <{{ heading_level_secondary }} id="{{ item.heading | slugify }}" class="usa-heading site-component-usage__header_secondary">
      {{ item.heading }}
    </{{ heading_level_secondary }}>
    {%- capture thisText -%}
      {{- guidanceFormat }}
      {%- include_relative {{item.path}} -%}
    {% endcapture %}
    {{ thisText | markdownify }}
  {% endfor %}
  {% if references.size > guidanceNullLength %}
    <{{ heading_level_secondary }} id="references">References</{{ heading_level_secondary }} class="usa-heading site-component-usage__header_secondary">
    {{ references | markdownify }}
  {% endif %}
</div>
