{% assign componentName = page.component.name | default: page.title | downcase %}
{% assign componentKey = componentName | slugify %}
{% assign settingsKey = componentKey %}

{% assign guidancePath = page.guidancePath | default: "guidance" %}

{% assign guidanceFormat = "{:.usa-content-list}" %}
{% assign guidanceNullLength = guidanceFormat.size | plus: 1 %}
{% assign guidanceFirst = page.guidance | where: "first", true %}
{% assign guidanceLast = page.guidance | where: "first", null %}

{%- capture about -%}
  {% if page.component.about %}
    {{- guidanceFormat }}
    {%- include_relative {{guidancePath}}/about.md -%}
  {% endif %}
{%- endcapture -%}
{%- capture when_to_use -%}
  {{- guidanceFormat }}
  {%- include_relative {{guidancePath}}/when-to-use.md -%}
{%- endcapture -%}
{%- capture when_to_consider_something_else -%}
  {{- guidanceFormat }}
  {%- include_relative {{guidancePath}}/when-to-consider-something-else.md -%}
{%- endcapture -%}
{%- capture usability -%}
  {{- guidanceFormat }}
  {%- include_relative {{guidancePath}}/usability.md -%}
{%- endcapture -%}
{%- capture accessibility -%}
  {{- guidanceFormat }}
  {%- include_relative {{guidancePath}}/accessibility.md -%}
{%- endcapture -%}
{%- capture related -%}
  {% if page.component.related %}
    {{- guidanceFormat }}
    {%- include_relative {{guidancePath}}/related.md -%}
  {% endif %}
{%- endcapture -%}
{%- capture implementation -%}
  {{- guidanceFormat }}
  {%- include_relative {{guidancePath}}/implementation.md -%}
{%- endcapture -%}
{%- capture references -%}
  {% if page.component.references %}
    {{- guidanceFormat }}
    {%- include_relative {{guidancePath}}/references.md -%}
  {% endif %}
{%- endcapture -%}

<h2 id="{{ componentKey }}-guidance" class="site-component-section-title">
  Guidance
</h2>
<div class="site-component-usage">
  {% for item in guidanceFirst %}
    <h3 id="{{ item.heading | slugify }}" class="usa-heading">
      {{ item.heading }}
    </h3>
    {% if item.html %}
      {%- include_relative {{item.path}} -%}
    {% else %}
      {%- capture thisText -%}
        {{- guidanceFormat }}
        {%- include_relative {{item.path}} -%}
      {% endcapture %}
      {{ thisText | markdownify }}
    {% endif %}
  {% endfor %}
  {% if about.size > guidanceNullLength %}
    <h3 id="about-{{ componentKey }}">About</h3>
    {{ about | markdownify }}
  {% endif %}
  {% if when_to_use.size > guidanceNullLength %}
    <h3 id="when-to-use-the-{{ componentKey }}">
      When to use the {{ page.title | downcase }} {{ page.type }}
    </h3>
    {{ when_to_use | markdownify }}
  {% endif %}
  {% if when_to_consider_something_else.size > guidanceNullLength %}
    <h3 id="when-to-consider-something-else-{{ componentKey }}">
      When to consider something else
    </h3>
    {{ when_to_consider_something_else | markdownify }}
  {% endif %}
  {% if usability.size > guidanceNullLength %}
    <h3 id="usability-guidance-{{ componentKey }}">Usability guidance</h3>
    {{ usability | markdownify }}
  {% endif %}
  {% if accessibility.size > guidanceNullLength %}
    <h3 id="accessibility-{{ componentKey }}" class="usa-heading">
      Accessibility guidance
    </h3>

    {{ accessibility | markdownify }}
  {% endif %}
  {% if related.size > guidanceNullLength %}
    <h3 id="related-{{ componentKey }}" class="usa-heading">
      Related
    </h3>
    {{ related | markdownify }}
  {% endif %}
  {% if implementation.size > guidanceNullLength or page.variants or site.data.settings.components[settingsKey] %}
    <h3  id="using-the-{{ componentKey }}-{{ page.type }}" class="usa-heading">
      Using the {{ page.title | downcase }} {{ page.type }}
    </h3>
    {{ implementation | markdownify }}
    {% if page.category == "Components" %}
      <h4 id="component-settings-{{ componentKey }}">
        {{ page.title }} settings
      </h4>
      {% assign settings = site.data.settings.components[settingsKey] %}
      {% include settings-table-simple.html settings=settings.contents %}
      <h4 id="component-variants-{{ componentKey }}">
        {{ page.title }} variants
      </h4>
      {% include settings-table-flex.html
        content=page.variants
        cols="flex-1, flex-1"
        section="variants"
      %}
    {% endif %}
  {% endif %}
  {% for item in guidanceLast %}
    <h3 id="{{ item.heading | slugify }}" class="usa-heading">
      {{ item.heading }}
    </h3>
    {%- capture thisText -%}
      {{- guidanceFormat }}
      {%- include_relative {{item.path}} -%}
    {% endcapture %}
    {{ thisText | markdownify }}
  {% endfor %}
  {% if references.size > guidanceNullLength %}
    <h3 id="references">References</h3>
    {{ references | markdownify }}
  {% endif %}
</div>
