{% assign componentName = page.component.name
  | default: page.title
  | downcase %}
{% assign componentKey = componentName | slugify %}
{% assign settingsKey = componentKey %}
{% assign package = site.data.packages
  | where: "name", page.component.package
  | first %}
{% assign _level = include.level | default: "h2" %}

<{{ _level }} id="{{ componentKey }}-package" class="site-component-section-title">Package</{{ _level }}>
<ul class="usa-content-list">
  <li>
    <strong>Package usage:</strong> <code>@forward "{{ page.component.package }}";</code>
  </li>
  <li>
    {%- if package.dependencies -%}
    <strong>Dependencies: </strong>
      {%- for dependency in package.dependencies -%}
      <code class="text-no-wrap">{{ dependency }}</code>{% if forloop.last != true %}, {% endif %}
      {%- endfor -%}
    {%- endif -%}
  </li>
</ul>
