<h2 class="site-component-section-title" id="Component-latest-update">Latest updates</h2>
<p>All code changes for this component are tracked in its <a href="https://github.com">CHANGELOG.md</a>.</p>
<h3>Guidance updates</h3>
<ul class="usa-content-list">
    <li>Aug. 5, 2022 - <a href="https://github.com/uswds/uswds-site/pull/1737">Added type="button" to the component code and guidance.</a></li>
    <li>July 20, 2022 - <a href="https://github.com/uswds/uswds-site/pull/1718">Update accordion documentation to use the correct multi-select attribute.</a> The attribute was updated from aria-multiselectable="true"` to data-allow-multiple.</li>
</ul>
