{% assign componentName = page.component.name | default: page.title | downcase %}
{% assign componentKey = componentName | slugify %}
{% assign settingsKey = componentKey %}

<h2 id="{{ componentKey }}-package" class="site-component-section-title">Package</h2>
<ul class="usa-content-list">
  <li>
    <strong>Package usage:</strong> <code>@import {{ page.component.package}}</code>
  </li>
  <li>
    <strong>Requires:</strong> <code>required</code>, <code>global</code>
    {%- if page.component.dependencies -%}
      {%- for dependency in page.component.dependencies -%}
      , <code>{{ dependency }}</code>
      {%- endfor -%}
    {%- endif -%}
  </li>
</ul>