{% assign componentName = page.component.name | default: page.title | downcase %}
{% assign componentKey = componentName | slugify %}
{% assign settingsKey = componentKey %}

{% if page.alert == true %}
<div class="usa-alert margin-bottom-3 usa-alert--{{ page.alert-class }}">
  <div class="usa-alert__body">
    <h2 class="usa-alert__heading">{{ page.alert-heading }}</h2>
    <p class="usa-alert__text">
      {{ page.alert-content }}
    </p>
  </div>
</div>
{% endif %}

<span class="usa-tag usa-tag--big site-checklist--conformant margin-bottom-10">Recommended</span>

<div
  class="usa-summary-box measure-5 margin-top-5 margin-bottom-5 background-none"
  role="region"
  aria-labelledby="summary-box-key-information"
>
  <div class="usa-summary-box__body">
    <h3 class="usa-summary-box__heading" id="summary-box-key-information">
      Accessibility test status
    </h3>
    <div class="usa-summary-box__text">
      <p class="margin-bottom-0">This component passes 23 of 24 tests in our accessibility testing checklist.
      Learn more about these tests on the <a href="{{ site.baseurl }}/components/accordion/checklist">accordion accessibility testing guide </a>.</p>
    </div>
  </div>
</div>

{% if page.parent == null and content.size > 1 %}
<h2 class="site-component-section-title">About the {{ componentName }} {{ page.type }}</h2>
<div class="font-lang-md measure-5 margin-top-3 margin-bottom-6">
  {{ content }}
</div>
{% endif %}

{% include component-preview-and-code.html %}
{% include component-guidance.html %}
{% if page.component.package %}
{% include component-package.html %}
{% endif %}
{% include known-issues.html %}
{% if page.disclaimer %}
{% include disclaimer.html %}
{% endif %}
