{% assign componentName = page.component.name
| default: page.title
| downcase %}
{% assign componentKey = componentName | slugify %}
<!-- {% assign col1Title = 'Impact' %}
{% assign col1Classes = 'tablet:grid-col-1 site-changelog--hide-tablet' %} -->
{% assign col2Title = 'Affects' %}
{% assign col2Classes = 'tablet:grid-col-3' %}
{% assign col3Title = 'Description' %}
{% assign col3Classes = 'tablet:grid-col-8' %}

<h2 id="known-issues" class="site-component-section-title">Known issues</h2>

<p>All known issues for {{ page.title | downcase }} are tracked on <a href="{{ page.issues_link }}">GitHub</a>.
{%- if page.warnings -%}
  &nbsp;Notable usability issues are tracked in the following table: </p>
  {% if page.alert-warning == true %}
  <div class="usa-alert margin-bottom-3 usa-alert--warning usa-alert--slim">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <strong>This component has known accessibility issues. </strong> Think about your specific audience and use with
        caution.
      </p>
    </div>
  </div>
  {% endif %}
  <table class="usa-table--borderless site-table-responsive site-table-simple measure-5">
    <thead>
      <tr>
        <!-- <th scope="col" class="{{ col1Classes }}">{{ col1Title }}</th> -->
        <th scope="col" class="{{ col2Classes }}">{{ col2Title }}</th>
        <th scope="col" class="{{ col3Classes }}">{{ col3Title }}</th>
      </tr>
    </thead>
    <tbody class="font-lang-3xs">
      {%- for warning in page.warnings -%}
      <tr>
        <!-- <td data-title="{{ col1Title }}" class="{{ col1Classes }}">
          <ul class="add-list-reset">
            {% if warning.impact == "medium" %}
            <li><span class="output-warning">Medium</span></li>
            {% endif %}
            {% if warning.impact == "low" %}
            <li><span class="output-neutral">Low</span></li>
            {% endif %}
          </ul>
        </td> -->
        <td data-title="{{ col2Title }}" class="{{ col2Classes }}">
          <ul class="add-list-reset">
            {% if warning.affectsAll %}
            <li><span class="output-neutral">All users</span></li>
            {% endif %}
            {% if warning.affectsScreenReaders %}
            <li><span class="output-neutral">Screen reader users</span></li>
            {% endif %}
            {% if warning.affectsScreenMagnification %}
            <li><span class="output-neutral">Screen magnification users</span></li>
            {% endif %}
            {% if warning.affectsKeyboard %}
            <li><span class="output-neutral">Keyboard navigation users</span></li>
            {% endif %}
            {% if warning.affectsJaws %}
            <li><span class="output-neutral">JAWS users</span></li>
            {% endif %}
            {% if warning.affectsVoiceOver %}
            <li><span class="output-neutral">VoiceOver users</span></li>
            {% endif %}
          </ul>
        </td>
        <td data-title="{{ col3Title }}" class="{{ col3Classes }}">
          {% if warning.summary %}
          <p class="measure-6">
            {% if warning.impact == "medium" %}
            <span class="site-changelog--show-tablet output-warning">Medium impact</span>
            {% endif %}
            <strong>
              {{ warning.summary | markdownify | remove: '<p>' | remove: '</p>' }}
            </strong>
            {% if warning.summaryAdditional %}
              {{ warning.summaryAdditional | markdownify | remove: '<p>' | remove: '</p>' }}
            {% endif %}
          {% if warning.githubNumber and warning.githubRepo %}
          More information:
          <a href="https://github.com/uswds/{{ warning.githubRepo }}/pull/{{ warning.githubNumber }}">
            {{ warning.githubRepo }}#{{ warning.githubNumber }}
          </a>
          {% endif %}
          </p>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>
{% endif %}
  You can contribute to these issues by adding information or contributing to their fixes.
  {%- unless page.warnings -%}</p><p>{% endunless%}
  Not on GitHub? Please <a href="{{ site.baseurl }}/about/community/">join our community</a> to share feedback and
  contribute to USWDS.
</p>
