{% if include.type == "keyboard" %}
  {% assign title = "Keyboard control"%}
  {% assign description = "when users use the keyboard to navigate"%}
  {% assign items = keyboardItems  %}
 {% endif %}
{% if include.type == "zoom" %}
  {% assign title = "Zoom magnification"%}
  {% assign description = "when users increase the zoom magnification"%}
  {% assign items = zoomItems  %}
{% endif %}
{% if include.type == "screenReader" %}
  {% assign title = "Screen reader"%}
  {% assign description = "to screen readers"%}
  {% assign items = screenReaderItems  %}
{% endif %}



<style>
.bg-success {
  /* green-cool-30 */
  background-color:#5e9f69!important;
}
.text-success-dark {
  /* green-cool-60 */
  color: #446443!important;
}
.bg-success-lighter {
  /* green-cool-10 */
  background-color:#dbebde!important;
}

.text-warning-dark {
  /* orange-40 */
  color: #dd7533!important;
}

.bg-warning-dark {
  background-color: #dd7533!important;
}

.text-info-dark {
  /* blue-cool-60 */
  color: #2c608a!important;
}
.bg-info-dark {
    /* blue-cool-40 */

  background-color: #6499af!important;
}
</style>
## {{ title }}
These tests check to see if the accordion is accessible and usable {{ description }}.
For more instructions on how to perform keyboard control tests, check out the resources in the expandable section below.

<div class="usa-accordion measure-5">
  <h4 class="usa-accordion__heading">
    <button type="button" class="usa-accordion__button" aria-controls="a1">
      {{ title }} resources
    </button>
  </h4>
  <div id="a1" class="usa-accordion__content usa-prose">
    <p>Lorem ipsum dolor sit anum.</p>
  </div>
</div>

<ul class="usa-icon-list usa-content-list maxw-tablet-lg margin-top-4">
  {% for item in items %}
    {% if item.wcagCriterion == "1.4.4" %}
      {% assign criterionLevel = "AA" %}
      {% assign criterionName = "Resize text" %}
      {% assign criterionUrl = "http://www.w3.org/TR/WCAG20/#visual-audio-contrast-scale" %}
    {% endif %}
    {% if item.wcagCriterion == "2.1.1" %}
      {% assign criterionLevel = "A" %}
      {% assign criterionName = "Keyboard" %}
      {% assign criterionUrl = "https://www.w3.org/TR/WCAG20/#keyboard-operation-keyboard-operable" %}
    {% endif %}
    {% if item.wcagCriterion == "2.1.2" %}
      {% assign criterionLevel = "A" %}
      {% assign criterionName = "No keyboard trap" %}
      {% assign criterionUrl = "http://www.w3.org/TR/WCAG20/#keyboard-operation-trapping" %}
    {% endif %}
    {% if item.wcagCriterion == "2.4.3" %}
      {% assign criterionLevel = "A" %}
      {% assign criterionName = "Focus order" %}
      {% assign criterionUrl = "http://www.w3.org/TR/WCAG20/#navigation-mechanisms-focus-order" %}
    {% endif %}
    {% if item.wcagCriterion == "2.4.6" %}
      {% assign criterionLevel = "AA" %}
      {% assign criterionName = "Headings and labels" %}
      {% assign criterionUrl = "http://www.w3.org/TR/WCAG20/#navigation-mechanisms-descriptive" %}
    {% endif %}
    {% if item.wcagCriterion == "2.4.7" %}
      {% assign criterionLevel = "AA" %}
      {% assign criterionName = "Focus visible" %}
      {% assign criterionUrl = "http://www.w3.org/TR/WCAG20/#navigation-mechanisms-focus-visible" %}
    {% endif %}
    {% if item.versionTested %}
      {% assign versionTested =  item.versionTested | prepend: 'v' %}
    {% else %}
      {% assign versionTested = "N/A" %}
    {% endif %}

    <li class="usa-icon-list__item flex-justify">
      <div class="display-flex flex-row">
        {% if item.testStatus == 'pass' and item.versionFixed  == site.uswds_version %}
        <div class="usa-icon-list__icon text-green">
          <svg class="usa-icon" aria-hidden="true" role="img">
            <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#info"></use>
          </svg>
        </div>
        {% elsif item.testStatus == 'pass' %}
        <div class="usa-icon-list__icon text-green">
          <svg class="usa-icon" aria-hidden="true" role="img">
            <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#check_circle_outline"></use>
          </svg>
        </div>
        {% elsif item.testStatus == 'fail' %}
        <div class="usa-icon-list__icon text-warning-dark">
          <svg class="usa-icon" aria-hidden="true" role="img">
            <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#warning"></use>
          </svg>
        </div>
        {% elsif item.testStatus == 'exempt' %}
        <div class="usa-icon-list__icon text-info-dark">
          <svg class="usa-icon" aria-hidden="true" role="img">
            <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#info"></use>
          </svg>
        </div>
        {% else %}
        <div class="usa-icon-list__icon text-info-dark">
          <svg class="usa-icon" aria-hidden="true" role="img">
            <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#info_outline"></use>
          </svg>
        </div>
        {% endif %}
        <div class="usa-icon-list__content">
          <p class="margin-bottom-05">
            <strong>{{ item.summary | markdownify | remove: '<p>' | remove: '</p>' }}</strong>
            {{ item.summaryAdditional | markdownify  | remove: '<p>' | remove: '</p>' }}
            {% if item.testStatus == 'pass' and item.versionFixed  == site.uswds_version %}
              <br/>
              <span class="margin-y-05 text-success-dark font-body-xs">
                <b>This component passed this test in version {{ versionTested}}.</b><br/>
                <a class="text-success-dark" href="https://github.com/uswds/uswds/releases/tag/v{{ versionTested }}">Read more in the release notes</a>.
              </span>
            {% elsif item.testStatus == 'fail' %}
              <br/>
              <span class="margin-y-05 text-warning-dark font-body-xs">
                <b>This component does not currently pass this test.</b><br/>
                <a class="text-warning-dark" href="https://github.com/uswds/uswds/issues/{{ issueNumber }}">Learn more and track this issue on GitHub</a>.
              </span>
            {% elsif item.testStatus == 'exempt' %}
              <br/>
              <span class="margin-y-05 text-info-dark font-body-xs">
                <b>We cannot effectively test this on a system level. </b><br/>
                This must be tested on the project level.
              </span>
              {% elsif item.testStatus == 'pass' %}
            {% else %}
              <br/>
              <span class="margin-y-05 text-info-dark font-body-xs">
                <b>This test has not been performed yet </b><br/>
              </span>
            {% endif %}
          </p>
          {% assign tagClasses = "padding-y-05 padding-x-1 border-1px border-gray-10 desktop-lg:radius-md font-body-3xs margin-right-1 margin-y-05" %}
          <div class="display-flex flex-wrap flex-align-center margin-y-05">
            {% if item.wcagCriterion%}
              <span class="{{ tagClasses }}">
                WCAG {{ criterionLevel }} {{ versionTested }}
              </span>
              <a href="{{ criterionUrl }}" class="{{ tagClasses }}">
                {{ item.wcagCriterion }} {{ criterionName }}
              </a>
            {% endif %}
            <span class="{{ tagClasses }} display-block desktop-lg:display-none">
                Last manual test
                <b>{{ versionTested }}</b>
            </span>
          </div>
        </div>
      </div>
        <div class="flex-column flex-align-end text-right display-none desktop-lg:display-flex">
          <span class="{{ tagClasses }}
            {% if item.testStatus == 'pass' and item.versionFixed == site.uswds_version %}bg-success
              {% elsif item.testStatus == 'pass' %}bg-success-lighter
              {% elsif item.testStatus == 'fail' %}bg-warning-dark
              {% elsif item.testStatus == 'exempt' %}bg-info-dark
              {% else %}border-2px border-info-dark
            {% endif %}
            border-0 margin-right-0 display-none desktop-lg:display-block">
            Last manual test<br/>
            <b>{{ versionTested }}</b>
          </span>
        </div>
    </li>
    {% endfor %}
</ul>