<ul class="site-button-list usa-button-list add-list-reset float-none desktop:display-inline">
  <li>
    <a class="usa-button" href="{{ site.baseurl }}/download/" onclick="ga('send', 'event', 'Downloaded code and design files', 'Clicked Download code and design files from inside site');">
      Download v2.0.1
    </a>
  </li>
  <li>
    <a class="usa-button site-button-outline-secondary" href="{{ site.repos[0].url }}" onclick="ga('send', 'event', 'Viewed on Github', 'Clicked View on Github from inside site');">
      View on GitHub
    </a>
  </li>
</ul>
