{% comment %}
These `uswds-assets-*.zip` files are generated in 18F/web-design-standards-assets
repository. See: https://github.com/uswds/uswds-for-designers
{% endcomment %}
<div class="link__group-download">
  <a class="link-download" href="{{ site.baseurl }}/files/uswds-for-designers/retired/uswds-assets-ai-1.6.10.zip" onclick="ga('send', 'event', 'Downloaded design files - Illustrator', 'Clicked download design files button inside site');">
    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
      <use href="{{ site.baseurl }}/assets/img/sprite.svg#file_download"></use>
    </svg>
    Download 1.6.10 design files (Illustrator)
  </a>
  <a class="link-download" href="{{ site.baseurl }}/files/uswds-for-designers/retired/uswds-assets-eps-1.6.10.zip" onclick="ga('send', 'event', 'Downloaded design files - EPS', 'Clicked download design files button inside site');">
    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
      <use href="{{ site.baseurl }}/assets/img/sprite.svg#file_download"></use>
    </svg>
    Download 1.6.10 design files (EPS)
  </a>
</div>
