<div class="link__group-download">
  <a class="link-download" href="{{ site.baseurl }}/files/uswds-for-designers/retired/uswds-assets-omnigraffle-1.0.0.zip" onclick="ga('send', 'event', 'Downloaded design files - OmniGraffle', 'Clicked download design files button inside site');">
  <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
    <use href="{{ site.baseurl }}/assets/img/sprite.svg#file_download"></use>
  </svg>
  <span class="flex-1">Download 1.0.0 design files (OmniGraffle)</span>
  </a>
</div>
