{% comment %}
These `uswds-assets-*.zip` files are generated in 18F/web-design-standards-assets
repository. See: https://github.com/uswds/uswds-for-designers
{% endcomment %}
<div class="link_group-download">
  <a class="link-download"
    href="https://github.com/uswds/uswds-for-designers/releases/download/v2.4.0/uswds-for-designers-v2.4.0.zip"
    onclick="ga('send', 'event', 'Downloaded design files - Sketch', 'Clicked download design files button inside site');">Download the USWDS 2.11.2 Design Kit (Sketch) [ZIP; 13.3 MB]</a>
  <a class="link-download"
    href="https://github.com/uswds/uswds-for-designers/releases/download/v2.4.0/uswds-for-designers-v2.4.0.zip"
    onclick="ga('send', 'event', 'Downloaded design files - Adobe XD', 'Clicked download design files button inside site');">Download the USWDS 2.11.2 Design Kit (Adobe XD) [ZIP; 13.3 MB]</a>
</div>
