<div class="link__group-download">
  <a class="link-download"
    href="https://github.com/uswds/uswds-for-designers/releases/download/v3.0.0/uswds-for-designers-v.3.0.0.zip"
    onclick="ga('send', 'event', 'Downloaded design files', 'Clicked download design files button inside site');">
    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
      <use href="{{ site.baseurl }}/assets/img/sprite.svg#file_download"></use>
    </svg>
    <span class="flex-1">Download the USWDS Design Kits for Figma and Sketch [ZIP; 17.6 MB]</span></a>
</div>
