<footer class="usa-footer usa-footer-medium site" role="contentinfo">
  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-width-one-fourth">
        <img class="footer-main-img" src="{{ site.baseurl }}/img/home/homepage_illustrations_best_easiest_2x.png" alt="">
      </div>
      <div class="usa-width-three-fourths footer-content">
        <h3>Become part of the community</h3>
        <p>The U.S. Web Design System has grown into a blossoming, open source community of government engineers, content specialists, and designers. We currently support dozens of agencies and more than 100 sites, which is fueled through an active community of contributors both in and out of government.</p>
        <div class="usa-grid-full footer-contact-links">
          <div class="usa-width-one-third">
            <div class="usa-media_block">
              <img class="usa-media_block-img" src="{{ site.baseurl }}/img/home/icon-question.svg" alt="">
              <div class="usa-media_block-body">
                <h4>Running into an issue?</h4>
                <a href="{{ site.repos[0].url }}/issues/new">
                  Ask questions on GitHub
                </a>
              </div>
            </div>
          </div>
          <div class="usa-width-one-third">
            <div class="usa-media_block">
              <img class="usa-media_block-img" src="{{ site.baseurl }}/img/home/icon-slack.svg" alt="">
              <div class="usa-media_block-body">
                <h4>Engage with the community</h4>
                <a href="https://chat.18f.gov/">
                  Join our Slack channel
                </a>
              </div>
            </div>
          </div>
          <div class="usa-width-one-third">
            <div class="usa-media_block">
              <img class="usa-media_block-img" src="{{ site.baseurl }}/img/home/icon-envelope.svg" alt="">
              <div class="usa-media_block-body">
                <h4>Reach the team</h4>
                <a href="mailto:uswds@gsa.gov">
                  Send us an email
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section-bottom">
    <div class="usa-grid">
      <div class="logo-links">
        <a href="http://www.gsa.gov/">
          <img src="{{ site.baseurl }}/img/gsa-logo.svg" alt="GSA">
        </a>
      </div>
      <p>The U.S. Web Design System is a project of GSA’s <a href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services">Technology Transformation Services</a>, maintained by the Office of Products and Programs.</p>
      <p>This website is hosted on <a href="https://federalist.18f.gov">Federalist</a>.</p>
    </div>
  </div>
</footer>
