<footer class="usa-footer usa-footer-medium site" role="contentinfo">
  <div class="usa-footer-secondary_section">
    <div class="usa-grid footer-content">
      <div class="usa-width-one-fourth">
        <img class="footer-main-img" src="{{ site.baseurl }}/img/home/homepage_illustrations_best_easiest_2x.png" alt="">
      </div>
      <div class="usa-width-three-fourths">
        <h3>Become a part of the community</h3>
        <p>The U.S. Web Design Standards has grown into a blossoming community of government engineers, content specialists, and designers. This open source project supports dozens of agencies and more than 100 sites, and is supported by an active community of contributors both in and out of government.</p>
        <div class="usa-grid-full footer-contact-links">
          <div class="usa-width-one-third">
            <div class="usa-media_block">
              <img class="usa-media_block-img" src="{{ site.baseurl }}/img/home/icon-question.svg" alt="">
              <div class="usa-media_block-body">
                <h4>Running into an issue?</h4>
                <a href="{{ site.repos[0].url }}/issues/new" class="cta">
                  Ask questions on GitHub
                </a>
              </div>
            </div>
          </div>
          <div class="usa-width-one-third">
            <div class="usa-media_block">
              <img class="usa-media_block-img" src="{{ site.baseurl }}/img/home/icon-slack.svg" alt="">
              <div class="usa-media_block-body">
                <h4>Engage with the community</h4>
                <a href="https://chat.18f.gov/" class="cta">
                  Join our Slack channel
                </a>
              </div>
            </div>
          </div>
          <div class="usa-width-one-third">
            <div class="usa-media_block">
              <img class="usa-media_block-img" src="{{ site.baseurl }}/img/home/icon-envelope.svg" alt="">
              <div class="usa-media_block-body">
                <h4>Reach the team</h4>
                <a href="mailto:uswebdesignstandards@gsa.gov" class="cta">
                  Send us an email
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section-bottom">
    <div class="usa-grid">
      <div class="logo-links">
        <a href="http://www.gsa.gov/">
          <img src="{{ site.baseurl }}/img/logo-gsa.png" alt="GSA">
        </a>
      </div>
      <p>The U.S. Web Design Standards is a project of GSA’s Technology Transformation Service, maintained by the Office of Products and Platforms.  <br>This website is hosted on <a href="https://federalist.fr.cloud.gov">Federalist</a>.</p>
    </div>
  </div>
</footer>
