{% assign footer = site.data.footer %}

{% if site.touchpoints.active and page.touchpoints_survey | default: false %}
  {% include touchpoint-survey-script.html %}
{% endif %}

<footer class="usa-footer site-footer">
  <div class="usa-footer__secondary-section">
    <div class="grid-container footer-content">
      <h2>{{ footer.title }}</h2>
      <p>
        {{ footer.description }}
      </p>
      <div class="grid-row footer-contact-links">
        {% for callout in footer.callouts %}
          <div class="tablet:grid-col">
            <div class="usa-media-block">
              <div class="usa-media-block__img circle-5 bg-accent-cool display-flex flex-row flex-align-center flex-justify-center text-white">
                <svg class="usa-icon usa-icon--size-3" aria-hidden="true" role="img" focusable="false">
                  <use href="{{ site.baseurl }}/assets/img/sprite.svg#{{ callout.icon }}"></use>
                </svg>
              </div>
              <div class="usa-media-block__body">
                <h3>{{ callout.tagline }}</h3>
                <a href="{{ callout.link_href }}">
                  {{- callout.link_text -}}
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="bg-base-light padding-y-1 line-height-sans-3 font-lang-4">
      <div class="grid-container">
        {{ footer.complimentary.label }}
        <a
          href="{{ footer.complimentary.link_href }}"
          class="text-ink text-bold hover:text-no-underline"
          >{{- footer.complimentary.link_text -}}</a
        >
      </div>
    </div>
  </div>
</footer>
{% include identifier.html %}
