<section class="usa-prose site-prose margin-top-5">
  <h2 id="general-accessibility-guidance-for-forms">Accessibility guidance</h2>
  <ul class="usa-content-list">
    <li><strong>Don’t control element order with CSS.</strong> Display form controls in the same order in the HTML as
      they appear on screen. Don’t use CSS to rearrange the form controls. Screen readers narrate form elements in the
      order they appear in the HTML.</li>
    <li><strong>Align validation with inputs.</strong> Visually align validation messages with the input fields so
      people using screen magnifiers can read them quickly.</li>
    <li><strong>Use proper markup.</strong> Group each set of thematically related controls in a fieldset element. Use
      the legend element to offer a label within each one. The fieldset and legend elements make it easier for those who
      use screen readers to navigate the form.</li>
    <li><strong>Use legends.</strong> Use a single legend for fieldset (this is required). One common use of the
      fieldset and legend elements is a question with radio-button options for answers. The question text and radio
      buttons are wrapped in a fieldset, with the question itself being inside the legend tag.</li>
    <li><strong>Embed multiple fieldsets and legends for more complex forms.</strong></li>
    <li><strong>Use simple vertical layouts.</strong> Keep your form blocks in a vertical pattern. This approach is
      ideal, from an accessibility standpoint, because of limited vision that makes it hard to scan from right to left.
    </li>
  </ul>
  <h2 id="disabled-states-for-components-in-forms">Disabled states for components in forms</h2>
   <ul class="usa-content-list">
     <li><strong>Avoid disabled states, especially for text inputs.</strong> Disabled states have low color contrast, 
       do not offer meaningful feedback to screen reader users, and keyboard navigators can’t focus on them. 
       These states can also be generally confusing to users. Instead, keep form elements enabled. 
       Offer contextual helper text, tooltips, <a href="https://www.w3.org/WAI/WCAG22/Understanding/error-suggestion.html">helpful error messages</a> 
       and inline validation to help people correct mistakes and move through the form.</li>
     <li><p><strong>If you <i>must</i> use disabled states, follow best practices.</strong> Some disabled states can prevent errors 
       by telling users that a system is loading or processing (for example, to prevent multiple form 
       submissions). In specific cases, such as an unavailable date in appointment scheduling, a disabled 
       state may be helpful to show users that an option exists but is currently unavailable.</p>
       When using disabled states, be very clear:
       <ul>
         <li>Explain why an element is disabled, using helper text or tooltips </li>
         <li>Use inline validation to minimize errors in real time</li>
         <li>Support screen reader users and keyboard navigators by using "aria-disabled=true" instead of "disabled"
           to indicate the presence of a disabled element</li>
         <li>Use JavaScript to programmatically disable the element to prevent clicks</li>
       </ul>
      <p>For more detail, you can read 
        USWDS’s <a href="https://github.com/uswds/uswds/wiki/Disabled-States-Research-Findings-2023">2023 
        literature review on disabled states</a>.</p> 
     </li>
   </ul>
  <h2 id="identifying-required-fields">Identifying required fields</h2>
  <ul class="usa-content-list">
    <li><strong>Show whether a field is required or optional.</strong> Mark required fields as required by using a red
      asterisk (<abbr title="required" class="usa-hint--required">*</abbr>).</li>
    <li><strong>Use text descriptions.</strong> Combine red asterisks (<abbr title="required"
        class="usa-hint--required">*</abbr>) with a text description at the top of the form instructing the user of its
      meaning. <br />
      <em>Example:</em> “A red asterisk (<abbr title="required" class="usa-hint--required">*</abbr>) indicates a
      required field.”
    </li>
    <li><strong>Use the <code>required</code> attribute.</strong> Add the <code>required</code> attribute to your form
      elements to indicate that a field must be filled out before submitting the form.</li>
    <li><strong>Mark optional fields as "optional."</strong> Label optional fields with the word “optional” placed in
      parentheses. <br />
      <em>Example:</em> (optional)
    </li>
    <li><strong>Let users know if there is an error.</strong> Use a message or <a
        href="{{ site.baseurl }}/components/alert">alert</a> to notify the user if a field that is required was not
      completed, and indicate which field was not completed. Additionally, include an error notification in the page
      title (<code>title</code> element) for screen readers.</li>
    <li><em><strong>Note:</strong> One-field forms are the exception and do not need to be marked with a required label or symbol.</em>
    </li>
  </ul>

  <h2 id="known-issues-with-screen-readers">Known issues with screen readers</h2>
  <ul class="usa-content-list">
    <li>VoiceOver on iOS currently does not support fieldset and legend elements for forms. You can address this issue
      by using <code>aria-labelledby="for-attribute-of-label id-of-legend id-of-additional-info"</code> on each input in
      the fieldset. Using <code>aria-labelledby</code> will overwrite the default text read by the screen reader, so it
      is important to include all relevant information.</li>
    <li>
      VoiceOver on OS X offers partial support for <code>aria-describedby</code>. There's full support for conveying
      description on text inputs, partial support for description changes when the text input is in focus, and no
      support for <code>role="alert"</code>. Visit <a
        href="https://a11ysupport.io/tech/aria/aria-describedby_attribute">a11ysupport.io</a> to view the full status of
      support.</li>
  </ul>
  <div class="site-note"><strong>Note:</strong> These components have been designed to support a wide range of screen
    readers, but they may not work with all versions.</div>
</section>
