<ul class="usa-list font-sans-sm">
  <li>
    <strong><a href="https://digital.gov/resources/required-web-content-and-links/#about-page">
    About [Official parent agency acronym]:</a>
    </strong> Update the link text to include the department of
    agency's official acronym. Link to the "About" page of your
    parent agency's principal website. If your site includes multiple
    parents, include only the organization highest in the hierarchy
    in this link.

    <p>
      Example: <a href="https://www.gsa.gov/about-us">https://www.gsa.gov/about-us</a>
    </p>
  </li>
  <li class="margin-top-2">
    <strong>
      <a href="https://digital.gov/resources/required-web-content-and-links/#accessibility-statement">
        Accessibility:
      </a>
    </strong>
    Link to the “Accessibility” page of your parent agency's principal website.

    <p>
      Example: <a href="https://www.gsa.gov/website-information/accessibility-aids">
        https://www.gsa.gov/website-information/accessibility-aids
      </a>
    </p>
  </li>
  <li class="margin-top-2">
    <strong>
      <a href="https://digital.gov/resources/required-web-content-and-links/#freedom-of-information-act-foia">
        FOIA requests:
      </a>
    </strong>
    Link to the “Accessibility” page of your parent agency's principal website.
    <p>
      Example: <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia">
        https://www.gsa.gov/reference/freedom-of-information-act-foia
      </a>
    </p>
  </li>
  <li class="margin-top-2">
    <strong>
      <a href="https://digital.gov/resources/required-web-content-and-links/#equal-employment">
        No FEAR Act data:
      </a>
    </strong>
    Link to the "Equal Employment Opportunity Data Posted Pursuant
    to the No Fear Act" page on your parent agency's principal website.
    <p>
      Example: <a href="https://digital.gov/resources/required-web-content-and-links/#equal-employment">
        https://digital.gov/resources/required-web-content-and-links/#equal-employment
      </a>
    </p>
  </li>
  <li class="margin-top-2">
    <strong>
      <a href="https://digital.gov/resources/required-web-content-and-links/#report-fraud-to-the-inspector-general">
        Office of the Inspector General:
      </a>
    </strong>
    Link to your parent agency's  Office of the Inspector General.
    <p>
      Example: <a href="https://www.gsaig.gov/">
        https://www.gsaig.gov/
      </a>
    </p>
  </li>
  <li class="margin-top-2">
    <strong>
      <a href="hhttp://web-content-and-links/#budget-and-performance-reports">
        Performance reports:
      </a>
    </strong>
    This links to a “Budget and Performance” page that includes the
    agency’s strategic plan among other financial and performance documentation.
    <p>
      Example: <a href="https://www.gsa.gov/reference/reports/budget-performance">
        https://www.gsa.gov/reference/reports/budget-performance
      </a>
    </p>
  </li>
  <li class="margin-top-2">
    <strong>
      <a href="https://digital.gov/resources/required-web-content-and-links/#privacy-policy">
        Privacy policy:
      </a>
    </strong>
    Links to the "Privacy" page most specific to your website.
    For example, if both your product website and your parent
    agency's principal website have privacy pages, link to your
    product website's privacy page here.
    <p>
      Example: <a href="https://www.dhs.gov/privacy-policy">
        https://www.dhs.gov/privacy-policy
      </a>
    </p>
  </li>
</ul>
