<ul class="usa-content-list padding-bottom-1 margin-top-2 border-bottom-1px border-base-lighter">
    {%- for issue in issues.items -%}
    <li class="font-lang-xs">
      {% if issue.summary %}
        <strong>
          {{ issue.summary | markdownify | remove: '<p>' | remove: '</p>' }}
        </strong>
      {% endif %}
      {% if issue.summaryAdditional %}
        {{ issue.summaryAdditional | markdownify | remove: '<p>' | remove: '</p>' }}
      {% endif %}
      {% if issue.issueNumber and issue.issueRepo %}
        More information on GitHub:
        <a href="https://github.com/uswds/{{ issue.issueRepo }}/pull/{{ issue.issueNumber }}">
          {{ issue.issueRepo }}#{{ issue.issueNumber }}
        </a>
      {% endif %}
    </li>
    {% endfor %}
</ul>
