<!-- {% assign col1Title = 'Impact' %}
{% assign col1Classes = 'tablet:grid-col-1 site-changelog--hide-tablet' %} -->
{% assign col2Title = 'Affects' %}
{% assign col2Classes = 'tablet:grid-col-2' %}
{% assign col3Title = 'Description' %}
{% assign col3Classes = 'tablet:grid-col-4' %}
{% assign col4Title = 'Recommendation' %}
{% assign col4Classes = 'tablet:grid-col-4' %}
{% assign col5Title = 'Track issue' %}
{% assign col5Classes = 'tablet:grid-col-2' %}

<table class="usa-table--borderless site-table-responsive flex-align-self-start" >
  <caption>Notable usability issues</caption>
  <thead>
    <tr>
      <!-- <th scope="col" class="{{ col1Classes }}">{{ col1Title }}</th> -->
      <th scope="col" class="{{ col2Classes }}">{{ col2Title }}</th>
      <th scope="col" class="{{ col3Classes }}">{{ col3Title }}</th>
      <th scope="col" class="{{ col4Classes }}">{{ col4Title }}</th>
      <th scope="col" class="{{ col5Classes }}">{{ col5Title }}</th>
    </tr>
  </thead>
  <tbody class="font-lang-3xs" style="vertical-align: top;">
    {%- for issue in issues.items -%}
    <tr>
      <!-- <td data-title="{{ col1Title }}" class="{{ col1Classes }}">
        <ul class="add-list-w">
          {% if issue.impact == "medium" %}
          <li><span class="output-issue">Medium</span></li>
          {% endif %}
          {% if issue.impact == "low" %}
          <li><span class="output-neutral">Low</span></li>
          {% endif %}
        </ul>
      </td> -->
      <td data-title="{{ col2Title }}" class="{{ col2Classes }}">
        <ul class="add-list-reset">
          {% if issue.affectsAll %}
          <li><span class="output-neutral">All</span></li>
          {% endif %}
          {% if issue.affectsScreenReaders %}
          <li><span class="output-neutral">Screen reader</span></li>
          {% endif %}
          {% if issue.affectsVisual %}
          <li><span class="output-neutral">Screen magnification</span></li>
          {% endif %}
          {% if issue.affectsKeyboard %}
          <li><span class="output-neutral">Keyboard navigation</span></li>
          {% endif %}
        </ul>
      </td>
      <td data-title="{{ col3Title }}" class="{{ col3Classes }}">
        {% if issue.summary %}
          {% if issue.impact == "medium" %}
            <span class="site-changelog--show-tablet output-issue">Medium impact</span>
          {% endif %}
          <strong>
            {{ issue.summary | markdownify | remove: '<p>' | remove: '</p>' }}
          </strong>
          {% if issue.summaryAdditional %}
            {{ issue.summaryAdditional | markdownify | remove: '<p>' | remove: '</p>' }}
          {% endif %}
        {% endif %}
      </td>
      <td data-title="{{ col4Title }}" class="{{ col4Classes }}">
        {% if issue.recommendation %}
          {{ issue.recommendation | markdownify | remove: '<p>' | remove: '</p>' }}
        {% endif %}
      </td>
      <td data-title="{{ col5Title }}" class="{{ col5Classes }}">
        {% if issue.githubNumber and issue.githubRepo %}
          <a href="https://github.com/uswds/{{ issue.githubRepo }}/pull/{{ issue.githubNumber }}">
            {{ issue.githubRepo }}#{{ issue.githubNumber }}
          </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <small>Known issues can impact the following users: All, Screen readers, Keyboard navigation, Visual (color or magnification).</small>
      </td>
    </tr>
  </tfoot>
</table>
