{% assign pageName = page.title | downcase %}
{% assign pageSlug = pageName | slugify %}
{% assign issues = site.data.issues[pageSlug] %}
{% assign hasKnownIssues = issues.items %}

<h2 id="known-issues" class="site-component-section-title">Known issues</h2>

<em>
  This component has known issues. Think about your specific audience and use with caution.
</em>

{% if issues %}
  {% include known-issues-table.html %}
{% endif %}

<p>
  You can contribute to these issues by adding information or contributing to their fixes. Not on GitHub? Please <a href="{{ site.baseurl }}/about/community/">join our community</a> to share feedback and
  contribute to USWDS.
</p>
