<a class="usa-skipnav" href="#main-content">Skip to main content</a>
{% include banner.html %}
<header class="usa-header site-header site-header-dark" role="banner">
  <div class="usa-navbar site-header-navbar">
    <div class="usa-logo site-logo" id="logo">
      <em class="usa-logo__text">
        <a class="margin-right-05" href="{{ site.baseurl }}/" title="Home" aria-label="{{ site.title }} home">
          <span aria-hidden="true" class="site-title-short">USWDS</span>
          <span class="site-title">{{ site.title }}</span>
        </a>
      </em>
    </div>
    <button class="usa-menu-btn">Menu</button>
    {% include download-buttons.html %}
  </div>
</header>
<nav class="site-nav-secondary sticky">
  <ul>
    {%
      include nav/list.html
      links=site.data.nav.primary
      rel='contains'
      flat=true
      primary=true
    %}
  </ul>
</nav>
<div class="usa-overlay"></div>

<nav role="navigation" class="usa-nav sidenav-mobile">
  <button class="usa-nav__close">
    <img src="{{ site.baseurl }}/assets/img/close.svg" alt="close">
  </button>
  <div class="usa-nav__inner">
    <ul class="usa-nav__primary usa-accordion">
      {% include nav/sections.html sections=site.data.nav.mobile %}
    </ul>
    {% include download-buttons.html %}
  </div>
</nav>
