<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<header class="usa-header site-header" role="banner">
  {% include banner.html %}
  <div class="usa-navbar site-header-navbar">
    <button class="usa-menu-btn">Menu</button>
    <div class="usa-logo site-logo" id="logo">
      <em class="usa-logo-text">
        <a href="{{ site.baseurl }}/" accesskey="1" title="Home" aria-label="Home">
        U.S. Web Design Standards</a>
      </em>
    </div>
    {% include download-buttons.html %}
  </div>
</header>  
<nav class="site-nav-secondary sticky">
  <ul>
    {%
      include nav/list.html
      links=site.data.nav.primary
      rel='contains'
      flat=true
    %}
  </ul>
</nav>
<div class="usa-overlay"></div>
