{% assign post = include.post %}
<article id="{{ post.id | default: post.title | slugify }}"{% if include.excerpt %} class="post-excerpt"{% endif %}>
  <div class="post-meta">
    <h2 class="post-title">
      {% if include.excerpt %}<a href="{{ post.url | relative_url }}">{% endif %}
      {{ post.title }}
      {% if include.excerpt %}</a>{% endif %}
    </h2>

    <p class="post-date site-subheading">
      {% if post.tags.size > 0 -%}
        {{ post.tags | join: ', ' }} posted
      {% endif %}
      {{ post.date | date: '%B %-d, %Y' }}
    </p>
  </div>

  <div class="post-content">
  {% if include.excerpt == true %}
    {% if post.lead %}
      {% include lead.html text=post.lead %}
    {% else %}
      {{ post.excerpt }}
    {% endif %}

    <p class="post-more"><a href="{{ post.url | relative_url }}">Continue reading</a></p>
  {% else %}
    {{ post.content }}
  {% endif %}
  </div>
</article>
