{% assign post = include.post %}
<article id="{{ post.id | default: post.title | slugify }}">
  <div class="usa-grid-full">
    <div class="post-meta usa-width-one-third">
      <h2 class="post-title">
        {% if include.excerpt %}<a href="{{ post.url | relative_url }}">{% endif %}
        {{ post.title }}
        {% if include.excerpt %}</a>{% endif %}
      </h2>

      <p class="post-date site-subheading">
        {{ post.date | date: '%B %-d, %Y' }}
      </p>

      {% if post.tags -%}
      <p class="post-tags">{% for tag in post.tags -%}
        <span class="usa-label post-tag">{{ tag }}</span>
      {% endfor %}</p>
      {% endif %}
    </div>

    <div class="post-content usa-width-two-thirds">
      {% if include.excerpt == true %}
        {{ post.excerpt | replace: '<p>', '<p class="usa-font-lead">' }}
      {% else %}
      <div class="post-content">
        {{ post.content }}
      </div>
      {% endif %}
    </div>
  </div>
</article>
