{% comment %}
  Post previews used in the news feeds found on:
  - `/about/whats-new/`
  - `/about/whats-new/all`
{% endcomment %}

{% assign post_id = post.title | default: post.id | slugify %}

{% comment %}
  Assign header link url
  - posts: link to the post's generated page
  - post_previews: link to a custom location declared in `preview_url`
{% endcomment %}
{% assign post_url = site.baseurl | append: post.url %}
{% assign preview_url = post.preview_url | default: post_url %}

<article id="{{ post_id }}" class="post-preview">
  <header class="post-preview__header">
    <p class="post-category site-subheading">
      {{ post.tags[0] }}
    </p>

    <{{ include.heading | default:"h2" }} class="post-preview__title">
      {% unless preview_url == "none" %}
        <a href="{{ preview_url }}">
      {% endunless %}
          {{ post.title }}
      {% unless preview_url == "none" %}
        </a>
      {% endunless %}
    </{{ include.heading | default:"h2" }}>

    {% include post-meta.html %}
  </header>

  <div class="post-preview__content site-prose">
    <p>
      {{ post.lead | default: post.excerpt | markdownify}}
    </p>
  </div>
</article>
