<!--temporary alert to announce repo split-->
<div class="usa-alert usa-alert-info alert-repo_split">
   <div class="usa-alert-body">
     <h3 class="usa-alert-heading">Changes to the Github repos for the Standards</h3>
     <p class="usa-alert-text">There are now separate repos for the Standards and for the documentation of the Standards. <a href="https://github.com/18F/web-design-standards" target="_blank">web-design-standards</a> is the code base for the Standards themselves, and <a href="https://github.com/18F/web-design-standards-docs" target="_blank">web-design-standards-docs</a> contains the code and documentation for this site.</p>
   </div>
</div>
