{% assign col1Title = 'Variable' %}
{% assign col1Width = 'flex-6' %}
{% assign col2Title = 'Description' %}
{% assign col2Width = 'flex-6' %}

{% assign settings = include.settings %}

{% if settings != nil  %}
  <table class="usa-table--borderless site-table-responsive site-table-simple">
    <thead>
      <tr>
        <th scope="col" class="{{ col1Width }} display-inline-flex">{{ col1Title }}</th>
        <th scope="col" class="{{ col2Width }} display-inline-flex">{{ col2Title }}</th>
      </tr>
    </thead>
    <tbody class="font-mono-2xs">
      {% for setting in settings %}
      <tr>
        <td data-title="{{ col1Title }}" class="{{ col1Width }} display-inline-flex flex-align-start">
          <code>
            {{ setting.var }}
          </code>
        </td>
        <td data-title="{{ col2Title }}" class="{{ col2Width }} display-inline-flex flex-align-start">
          <span class="font-lang-3xs">
            {{ setting.description | markdownify }}
          </span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p><em>This component has no settings.</em></p>
{% endif %}
