{%- if include.content != nil  %}
  {%- assign tableSchema = include.content[0] -%}
  {%- assign cols = include.cols | remove: " " | split: "," %}

  <table class="usa-table--borderless site-table-responsive site-table-simple margin-top-105">
    <thead>
      <tr>
        {%- for tableItem in tableSchema %}
        {%- assign colKey = forloop.index | minus: 1 %}
        <th scope="col" class="{{ cols[colKey] }} display-inline-flex">{{ tableItem[0] | capitalize }}</th>
        {%- endfor %}
      </tr>
    </thead>
    <tbody class="font-lang-3xs">
      {%- for row in include.content %}
      <tr>
        {%- for column in row %}
        {%- assign colKey = forloop.index | minus: 1 %}
        <td class="{{ cols[colKey] }} display-inline-flex flex-align-start"
          data-title="{{ column[0] | capitalize }}"
          >
          {{ column[1] | markdownify }}
        </td>
        {%- endfor %}
      </tr>
      {%- endfor %}
    </tbody>
  </table>
{%- else %}
<p><em>This component has no {{ include.section }}.</em></p>
{%- endif %}
