<form id="search_form-mobile" class="site-search usa-search usa-search--small"
  action="https://search.usa.gov/search" accept-charset="UTF-8" method="get">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input type="hidden" name="affiliate" id="affiliate-mobile" value="uswds" />
  <div role="search">
    <label class="usa-sr-only" for="query-mobile">Search</label>
    <input
      id="query-mobile"
      class="usa-input usagov-search-autocomplete"
      name="query"
      type="search"
      autocomplete="off" />
    <button class="site-search__button usa-button margin-top-0" type="submit" name="commit">
      <img
        src="{{ site.baseurl }}/assets/img/usa-icons-bg/search--white.svg"
        class="usa-search__submit-icon"
        alt="Search"
      >
    </button>
  </div>
</form>
