{% comment %}
  Single card element for `site-card-list`.

  Variables:
    - heading: String heading for a single card.
    - headingElement: The heading HTML element type.
    - subheading: String subheading for a single card.
    - subheadingElement: The subheading HTML element type.
    - body: String body that gets placed in a paragraph tag.
    - image: The card image.
    - imageAlt: The alt tag for the image.
    - linkUrl: String for the link url.
    - linkText: String link label.
    - linkClasses: Classes for the link element.
{% endcomment %}

<div class="usa-card__container {{ include.containerClasses }}">
  <header class="usa-card__header">
    {% if include.subheading %}
      <{{ include.subheadingElement | default:"h2" }} class="site-subheading">{{ include.subheading }}</{{ include.subheadingElement | default:"h2" }}>
    {% endif %}
    <{{ include.headingElement | default:"h3" }} class="usa-card__heading font-lang-lg">{{ include.heading }}</{{ include.headingElement | default:"h3" }}>
  </header>
  {% if include.image %}
  <div class="usa-card__media">
    <div class="usa-card__img">
      <img
        src="{{ include.image }}"
        alt="{{ include.imageAlt }}"
      />
    </div>
  </div>
  {% endif %}
  <div class="usa-card__body font-lang-sm">
    <p>{{ include.body }}</p>
  </div>
  <div class="usa-card__footer">
    <a class="usa-button site-button {{ include.linkClasses }}" href="{{ include.linkUrl }}">{{ include.linkText }}</a>
  </div>
</div>
