{% comment %}
  Container for site card group.

  Seen in "What's New" page - `/about/whats-new/`
{% endcomment %}

<ul class="usa-card-group {{ include.listClasses }}">
  {% for card in include.cards %}
    <li class="usa-card site-component-card {{ include.listItemClasses }}">
      {% include site-card.html
        heading=card.heading
        image=card.image
        imageAlt=card.imageAlt
        body=card.body
        linkUrl=card.linkUrl
        linkText=card.linkText
        subheading=card.subheading
        containerClasses=include.containerClasses
        bodyClasses=include.bodyClasses
        headerClasses=include.headerClasses
        subheadingClasses=include.subheadingClasses
        mediaClasses=include.mediaClasses
        imageClasses=include.imageClasses
        linkClasses=include.linkClasses
        headingLevel=include.headingLevel
        subheadingLevel=include.subheadingLevel
      %}
    </li>
  {%  endfor %}
</ul>
