{% if page.status != null %}
    <div class="status-area">
        {% if page.status == "Production" %}
        <div class="usa-status-pill usa-status-pill--production">
            <svg class="usa-icon margin-right-1" aria-hidden="true" role="img">
                <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#check_circle"></use>
            </svg>
            Production
        </div>
        {% endif %}
        {% if page.status == "Needs research" %}
        <div class="usa-status-pill usa-status-pill--research">
            <svg class="usa-icon margin-right-1" aria-hidden="true" role="img">
                <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#assessment"></use>
            </svg>
            Needs research
        </div>
        {% endif %}
        <a href="https://github.com/uswds/uswds/discussions">Provide feedback about this pattern</a>
    </div>
{% endif %}
