{% if site.env == "production" %}
  <script src="https://touchpoints.app.cloud.gov/touchpoints/5c2410e4.js" async></script>
{% endif %}

{% assign tpLabel = "Provide feedback about this page" %}
{% assign tpText = "Was this page helpful?" %}
{% assign tpClasses = "usa-button site-button usa-button--outline" %}

<section class="touchpoints__container" role="complementary" aria-label="Page feedback">
  {% if site.env == "production" %}
    <button type="button" class="{{ tpClasses }}" id="touchpoints-modal-button" aria-label="{{ tpLabel }}" tabindex="0">{{ tpText }}</button>
  {% else %}
    <a href="https://touchpoints.app.cloud.gov/touchpoints/5c2410e4/submit" target="_blank" class="{{ tpClasses }}" aria-label="{{ tpLabel }}">{{ tpText }}</a>
  {% endif %}
</section>
