<script>
  setTimeout(function() {
    var headID = document.getElementsByTagName("head")[0];         
    var newScript = document.createElement('script');
    newScript.type = 'text/javascript';
    newScript.src = 'https://touchpoints.app.cloud.gov/touchpoints/5c2410e4.js';
    headID.appendChild(newScript);
}, 7000);
</script>

<section class="touchpoints__container" role="complementary" aria-label="Page feedback">
  <button type="button" class="usa-button usa-button--outline" id="#touchpoints-modal-button" aria-label="Provide feedback about this page" tabindex="0">Was this page helpful?</button>
</section>
