---
title: Overview
heading: Overview
hide_title: true
description: |-
  In September 2020, we brought together researchers, designers, engineers, and policymakers to conduct research across dozens of federal agencies to help support emergency response efforts related to the COVID-19 pandemic. 
---

<h3>Our primary focus was to…</h3>

<div class="grid-row tablet:margin-x-neg-205">
  <div class="grid-col-12 tablet:grid-col-4 tablet:padding-x-205">
    {% include next/next-spot-item.html text="Understand how teams are using the U.S. Web Design System (USWDS) to build websites and digital services" icon="search"%}
  </div>
  <div class="grid-col-12 tablet:grid-col-4 tablet:padding-x-205">
    {% include next/next-spot-item.html text="Develop insights into improving federal digital services with and for the public" icon="lightbulb"%}
  </div>
  <div class="grid-col-12 tablet:grid-col-4 tablet:padding-x-205">
    {% include next/next-spot-item.html text="Identify strategies for advancing the design system through collaboration with agencies and other government customer experience initiatives" icon="insights"%}
  </div>
</div>

