---
title: What’s next
heading: Our future vision
description: |-
  We’ve identified specific opportunity areas that will move us closer to a design system that meets the needs of teams across every agency — what we call our Near Star (short-term) and North Star (long-term) vision. Working toward these visions is our way of ensuring the design system continues to change over time and stays connected to the teams that are using it.
---


<h3>Our Near Star vision:</h3>

<p class="measure-3 next-lead">All agency teams have what they need to more easily adopt and effectively use the design system. To do that, we’ll focus on the following opportunity areas:</p>

<div class="grid-row tablet:margin-x-neg-205">
  <div class="grid-col-12 tablet:grid-col-4 tablet:padding-x-205">
    {% include next/next-spot-item.html text="Improve strategic communications and engagement with key audiences" icon="mail" %}
  </div>
  <div class="grid-col-12 tablet:grid-col-4 tablet:padding-x-205">
    {% include next/next-spot-item.html text="Provide more robust guidance and support to get started with the design system" icon="directions" %}
  </div>
  <div class="grid-col-12 tablet:grid-col-4 tablet:padding-x-205">
    {% include next/next-spot-item.html text="Better leverage related efforts within TTS and the broader government digital services community" icon="groups" %}
  </div>
</div>

<p class="next-highlight-text measure-1"><strong>Accomplishing our Near Star vision will move us closer to the North Star we’re aiming for.</strong></p>

<h3>Our North Star vision:</h3>

<p class="measure-3 next-lead">Empowered digital agency teams share solutions and use effective human-centered design practices to create greater continuity, improved usability, and increased access for key digital services.</p>

<h4>Conversation starters</h4>
<div class="grid-row tablet:margin-x-neg-205">
  <div class="grid-col-12 tablet:grid-col-6 tablet:padding-x-205">
    {% include next/next-spot-item.html text="<strong>What if</strong> the federal government provided even more robust technology shared services to reduce the burden on individual agencies?" icon="forum" variant="next-spot-item--row" %}
  </div>
  <div class="grid-col-12 tablet:grid-col-6 tablet:padding-x-205">
    {% include next/next-spot-item.html text="<strong>What if</strong> key content and functionality of government websites was consolidated into fewer public services websites, like usa.gov and recreation.gov?" icon="forum" variant="next-spot-item--row" %}
  </div>
</div>