---
permalink: /components/header/
redirect_from:
- /headers/
- /components/headers/
layout: styleguide
title: Header
category: Components
lead: 'A header helps users identify where they are and provide a quick, organized way to reach the main sections of a website. Our headers include branding to identify the site and horizontal navigation.'
subnav:
- text: Basic header
  href: '#basic'
- text: Basic header with mega menu
  href: '#basic-mega-menu'
- text: Extended header
  href: '#extended'
- text: Extended header with mega menu
  href: '#extended-mega-menu'
---

<h3>When to use the header component</h3>
<ul class="usa-content-list">
  <li><strong>Use the gov banner on all federal websites.</strong> We recommend that all federal government sites include the “official government website” banner and a logo or site name.</li>
  <li><strong>Most websites require header navigation.</strong> Most sites will require some form of navigation to help users find the information they need. While a horizontal navigation bar is just one option for navigation design, it is one of the most visible and familiar ways of helping users navigate a site.</li>
</ul>

<h3>Header usability</h3>
<ul class="usa-content-list">
  <li><strong>List all important website sections as links in the horizontal navigation.</strong></li>
  <li><strong>Dropdown menus help preview lower-level content.</strong> For large websites, use dropdown menus to help users preview lower-level content. If lower-level sections are closely related and users will need to quickly jump between them, consider using a side navigation instead of — or in addition to — a dropdown.</li>
  <li><strong>Use short, clear link labels.</strong> Don’t use  jargon or unfamiliar terms.</li>
  <li><strong>Left-justify.</strong> Left-justified link labels are more easily scannable.</li>
  <li><strong>Present links in priority order.</strong> Higher-demand links should appear farther to the left, and lower-demand links should appear farther to the right.</li>
  <li><strong>Avoid org structure navigation.</strong> Don’t model your navigation after your agency’s org structure. Instead, structure it according to the tasks and information your users most frequently need to access.</li>
  <li><strong>Highlight the current section.</strong> Show users where they are within the site by highlighting the current section.</li>
  <li><strong>Always research your navigation.</strong> Conduct research with your users and base decisions about your site’s information architecture and navigation structure on your findings. Continue researching to confirm that updates meet your users’ needs.</li>
</ul>

<h3 class="usa-heading heading-margin-alt">Header accessibility</h3>
<ul class="usa-content-list">
  <li>Include skip navigation links to allow users with screen readers to bypass long navigation lists. Make sure you include an id at the beginning of your main content and that it matches the skipnav link. Find more information here: <a href="http://webaim.org/techniques/skipnav/">http://webaim.org/techniques/skipnav/</a></li>
  <li>Include tab focus for all top-level navigation navigation items — this will allow keyboard-reliant users to easily navigate interactive items.</li>
  <li>Ensure your horizontal navigation is keyboard compatible; test to make sure users can use Tab to navigate and Space (or Enter) to open pages.</li>
  <li>Avoid using hover to expand dropdown lists. Hover is difficult for some users and won't work on touch screens. Dropdowns should expand on click or with keyboard navigation.</li>
  <li>USWDS uses semantic header and nav elements with <code>role="banner"</code> and <code>role="navigation"</code> respectively. <code>role="banner"</code> is your masthead.</li>
  <li>You can use multiple nav elements for groups of navigation links, but you should only use one <code>role="navigation"</code> for the main nav of a page.</li>
  <li>Use lists for your nav links — this enables screen readers to decipher header contents.</li>
  <li>If you’re using a logo that’s an image rather than text, make sure you include alternative text for screen readers.</li>
  <li>If you’re using a logo that’s text, use an <code>em</code>, not an <code>h1</code>, unless it’s the homepage. Find more information here: <a href="http://csswizardry.com/2010/10/your-logo-is-an-image-not-a-h1/">http://csswizardry.com/2010/10/your-logo-is-an-image-not-a-h1/</a></li>
</ul>

<h3>The “official government website” banner</h3>
<p>We recommend that all federal government sites include the “official government website” banner and a logo or site name. The banner clearly identifies your site as part of the United States government, while a logo or site name helps visitors understand who you are and what you do.</p>
<h4>Building with HTTPS</h4>
<p><a href="https://18f.gsa.gov/2014/11/13/why-we-use-https-in-every-gov-website-we-make/">HTTPS is a best practice</a> for all websites: It’s secure, private, and fast, and search engines prefer encrypted sites. But it’s especially important for government websites. The .gov in government websites carries a lot of weight. The public expects the contents of .gov websites to be official and accurate, and they expect any information they submit to that website to be private. The U.S. CIO provides guidance to implementing HTTPS for government websites at <a href="https://https.cio.gov/">https://https.cio.gov/</a></p>

<h3>References</h3>
<ul>
  <li><a href="https://www.nngroup.com/articles/menu-design/">https://www.nngroup.com/articles/menu-design/</a></li>
  <li><a href="https://www.usertesting.com/blog/2015/03/19/site-navigation-tree-testing/">https://www.usertesting.com/blog/2015/03/19/site-navigation-tree-testing/</a></li>
</ul>

<section id="section-basic" class="site-component-section margin-top-5">
  <h2 class="usa-heading heading-margin-alt" id="basic">Basic header</h2>
  <p class="site-text-intro">Orient users to a simple site.</p>
</section>
<div class="preview">
  <a class="media_link" href="{{ site.components_url_v2_preview }}/header--basic.html">
    <img src="{{ site.baseurl }}/assets/img/headers/header--basic.png" alt="Basic header">
  </a>
  <a class="usa-button" href="{{ site.components_url_v2_preview }}/header--basic.html">Demo basic header</a>
</div>
<section class="site-component-section">
  {% include code/accordion.html component="header-basic" %}
  <div class="usa-accordion usa-accordion--bordered site-accordion-docs">
    <button class="usa-button-unstyled usa-accordion__button"
      aria-expanded="true" aria-controls="docs-header-basic">
      Guidance
    </button>
    <div id="docs-header-basic" class="usa-accordion__content site-component-usage">
      <h4 class="usa-heading">About</h4>
      <ul class="usa-content-list">
        <li>Use the basic header if you have few enough sections in your main navigation to fit comfortably next to your logo; this will depend on the length of your text and whether you include a search bar. You can customize it (depending on your site structure) and use it with:
          <ul>
            <li>A text or image logo</li>
            <li>With or without dropdown menus</li>
            <li>With or without a search bar</li>
            <li>With or without call-to-action buttons in place of the search bar</li>
          </ul>
        </li>
      </ul>
      <h4 class="usa-heading">When to use the basic header component</h4>
      <ul class="usa-content-list">
        <li><strong>Limited sections.</strong> The basic header is great if you have a modest number of sections in your main navigation.</li>
        <li><strong>Shallow hierarchy.</strong> You may also use it if each main section listed in the horizontal navigation has six or fewer subsections that you’d like to include in a dropdown menu.</li>
      </ul>
      <h4 class="usa-heading">When not to use it</h4>
      <ul class="usa-content-list">
        <li><strong>Many sections or deep hierarchy.</strong> Consider using the extended header if you have more sections in your horizontal navigation than will fit comfortably next to your logo, or if you have complex sections that require the use of a megamenu.</li>
      </ul>
      <h4 class="usa-heading">Package information</h4>
      <ul class="usa-content-list">
        <li>
          <strong>Package usage:</strong> <code>@import usa-header</code>
        </li>
        <li>
          <strong>Requires:</strong> <code>required</code>, <code>global</code>
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="section-basic-mega-menu" class="site-component-section">
  <h2 class="usa-heading heading-margin-alt" id="basic-mega-menu">Basic header with megamenu</h2>
  <p class="site-text-intro">Orient users to a site with deeper hierarchical needs.</p>
</section>
<div class="preview">
  <a class="media_link" href="{{ site.components_url_v2_preview }}/header--basic-mega.html">
    <img src="{{ site.baseurl }}/assets/img/headers/header--basic-mega.png" alt="Basic header with mega menu">
  </a>
  <a class="usa-button" href="{{ site.components_url_v2_preview }}/header--basic-mega.html">Demo basic header with megamenu</a>
</div>
<section class="site-component-section">
  {% include code/accordion.html component="header-basic-mega" %}
  <div class="usa-accordion usa-accordion--bordered site-accordion-docs">
    <button class="usa-button-unstyled usa-accordion__button"
      aria-expanded="true" aria-controls="docs-header-basic-mega">
      Guidance
    </button>
    <div id="docs-header-basic-mega" class="usa-accordion__content site-component-usage">
      <h4 class="usa-heading">About</h4>
      <ul class="usa-content-list">
        <li>The basic header with megamenu is similar in design to the basic header component. The megamenu allows for the inclusion of more links in the dropdown menus. You can customize this header (depending on your site structure) and use it with:
          <ul>
            <li>A text or image logo</li>
            <li>With or without a search bar</li>
            <li>With or without call-to-action buttons in place of the search bar</li>
          </ul>
        </li>
      </ul>
      <h4 class="usa-heading">When to use the basic header with megamenu component</h4>
      <ul class="usa-content-list">
        <li><strong>Deep hierarchy.</strong> Use the basic header with megamenu if you’d like to include more than six links in any of your dropdown menus, and if you have few enough main sections to allow your horizontal navigation to fit comfortably in the basic header.</li>
      </ul>
      <h4 class="usa-heading">When not to use it</h4>
      <ul class="usa-content-list">
        <li><strong>Not enough content to warrant a megamenu.</strong> Consider using a basic dropdown rather than a megamenu unless you need to link to a very large number of sub pages.</li>
      </ul>
      <h4 class="usa-heading">Package information</h4>
      <ul class="usa-content-list">
        <li>
          <strong>Package usage:</strong> <code>@import usa-header</code>
        </li>
        <li>
          <strong>Requires:</strong> <code>required</code>, <code>global</code>
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="section-extended" class="site-component-section">
  <h2 class="usa-heading heading-margin-alt" id="extended">Extended header</h2>
  <p class="site-text-intro">Orient users to a site with lots of sections.</p>
</section>
<div class="preview">
  <a class="media_link" href="{{ site.components_url_v2_preview }}/header--extended.html">
    <img src="{{ site.baseurl }}/assets/img/headers/header--extended.png" alt="Extended header">
  </a>
  <a class="usa-button" href="{{ site.components_url_v2_preview }}/header--extended.html">Demo extended header</a>
</div>
<section class="site-component-section">
  {% include code/accordion.html component="header-extended" %}
  <div class="usa-accordion usa-accordion--bordered site-accordion-docs">
    <button class="usa-button-unstyled usa-accordion__button"
      aria-expanded="true" aria-controls="docs-header-extended">
      Guidance
    </button>
    <div id="docs-header-extended" class="usa-accordion__content site-component-usage">
      <h4 class="usa-heading">About</h4>
      <ul class="usa-content-list">
        <li>The extended header allows for inclusion of more sections in the horizontal navigation. You can customize the header (depending on your site structure) and use it:
          <ul>
            <li>With a text or image logo</li>
            <li>With or without dropdown menus</li>
            <li>With or without the expandable search bar</li>
            <li>With or without call-to-action buttons in place of the secondary links featured in your horizontal navigation</li>
          </ul>
        </li>
      </ul>
      <h4 class="usa-heading">When to use the extended header component</h4>
      <ul class="usa-content-list">
        <li><strong>Lots of sections.</strong> Use the extended header if you have too many sections in your horizontal navigation to fit comfortably in the basic header format.</li>
        <li><strong>Secondary links or specific calls to action.</strong> Use the extended header if you’d like to include secondary links or specific calls to action in addition to the main content navigation — for example <code>Log in</code> and <code>Sign up</code> links.</li>
      </ul>
      <h4 class="usa-heading">When not to use it</h4>
      <ul class="usa-content-list">
        <li><strong>Simple site needs.</strong> Consider using the basic header if you have less information — the basic header takes up less space.</li>
      </ul>
      <h4 class="usa-heading">Package information</h4>
      <ul class="usa-content-list">
        <li>
          <strong>Package usage:</strong> <code>@import usa-header</code>
        </li>
        <li>
          <strong>Requires:</strong> <code>required</code>, <code>global</code>
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="section-extended-mega-menu" class="site-component-section">
  <h2 class="usa-heading heading-margin-alt" id="extended-mega-menu">Extended header with megamenu</h2>
  <p class="site-text-intro">Orient users to a site with lots of sections and deeper hierarchical needs.</p>
</section>
<div class="preview">
  <a class="media_link" href="{{ site.components_url_v2_preview }}/header--extended-mega.html">
    <img src="{{ site.baseurl }}/assets/img/headers/header--extended-mega.png" alt="Extended header with mega menu">
  </a>
  <a class="usa-button" href="{{ site.components_url_v2_preview }}/header--extended-mega.html">Demo extended header with megamenu</a>
</div>
<section class="site-component-section">
  {% include code/accordion.html component="header-extended-mega" %}
  <div class="usa-accordion usa-accordion--bordered site-accordion-docs">
    <button class="usa-button-unstyled usa-accordion__button"
      aria-expanded="true" aria-controls="docs-header-extended-mega">
      Guidance
    </button>
    <div id="docs-header-extended-mega" class="usa-accordion__content site-component-usage">
      <h4 class="usa-heading">About</h4>
      <ul class="usa-content-list">
        <li>Like the extended header, the extended header with megamenu allows for inclusion of more sections in your horizontal navigation; it also allows you to include more links in any of your dropdowns. You can customize the header (depending on your site structure) and use it:
          <ul>
            <li>With a text or image logo</li>
            <li>With or without the expandable search bar</li>
            <li>With or without call-to-action buttons in place of the secondary links in the horizontal navigation</li>
          </ul>
        </li>
      </ul>
      <h4 class="usa-heading">When to use the extended header with megamenu component</h4>
      <ul class="usa-content-list">
        <li><strong>Lots of sections.</strong> Use an extended header with mega menu if you have too many sections in your horizontal navigation to fit comfortably in the basic header format. </li>
        <li><strong>Secondary links or specific calls to action.</strong> It’s also useful if you’d like to include secondary links or specific calls to action in addition to the main content navigation — for example <code>Log in</code> and <code>Sign up</code> links — or if you’d like to include more than six links in any of your dropdowns.</li>
        <li><strong>Deep hierarchy.</strong> If you’d like to include more than six links in any of your dropdowns.</li>
      </ul>
      <h4 class="usa-heading">When not to use it</h4>
      <ul class="usa-content-list">
        <li><strong>Shallow hierarchy.</strong> Consider using a basic dropdown rather than a megamenu unless you need to link to a very large number of sub pages.</li>
      </ul>
      <h4 class="usa-heading">Package information</h4>
      <ul class="usa-content-list">
        <li>
          <strong>Package usage:</strong> <code>@import usa-header</code>
        </li>
        <li>
          <strong>Requires:</strong> <code>required</code>, <code>global</code>
        </li>
      </ul>
    </div>
  </div>
</section>
