<div class="usa-alert usa-alert--info usa-alert--no-icon measure-5 margin-bottom-2">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <b>Test the accordion in your project.</b>
        USWDS regularly tests our components for accessibility.
        However, to ensure accessibility on your project, it is important to test your own implementation of the component.</p>
        <p class="margin-bottom-0">Learn more about our testing checklist in the <a href="{{ site.baseurl }}/components/accordion/checklist">accordion accessibility testing guide</a>.
      </p>
    </div>
  </div>
