<!-- set section titles and descriptions -->
{% if include.type == "keyboard" %}
  {% assign title = "Keyboard control"%}
  {% assign items = component.testItems | where: 'testType', "keyboard" %}
  {% assign navType= "keyboard" %}
 {% endif %}
{% if include.type == "zoom" %}
  {% assign title = "Zoom magnification"%}
  {% assign items = component.testItems | where: 'testType', "zoom" %}
{% endif %}
{% if include.type == "screenReader" %}
  {% assign title = "Screen reader"%}
  {% assign items = component.testItems | where: 'testType', "screenReader" %}
{% endif %}

<!--Add checklist intro-->
{% include critical-checklist/checklist-intros.html %}

<!--Add checklist items-->
<ul class="usa-icon-list usa-content-list margin-top-4">
  {% for item in items %}
    <!--set WCAG details-->
    {% include critical-checklist/wcag-details.html %}
    <!--Set version number-->
    {% if item.versionTested %}
      {% assign versionTested =  item.versionTested | prepend: 'v' %}
    {% else %}
      {% assign versionTested = "N/A" %}
    {% endif %}
    <!-- assign test status info -->
    {% if item.testStatus == 'pass' %}
        {% assign statusText = 'Pass' %}
        {% assign statusIcon = passIcon %}
      {% elsif item.testStatus == 'pass-ish' %}
        {% assign statusText = 'Pass with exceptions' %}
        {% assign statusIcon = passIshIcon %}
      {% elsif item.testStatus == 'fail' %}
        {% assign statusText = 'Fail' %}
        {% assign statusIcon = failIcon %}
      {% elsif item.testStatus == 'exempt' %}
        {% assign statusText = 'Conditional' %}
        {% assign statusIcon = conditionalIcon %}
    {% endif %}
    <!-- start checklist items -->
    <li class="usa-icon-list__item">
      <div class="display-flex flex-row">
        <!-- Add status icon -->
        {% include critical-checklist/checklist-icon.html icon=statusIcon %}
         <!-- Add text content -->
        <div class="usa-icon-list__content">
          <!--Add summaries-->
          <p class="margin-bottom-05">
            <strong>{{ item.summary | markdownify | remove: '<p>' | remove: '</p>' }}</strong>
            {{ item.summaryAdditional | markdownify  | remove: '<p>' | remove: '</p>' }}
          </p>
          <!--Add supplemental text, based on status type-->
            {% if item.testStatus == 'pass' and item.versionFixed  == site.uswds_version %}
              <p class="site-checklist-text site-checklist-text--{{ item.testStatus }}">
                <b>The {{ componentName }} component recently passed this test in version {{ item.versionFixed }}.</b><br/>
                <a href="https://github.com/uswds/uswds/releases/tag/v{{ item.versionFixed }}">Read more in the {{ item.versionFixed }} release notes</a>.
              </p>
            {% elsif item.testStatus == 'pass' %}
            {% elsif item.testStatus == 'pass-ish' %}
              <p class="site-checklist-text site-checklist-text--{{ item.testStatus }}">
                <b>The {{ componentName }} component does not pass all elements of this test.</b>
                {% if item.statusDetails  %}
                  {{  item.statusDetails }}</p><p class="site-checklist-text site-checklist-text--{{ item.testStatus }}">
                {% endif %}
                We have logged this issue and are prioritizing it. <a href="https://github.com/uswds/{{ item.issueRepo | default:'uswds' }}/issues/{{ item.issueNumber }}">Learn more about this issue on GitHub</a>.
              </p>
            {% elsif item.testStatus == 'fail' %}
              <p class="site-checklist-text site-checklist-text--{{ item.testStatus }}">
                <b>The {{ componentName }} component does not pass this test.</b>
                We have logged this issue and are prioritizing it.
                <a href="https://github.com/uswds/{{ item.issueRepo | default:'uswds' }}/issues/{{ item.issueNumber }}">Learn more about this issue on GitHub</a>.
              </p>
            {% elsif item.testStatus == 'exempt' %}
              <p class="site-checklist-text site-checklist-text--{{ item.testStatus }}">
                <b>{{  item.statusDetails | default:"This can only be tested in your implementation of the component."}}</b>
                Be sure to test this in your project.
              </p>
            {% else %}
              <p class="site-checklist-text site-checklist-text--{{ item.testStatus }}">
                <b>We have not done this test yet.</b><br/>
                Make sure you perform this test manually in your project.
              </p>
            {% endif %}
          <!-- end text content -->

          <!--Add tags -->
          <ul class="site-checklist-tags">
            <li class="site-checklist-tag--{{ item.testStatus }}">Status: <b>{{ statusText }}</b></li>
            {% if item.wcagCriterion %}
              <li>WCAG {{ criterionLevel }}</li>
              <li>
                <a href="{{ criterionUrl }}">
                  {{ item.wcagCriterion }} {{ criterionName }}
                </a>
              </li>
            {% endif %}
            <li>Last test: <b>{{ versionTested }}</b></li>
          </ul>
        </div>
      </div>
      <!-- end tags -->
    </li>
    {% endfor %}
</ul>
