{% assign componentName = page.title | remove: 'critical checklist' | downcase %}
{% assign componentSlug = componentName | slugify %}
{% assign component = site.data.checklists[componentSlug] %}
{% assign keyboardItems = component.keyboardItems %}
{% assign zoomItems = component.zoomItems %}
{% assign screenReaderItems = component.screenReaderItems %}

Instructions for using this page. We perform the following tests to meet WCAG 2.1 AA compliance.
Use the checklists below as your guide to test the component in your project.

{% if keyboardItems %}
  {% include critical-checklist/list.html type='keyboard' %}
{% endif %}

{% if screenReaderItems %}
  {% include critical-checklist/list.html type='screenReader' %}
{% endif %}

{% if zoomItems %}
  {% include critical-checklist/list.html type='zoom' %}
{% endif %}

{% include critical-checklist/feedback-buttons.html type='zoom' %}
