<!-- set section titles and descriptions -->
{% if include.type == "keyboard" %}
  {% assign title = "Keyboard control"%}
  {% assign description = "when users use the keyboard to navigate"%}
  {% assign items = keyboardItems  %}
 {% endif %}
{% if include.type == "zoom" %}
  {% assign title = "Zoom magnification"%}
  {% assign description = "when users increase the zoom magnification"%}
  {% assign items = zoomItems  %}
{% endif %}
{% if include.type == "screenReader" %}
  {% assign title = "Screen reader"%}
  {% assign description = "to screen readers"%}
  {% assign items = screenReaderItems  %}
{% endif %}
<!-- set shared classes -->
{% assign tagClasses = "padding-y-05 padding-x-1 radius-md font-body-3xs margin-right-1 margin-y-05" %}
{% assign specialTextClasses = "margin-y-1" %}

<!-- section description -->
{% include critical-checklist/section-description.html %}

<!-- section checklist items -->
<ul class="usa-icon-list usa-content-list maxw-tablet-lg margin-top-4">
  {% for item in items %}
    <!-- assign criterion details -->
    {% if item.wcagCriterion == "1.4.4" %}
      {% assign criterionLevel = "AA" %}
      {% assign criterionName = "Resize text" %}
      {% assign criterionUrl = "http://www.w3.org/TR/WCAG20/#visual-audio-contrast-scale" %}
    {% endif %}
    {% if item.wcagCriterion == "2.1.1" %}
      {% assign criterionLevel = "A" %}
      {% assign criterionName = "Keyboard" %}
      {% assign criterionUrl = "https://www.w3.org/TR/WCAG20/#keyboard-operation-keyboard-operable" %}
    {% endif %}
    {% if item.wcagCriterion == "2.1.2" %}
      {% assign criterionLevel = "A" %}
      {% assign criterionName = "No keyboard trap" %}
      {% assign criterionUrl = "http://www.w3.org/TR/WCAG20/#keyboard-operation-trapping" %}
    {% endif %}
    {% if item.wcagCriterion == "2.4.3" %}
      {% assign criterionLevel = "A" %}
      {% assign criterionName = "Focus order" %}
      {% assign criterionUrl = "http://www.w3.org/TR/WCAG20/#navigation-mechanisms-focus-order" %}
    {% endif %}
    {% if item.wcagCriterion == "2.4.6" %}
      {% assign criterionLevel = "AA" %}
      {% assign criterionName = "Headings and labels" %}
      {% assign criterionUrl = "http://www.w3.org/TR/WCAG20/#navigation-mechanisms-descriptive" %}
    {% endif %}
    {% if item.wcagCriterion == "2.4.7" %}
      {% assign criterionLevel = "AA" %}
      {% assign criterionName = "Focus visible" %}
      {% assign criterionUrl = "http://www.w3.org/TR/WCAG20/#navigation-mechanisms-focus-visible" %}
    {% endif %}
    <!-- assign version text -->
    {% if item.versionTested %}
      {% assign versionTested =  item.versionTested | prepend: 'v' %}
    {% else %}
      {% assign versionTested = "N/A" %}
    {% endif %}
    <!-- assign test status classes -->
    {% if item.testStatus == 'pass' and item.versionFixed == site.uswds_version %}
      {% assign statusClass = 'site-checklist-bg--success' %}
      {% elsif item.testStatus == 'pass' %}
        {% assign statusClass = 'site-checklist-bg--success-light' %}
      {% elsif item.testStatus == 'fail' %}
        {% assign statusClass = 'site-checklist-bg--warning' %}
      {% elsif item.testStatus == 'exempt' %}
        {% assign statusClass = 'site-checklist-bg--info' %}
      {% else %}
        {% assign statusClass = 'border-2px border-disabled-lighter text-disabled' %}
    {% endif %}
    <!-- start checklist items -->
    <li class="usa-icon-list__item flex-justify">
      <div class="display-flex flex-row">
        <!-- start icons -->
        {% if item.testStatus == 'pass' and item.versionFixed  == site.uswds_version %}
          {% include critical-checklist/status-icon.html color='site-checklist-text--success' icon='info'%}
        {% elsif item.testStatus == 'pass' %}
          {% include critical-checklist/status-icon.html color='site-checklist-text--success' icon='check_circle_outline'%}
        {% elsif item.testStatus == 'fail' %}
          {% include critical-checklist/status-icon.html color='site-checklist-text--warning' icon='warning'%}
        {% elsif item.testStatus == 'exempt' %}
          {% include critical-checklist/status-icon.html color='site-checklist-text--info' icon='info'%}
        {% else %}
          {% include critical-checklist/status-icon.html color='text-disabled' icon='info_outline'%}
        {% endif %}
        <!-- end icons -->
        <div class="usa-icon-list__content">
          <!-- start text content -->
          <p class="margin-bottom-05">
            <strong>{{ item.summary | markdownify | remove: '<p>' | remove: '</p>' }}</strong>
            {{ item.summaryAdditional | markdownify  | remove: '<p>' | remove: '</p>' }}
          </p>
            {% if item.testStatus == 'pass' and item.versionFixed  == site.uswds_version %}
              <p class="{{ specialTextClasses }} site-checklist-text--success">
                <b>The {{ componentName }} component recently passed this test in version {{ item.versionFixed }}.</b><br/>
                <a class="site-checklist-text--success" href="https://github.com/uswds/uswds/releases/tag/v{{ item.versionFixed }}">Read more in the release notes</a>.
              </p>
            {% elsif item.testStatus == 'fail' %}
              <p class="{{ specialTextClasses }} site-checklist-text--warning">
                <b>The {{ componentName }} component does not currently pass this test.</b><br/>
                <a class="site-checklist-text--warning" href="https://github.com/uswds/uswds/issues/{{ issueNumber }}">Learn more and track this issue on GitHub</a>.
              </p>
            {% elsif item.testStatus == 'exempt' %}
              <p class="{{ specialTextClasses }} site-checklist-text--info">
                <b>We cannot effectively test this on a system level. </b><br/>
                This must be tested on the project level.
              </p>
            {% elsif item.testStatus == 'pass' %}
            {% else %}
              <p class="{{ specialTextClasses }} site-checklist-text--info">
                <b>We have not completed this test yet.</b><br/>
                Make sure to test this manually in your project.
              </p>
            {% endif %}
          <!-- end text content -->
          <!-- start tags -->
          <div class="display-flex flex-wrap flex-align-center margin-y-05">
            <!-- start "last tested" tag - mobile view -->
            <span class="{{ tagClasses }} {{ statusClass }} desktop-lg:display-none
            ">
              Last manual test
              <b>{{ versionTested }}</b>
            </span>
            <!-- end "last tested" mobile view -->
            <!-- start WCAG tags -->
            {% if item.wcagCriterion%}
              <span class="{{ tagClasses }} border-1px border-gray-10">
                WCAG {{ criterionLevel }}
              </span>
              <a href="{{ criterionUrl }}" class="{{ tagClasses }} border-1px border-gray-10">
                {{ item.wcagCriterion }} {{ criterionName }}
              </a>
            {% endif %}
            <!-- end WCAG tags -->
          </div>
        </div>
      </div>
      <!-- start "last tested" desktop view -->
      <div class="flex-column flex-align-end text-right display-none desktop-lg:display-flex">
        <span class="
          {{ tagClasses }}
          {{ statusClass }}
          margin-right-0 display-none desktop-lg:display-block
        ">
          Last manual test<br/>
          <b>{{ versionTested }}</b>
        </span>
      </div>
      <!-- end "last tested" desktop view -->
      <!-- end tags -->
    </li>
    {% endfor %}
</ul>