<!-- set section titles and descriptions -->
{% if include.type == "keyboard" %}
  {% assign title = "Keyboard control"%}
  {% assign items = keyboardItems  %}
  {% assign navType= "keyboard" %}
 {% endif %}
{% if include.type == "zoom" %}
  {% assign title = "Zoom magnification"%}
  {% assign items = zoomItems  %}
{% endif %}
{% if include.type == "screenReader" %}
  {% assign title = "Screen reader"%}
  {% assign items = screenReaderItems  %}
{% endif %}

<!-- section description -->
{% include critical-checklist/section-description.html %}

<!-- section checklist items -->
<ul class="usa-icon-list usa-content-list margin-top-4">
  {% for item in items %}
    <!-- assign criterion details -->
    {% include critical-checklist/criteria-details.html %}
    <!-- assign version text -->
    {% if item.versionTested %}
      {% assign versionTested =  item.versionTested | prepend: 'v' %}
    {% else %}
      {% assign versionTested = "N/A" %}
    {% endif %}
    <!-- assign test status info -->
    {% if item.testStatus == 'pass' %}
        {% assign tagClass = 'site-checklist-tag--pass' %}
        {% assign textClass = 'site-checklist-text--pass' %}
        {% assign iconClass = 'site-checklist-text--pass' %}
        {% assign statusText = 'Pass' %}
        {% assign statusIcon = 'check_circle' %}
      {% elsif item.testStatus == 'fail' %}
        {% assign tagClass = 'site-checklist-tag--fail' %}
        {% assign textClass = 'site-checklist-text--fail' %}
        {% assign iconClass = 'site-checklist-text--fail' %}
        {% assign statusText = 'Fail' %}
        {% assign statusIcon = 'error' %}
      {% elsif item.testStatus == 'warning' %}
        {% assign tagClass = 'site-checklist-tag--warning' %}
        {% assign textClass = 'site-checklist-text--warning' %}
        {% assign iconClass = 'site-checklist-icon--warning' %}
        {% assign statusText = 'Warning' %}
        {% assign statusIcon = 'warning' %}
      {% elsif item.testStatus == 'exempt' %}
        {% assign tagClass = 'site-checklist-tag--exempt' %}
        {% assign textClass = 'site-checklist-text--exempt' %}
        {% assign iconClass = 'site-checklist-text--exempt' %}
        {% assign statusText = 'Unknown' %}
        {% assign statusIcon = 'info' %}
      {% else %}
        {% assign tagClass = 'site-checklist-tag--incomplete' %}
        {% assign textClass = 'site-checklist-text-incomplete' %}
        {% assign iconClass = 'site-checklist-text-incomplete' %}
        {% assign statusText = 'Incomplete' %}
        {% assign statusIcon = 'error_outline' %}
    {% endif %}
    <!-- start checklist items -->
    <li class="usa-icon-list__item">
      <div class="display-flex flex-row">
        <!-- Add icon -->
        {% include critical-checklist/status-icon.html color=iconClass icon=statusIcon %}
         <!-- Add text content -->
        <div class="usa-icon-list__content">
          <!-- start text content -->
          <p class="margin-bottom-05">
            <strong>{{ item.summary | markdownify | remove: '<p>' | remove: '</p>' }}</strong>
            {{ item.summaryAdditional | markdownify  | remove: '<p>' | remove: '</p>' }}
          </p>
            {% if item.testStatus == 'pass' and item.versionFixed  == site.uswds_version %}
              <p class="site-checklist-text {{ textClass }}">
                <b>The {{ componentName }} component recently passed this test in version {{ item.versionFixed }}.</b><br/>
                <a href="https://github.com/uswds/uswds/releases/tag/v{{ item.versionFixed }}">Read more in the {{ item.versionFixed }} release notes</a>.
              </p>
            {% elsif item.testStatus == 'pass' %}
            {% elsif item.testStatus == 'warning' %}
              <p class="site-checklist-text {{ textClass }}">
                <b>The {{ componentName }} component does not pass all elements of this test.</b>
                We have logged this issue and are prioritizing it. <a href="https://github.com/uswds/uswds/issues/{{ issueNumber }}">Learn more about this issue on GitHub</a>.
              </p>
            {% elsif item.testStatus == 'fail' %}
              <p class="site-checklist-text {{ textClass }}">
                <b>The {{ componentName }} component does not currently pass this test.
                  We consider this to be a top-priority item and are working on a fix.</b><br/>
                <a href="https://github.com/uswds/uswds/issues/{{ issueNumber }}">Learn more about this issue on GitHub</a>.
              </p>
            {% elsif item.testStatus == 'exempt' %}
              <p class="site-checklist-text {{ textClass }}">
                <b>{{  item.exemptDetails | default:"This can only be tested in your implementation of the component."}}</b>
                Be sure to test this in your project.
              </p>
            {% else %}
              <p class="site-checklist-text {{ textClass }}">
                <b>We have not done this test yet.</b><br/>
                Make sure you perform this test manually in your project.
              </p>
            {% endif %}
          <!-- end text content -->
          <!-- start tags -->
          <ul class="site-checklist-tags">
            <li class="{{ tagClass }}">Status: <b>{{ statusText }}</b></li>
            {% if item.wcagCriterion %}
              <li>WCAG {{ criterionLevel }}</li>
              <li>
                <a href="{{ criterionUrl }}">
                  {{ item.wcagCriterion }} {{ criterionName }}
                </a>
              </li>
            {% endif %}
            <li>Last test: <b>{{ versionTested }}</b></li>
          </ul>
        </div>
      </div>
      <!-- end tags -->
    </li>
    {% endfor %}
</ul>
