<!-- set section titles and descriptions -->
{% if include.type == "keyboard" %}
  {% assign title = "Keyboard control"%}
  {% assign description = "when users use the keyboard to navigate"%}
  {% assign items = keyboardItems  %}
 {% endif %}
{% if include.type == "zoom" %}
  {% assign title = "Zoom magnification"%}
  {% assign description = "when users increase the zoom magnification"%}
  {% assign items = zoomItems  %}
{% endif %}
{% if include.type == "screenReader" %}
  {% assign title = "Screen reader"%}
  {% assign description = "to screen readers"%}
  {% assign items = screenReaderItems  %}
{% endif %}
<!-- set shared classes -->
{% assign tagClasses = "line-height-sans-4 padding-y-05 padding-x-1 radius-md font-body-3xs margin-right-1 margin-top-1 margin-bottom-05" %}
{% assign specialTextClasses = "margin-y-1 font-body-xs" %}

<!-- section description -->
{% include critical-checklist/section-description.html %}

<!-- section checklist items -->
<ul class="usa-icon-list usa-content-list maxw-tablet-lg margin-top-4">
  {% for item in items %}
    <!-- assign criterion details -->
    {% if item.wcagCriterion == "1.4.4" %}
      {% assign criterionLevel = "AA" %}
      {% assign criterionName = "Resize text" %}
      {% assign criterionUrl = "http://www.w3.org/TR/WCAG20/#visual-audio-contrast-scale" %}
    {% endif %}
    {% if item.wcagCriterion == "2.1.1" %}
      {% assign criterionLevel = "A" %}
      {% assign criterionName = "Keyboard" %}
      {% assign criterionUrl = "https://www.w3.org/TR/WCAG20/#keyboard-operation-keyboard-operable" %}
    {% endif %}
    {% if item.wcagCriterion == "2.1.2" %}
      {% assign criterionLevel = "A" %}
      {% assign criterionName = "No keyboard trap" %}
      {% assign criterionUrl = "http://www.w3.org/TR/WCAG20/#keyboard-operation-trapping" %}
    {% endif %}
    {% if item.wcagCriterion == "2.4.3" %}
      {% assign criterionLevel = "A" %}
      {% assign criterionName = "Focus order" %}
      {% assign criterionUrl = "http://www.w3.org/TR/WCAG20/#navigation-mechanisms-focus-order" %}
    {% endif %}
    {% if item.wcagCriterion == "2.4.6" %}
      {% assign criterionLevel = "AA" %}
      {% assign criterionName = "Headings and labels" %}
      {% assign criterionUrl = "http://www.w3.org/TR/WCAG20/#navigation-mechanisms-descriptive" %}
    {% endif %}
    {% if item.wcagCriterion == "2.4.7" %}
      {% assign criterionLevel = "AA" %}
      {% assign criterionName = "Focus visible" %}
      {% assign criterionUrl = "http://www.w3.org/TR/WCAG20/#navigation-mechanisms-focus-visible" %}
    {% endif %}
    <!-- assign version text -->
    {% if item.versionTested %}
      {% assign versionTested =  item.versionTested | prepend: 'v' %}
    {% else %}
      {% assign versionTested = "N/A" %}
    {% endif %}
    <!-- assign test status info -->
    {% if item.testStatus == 'pass' and item.versionFixed == site.uswds_version %}
      {% assign bgClass = 'site-checklist-bg--success' %}
      {% assign textClass = 'site-checklist-text--success' %}
      {% assign statusText = 'Recently passed' %}
      {% assign statusIcon = 'check_circle' %}
      {% elsif item.testStatus == 'pass' %}
        {% assign bgClass = 'site-checklist-bg--success-light' %}
        {% assign textClass = 'site-checklist-text--success' %}
        {% assign statusText = 'Passed' %}
        {% assign statusIcon = 'check_circle' %}
      {% elsif item.testStatus == 'fail' %}
        {% assign bgClass = 'site-checklist-bg--warning' %}
        {% assign textClass = 'site-checklist-text--warning' %}
        {% assign statusText = 'Failed' %}
        {% assign statusIcon = 'warning' %}
      {% elsif item.testStatus == 'exempt' %}
      {% assign bgClass = 'border-2px border-disabled-lighter text-disabled' %}
      {% assign textClass = 'site-checklist-text--info' %}
        {% assign statusText = 'Cannot test' %}
        {% assign statusIcon = 'info_outline' %}
      {% else %}
        {% assign bgClass = 'border-2px border-disabled-lighter text-disabled' %}
        {% assign textClass = 'site-checklist-text--info' %}
        {% assign statusText = 'Not tested yet' %}
        {% assign statusIcon = 'info_outline' %}
    {% endif %}
    <!-- start checklist items -->
    <li class="usa-icon-list__item flex-justify">
      <div class="display-flex flex-row">
        <!-- Add icon -->
        {% include critical-checklist/status-icon.html color=textClass icon=statusIcon %}
         <!-- Add text content -->
        <div class="usa-icon-list__content">
          <!-- start text content -->
          <p class="margin-bottom-05">
            <strong>{{ item.summary | markdownify | remove: '<p>' | remove: '</p>' }}</strong>
            {{ item.summaryAdditional | markdownify  | remove: '<p>' | remove: '</p>' }}
          </p>
            {% if item.testStatus == 'pass' and item.versionFixed  == site.uswds_version %}
              <p class="{{ specialTextClasses }}  {{ textClass }}">
                <b>The {{ componentName }} component recently passed this test in version {{ item.versionFixed }}.</b><br/>
                <a class="site-checklist-text--success" href="https://github.com/uswds/uswds/releases/tag/v{{ item.versionFixed }}">Read more in the {{ item.versionFixed }} release notes</a>.
              </p>
            {% elsif item.testStatus == 'fail' %}
              <p class="{{ specialTextClasses }}  {{ textClass }}">
                <b>The {{ componentName }} component does not currently pass this test.</b><br/>
                <a class="site-checklist-text--warning" href="https://github.com/uswds/uswds/issues/{{ issueNumber }}">Learn more about this issue on GitHub</a>.
              </p>
            {% elsif item.testStatus == 'exempt' %}
              <p class="{{ specialTextClasses }}  {{ textClass }}">
                <b>We cannot perform this test.</b><br/>
                This must be tested on the project level.
              </p>
            {% elsif item.testStatus == 'pass' %}
            {% else %}
              <p class="{{ specialTextClasses }}  {{ textClass }}">
                <b>We have not completed this test yet.</b><br/>
                Make sure to test this manually in your project.
              </p>
            {% endif %}
          <!-- end text content -->
          <!-- start tags -->
          <div class="display-flex flex-wrap flex-align-center margin-y-05">
            <!-- start "test status" mobile view -->
            <span class="{{ tagClasses }} {{ bgClass }} desktop-lg:display-none">
              <b>{{ statusText }}</b>
            </span>
            <!-- end "test status" mobile view -->
            <!-- start WCAG tags -->
            {% if item.wcagCriterion%}
              <span class="{{ tagClasses }} border-1px border-gray-10">
                WCAG {{ criterionLevel }}
              </span>
              <a href="{{ criterionUrl }}" class="{{ tagClasses }} border-1px border-gray-10">
                {{ item.wcagCriterion }} {{ criterionName }}
              </a>
            {% endif %}
            <!-- end WCAG tags -->
            <span class="{{ tagClasses }} border-1px border-gray-10 ">
              Last manual test: <b>{{ versionTested }}</b>
            </span>
          </div>
        </div>
      </div>
      <!-- start "test status" desktop view -->
      <div class="flex-column flex-align-end text-right display-none desktop-lg:display-flex padding-left-2 ">
        <span style="width:6rem" class="{{ tagClasses }} {{bgClass }} margin-right-0 display-none desktop-lg:display-block">
          Test status:<br/>
          <b>{{ statusText }}</b>
        </span>
      </div>
      <!-- end  "test status"desktop view -->
      <!-- end tags -->
    </li>
    {% endfor %}
</ul>
