### {{ title }}

{:.border-top .padding-top-1 .border-gray-10}

USWDS performed these tests to check the {{ componentName }}'s accessibility and usability for {{ navType | default: title | downcase }} navigation.
For help performing your own {{ title }} tests, check out the resources in the expandable section below.

{% if title == "Screen reader" %}
  {% assign title="screen readers" %}
{% endif %}
<div class="usa-accordion measure-5">
  <h4 class="usa-accordion__heading">
    <button type="button" class="usa-accordion__button" aria-controls="{{ title | slugify | append:'-how-to' }}">
      How to test with {{ title | downcase}}
    </button>
  </h4>
  <div id="{{ title | slugify | append:'-how-to'}}" class="usa-accordion__content usa-prose">
    <p>Information about how to test with with {{ title }}. Maybe we can link to other resources that explain it well.</p>
  </div>
</div>
