### {{ title }}

{:.border-top .padding-top-1 .border-gray-10}

USWDS performed these tests to check the {{ componentName }}'s accessibility and usability for {{ navType | default: title | downcase }} navigation.
For help performing your own {{ title | downcase }} tests, check out the resources in the expandable section below.

{% if title == "Screen reader" %}
  {% assign title="screen readers" %}
{% endif %}
<div class="usa-accordion measure-5">
  <h4 class="usa-accordion__heading">
    <button type="button" class="usa-accordion__button" aria-controls="{{ title | slugify | append:'-how-to' }}">
      How to test with {{ title | downcase}}
    </button>
  </h4>
  <div id="{{ title | slugify | append:'-how-to'}}" class="usa-accordion__content usa-prose border-1px border-gray-5 border-top-none">
    {% if title == "Zoom magnification" %}
    <ol>
      <li>Navigate to a page on your website where the accordion component is used.</li>
      <li>Set the browser window width to 1080px.</li>
      <li> Enlarge the view of your screen up to 200%. You can do this with any of the following options:
        <ol>
          <li>
            <b>Windows OS</b>: Click <code>ctrl</code> while using the scroll wheel on your mouse until you see "200%" appear in the top right of your screen.
            (To reset the zoom to the original value, click <code>ctrl</code> + <code>0</code>.)
          </li>
          <li>
            <b>Mac OS</b>: Click <code>command</code> + <code>+</code> until you see "200%" appear in the top right of your screen.
            (To reset the zoom to the original value, click <code>command</code> + <code>0</code>.)
          </li>
          <li><b>Browser settings</b>: Customize your browser settings to display pages at 200%.</li>
        </ol>
      </li>
      <li>Once zoomed, use a mouse to complete the tests in the checklist.</li>
    </ol>
    {% else %}
    TK: Add instructions for completing these tests.
    {% endif %}
  </div>
</div>
