<ol>
    <li>Navigate to a page on your website where the accordion component is used.</li>
    <li>Set the browser window width to 1080px.</li>
    <li>Enlarge the view of your screen up to 200%.</li>
    <li>Once zoomed, use a mouse to complete the tests in the checklist.</li>
</ol>
<hr/>
<p>Use the following methods to control screen magnification in your browser:</p>
<ol>
    <li>
      <b>Windows OS</b>: Click <code>ctrl</code> while using the scroll wheel on your mouse until you see "200%" appear in the top right of your screen.
      (To reset the zoom to the original value, click <code>ctrl</code> + <code>0</code>.)
    </li>
    <li>
      <b>Mac OS</b>: Click <code>command</code> + <code>+</code> until you see "200%" appear in the top right of your screen.
      (To reset the zoom to the original value, click <code>command</code> + <code>0</code>.)
    </li>
    <li><b>Browser settings</b>: Customize your browser settings to display pages at 200%.</li>
</ol>