<h4 class="font-lang-2xs margin-top-4">Color palettes</h4>
<p class="utility-text margin-top-1">In the following table, <a href="{{ site.baseurl }}/design-tokens/color/system-tokens/" class="token">family</a> indicates a specific unquoted system color family token (like <code>blue-warm</code>) as documented on the <a href="{{ site.baseurl }}/design-tokens/color/system-tokens/">system color tokens page</a>.</p>

<table class="usa-table--borderless site-table-responsive site-table-simple">
  <thead>
    <tr>
      <th scope="col" class="display-inline-flex">Palette name</th>
      <th scope="col" class="display-inline-flex">Palette contents</th>
    </tr>
  </thead>
  <tbody class="font-mono-2xs">
    <tr>
      <th scope="row" data-title="Palette name" class="tablet:text-no-wrap display-inline-flex">
        <span class="text-normal">
          'palette-color'
        </span>
      </th>
      <td data-title="Palette contents" class="display-inline-flex">
        <span>
          All color tokens
        </span>
      </td>
    </tr>
    <tr>
      <th scope="row" data-title="Palette name" class="tablet:text-no-wrap display-inline-flex">
        <span class="text-normal">
          'palette-color-default'
        </span>
      </th>
      <td data-title="Palette contents" class="display-inline-flex">
        <span>
          System default color tokens
        </span>
      </td>
    </tr>
    <tr>
      <th scope="row" data-title="Palette name" class="tablet:text-no-wrap display-inline-flex">
        <span class="text-normal">
          'palette-color-theme'
        </span>
      </th>
      <td data-title="Palette contents" class="display-inline-flex">
        <span>
          All <a href="{{ site.baseurl }}/design-tokens/color/theme-tokens/">theme color tokens</a>
        </span>
      </td>
    </tr>
    <tr>
      <th scope="row" data-title="Palette name" class="tablet:text-no-wrap display-inline-flex">
        <span class="text-normal">
          'palette-color-state'
        </span>
      </th>
      <td data-title="Palette contents" class="display-inline-flex">
        <span>
          All <a href="{{ site.baseurl }}/design-tokens/color/state-tokens/">state color tokens</a>
        </span>
      </td>
    </tr>
    <tr>
      <th scope="row" data-title="Palette name" class="tablet:text-no-wrap display-inline-flex">
        <span class="text-normal">
          'palette-color-grayscale'
        </span>
      </th>
      <td data-title="Palette contents" class="display-inline-flex">
        <span>
          gray-5, gray-10, gray-30, gray-50, gray-70, gray-90
        </span>
      </td>
    </tr>
    <tr>
      <th scope="row" data-title="Palette name" class="tablet:text-no-wrap display-inline-flex">
        <span class="text-normal">
          'palette-color-basic'
        </span>
      </th>
      <td data-title="Palette contents" class="display-inline-flex">
        <span>
          All basic colors
        </span>
      </td>
    </tr>
    <tr>
      <th scope="row" data-title="Palette name" class="tablet:text-no-wrap display-inline-flex">
        <span class="text-normal">
          'palette-color-system'
        </span>
      </th>
      <td data-title="Palette contents" class="display-inline-flex">
        <span>
          All grades in <a href="{{ site.baseurl }}/design-tokens/color/system-tokens/">all system color tokens</a>
        </span>
      </td>
    </tr>
    <tr>
      <th scope="row" data-title="Palette name" class="tablet:text-no-wrap display-inline-flex">
        <span class="text-normal">
          'palette-color-system-<a class="token" href="{{ site.baseurl }}/design-tokens/color/system-tokens/">family</a>'
        </span>
      </th>
      <td data-title="Palette contents" class="display-inline-flex">
        <span>
          All grades in the specified family
        </span>
      </td>
    </tr>
    <tr>
      <th scope="row" data-title="Palette name" class="tablet:text-no-wrap display-inline-flex">
        <span class="text-normal">
          'palette-color-system-<a class="token" href="{{ site.baseurl }}/design-tokens/color/system-tokens/">family</a>-light'
        </span>
      </th>
      <td data-title="Palette contents" class="display-inline-flex">
        <span>
          Grades 5, 10, 20, 30
        </span>
      </td>
    </tr>
    <tr>
      <th scope="row" data-title="Palette name" class="tablet:text-no-wrap display-inline-flex">
        <span class="text-normal">
          'palette-color-system-<a class="token" href="{{ site.baseurl }}/design-tokens/color/system-tokens/">family</a>-light-vivid'
        </span>
      </th>
      <td data-title="Palette contents" class="display-inline-flex">
        <span>
          Grades 5v, 10v, 20v, 30v
        </span>
      </td>
    </tr>
    <tr>
      <th scope="row" data-title="Palette name" class="tablet:text-no-wrap display-inline-flex">
        <span class="text-normal">
          'palette-color-system-<a class="token" href="{{ site.baseurl }}/design-tokens/color/system-tokens/">family</a>-medium'
        </span>
      </th>
      <td data-title="Palette contents" class="display-inline-flex">
        <span>
          Grades 40, 50, 60
        </span>
      </td>
    </tr>
    <tr>
      <th scope="row" data-title="Palette name" class="tablet:text-no-wrap display-inline-flex">
        <span class="text-normal">
          'palette-color-system-<a class="token" href="{{ site.baseurl }}/design-tokens/color/system-tokens/">family</a>-medium-vivid'
        </span>
      </th>
      <td data-title="Palette contents" class="display-inline-flex">
        <span>
          Grades 40v, 50v, 60v
        </span>
      </td>
    </tr>
    <tr>
      <th scope="row" data-title="Palette name" class="tablet:text-no-wrap display-inline-flex">
        <span class="text-normal">
          'palette-color-system-<a class="token" href="{{ site.baseurl }}/design-tokens/color/system-tokens/">family</a>-dark'
        </span>
      </th>
      <td data-title="Palette contents" class="display-inline-flex">
        <span>
          Grades 70, 80, 90
        </span>
      </td>
    </tr>
    <tr>
      <th scope="row" data-title="Palette name" class="tablet:text-no-wrap display-inline-flex">
        <span class="text-normal">
          'palette-color-system-<a class="token" href="{{ site.baseurl }}/design-tokens/color/system-tokens/">family</a>-dark-vivid'
        </span>
      </th>
      <td data-title="Palette contents" class="display-inline-flex">
        <span>
          Grades 70v, 80v, 90v
        </span>
      </td>
    </tr>
    <tr>
      <th scope="row" data-title="Palette name" class="tablet:text-no-wrap display-inline-flex">
        <span class="text-normal">
          'palette-color-system-<a class="token" href="{{ site.baseurl }}/design-tokens/color/system-tokens/">family</a>-standard'
        </span>
      </th>
      <td data-title="Palette contents" class="display-inline-flex">
        <span>
          Grades 5, 10, 20, 30, 40, 50, 60, 70, 80, 90
        </span>
      </td>
    </tr>
    <tr>
      <th scope="row" data-title="Palette name" class="tablet:text-no-wrap display-inline-flex">
        <span class="text-normal">
          'palette-color-system-<a class="token" href="{{ site.baseurl }}/design-tokens/color/system-tokens/">family</a>-vivid'
        </span>
      </th>
      <td data-title="Palette contents" class="display-inline-flex">
        <span>
          Grades 5v, 10v, 20v, 30v, 40v, 50v, 60v, 70v, 80v, 90v
        </span>
      </td>
    </tr>
  </tbody>
</table>
