<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-[color_family]-light</div>
  <div class="grid-col-8">Color grades 5, 10, 20, 30</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-[color_family]-medium</div>
  <div class="grid-col-8">Color grades 40, 50, 60</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-[color_family]-dark</div>
  <div class="grid-col-8">Color grades 70, 80, 90</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-[color_family]-light-vivid</div>
  <div class="grid-col-8">Color grades 5v, 10v, 20v, 30v</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-[color_family]-medium-vivid</div>
  <div class="grid-col-8">Color grades 40v, 50v, 60v</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-[color_family]-dark-vivid</div>
  <div class="grid-col-8">Color grades 70v, 80v, 90v</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-[color_family]-standard</div>
  <div class="grid-col-8">Color grades 5, 10, 20, 30, 40, 50, 60, 70, 80, 90</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-[color_family]-vivid</div>
  <div class="grid-col-8">Color grades 5v, 10v, 20v, 30v, 40v, 50v, 60v, 70v, 80v, 90v</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-[color_family]-all</div>
  <div class="grid-col-8">All grades in the specified color family</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-colors-all</div>
  <div class="grid-col-8">All grades in every color family</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-colors-theme</div>
  <div class="grid-col-8">All project theme colors</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-colors-state</div>
  <div class="grid-col-8">All state colors</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-colors-grayscale</div>
  <div class="grid-col-8">gray-5, 10, 30, 50, 70, 90</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-colors-basic</div>
  <div class="grid-col-8">All basic colors</div>
</div>
