<section class="utilities-section margin-top-6" id="output-control">
  <h3 class="utilities-section-title">Output control</h3>
  <p class="utility-text">Control whether or not to output any USWDS utility family by setting the value of the <code>$[utility_family]-settings.output</code> variable in your <a href="{{ site.baseurl }}/documentation/settings" class="">USWDS settings configuration</a>.</p>
  <p class="utility-text">A value of <code>true</code> will output the utility family and any variants. A value of <code>false</code> prevents the output of the family and any variants.</p>

  <table class="usa-table--borderless site-table-responsive site-table-simple">
    <thead>
      <tr>
        <th scope="col" class="display-inline-flex">Utility variable</th>
        <th scope="col" class="tablet:maxw-card-lg display-inline-flex">Default</th>
      </tr>
    </thead>
    <tbody class="font-mono-2xs">
      {% for utility in page.utilities %}
        <tr>
          <th scope="row" data-title="Utility variable" class="tablet:text-no-wrap display-inline-flex">
            <span class="text-normal">
              ${{ utility.var }}-settings.output
            </span>
          </th>
          <td data-title="Default" class="tablet:maxw-card-lg display-inline-flex">
            <span>
              {% if utility.output %}<span class="output-true">true</span>{% else %}false{% endif %}
            </span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
