<section class="utilities-section margin-top-3" id="responsive-variants">
  <h3 class="utilities-section-title">Responsive variants</h3>
  <p class="utility-text">Add a responsive breakpoint prefix separated with a  <code>:</code> to target a utility at a responsive breakpoint and higher, following a mobile-first methodology.</p>
  <div class="example border-left-05 border-secondary-light padding-left-105 margin-top-2 bg-white">
    <h4 class="font-lang-2xs margin-top-0 margin-bottom-05">Example</h4>
    <p class="font-mono-xs margin-top-0"><span class="text-red-warm-50v">.tablet:</span>padding-y-2</p>
    <h4 class="font-lang-2xs margin-top-2 margin-bottom-05">Output</h4>
<pre class=" font-mono-xs margin-0 padding-0 bg-transparent">
@media screen and (min-width: 640px) {
  .tablet\:padding-y-2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
</pre>
</div>
  <p class="utility-text margin-top-4">Set up which breakpoints are available to USWDS utilities by setting the <code>$theme-utility-breakpoints</code> variable in your <a href="{{ site.baseurl }}/documentation/settings" class="">USWDS settings configuration</a>.</p> 

  {% assign breakpoint = site.data.tokens.spacing.positive %}
  {% assign all-breakpoints =
    breakpoint.large
    | concat: breakpoint.larger
    | concat: breakpoint.largest %}
  {% assign output-breakpoints = "mobile-lg,tablet,desktop" | split: ',' %}

  <table class="usa-table--borderless site-table-responsive site-table-simple">
    <thead>
      <tr>
        <th scope="col" class="display-inline-flex">Breakpoint name</th>
        <th scope="col" class="tablet:maxw-card-lg display-inline-flex">Width</th>
        <th scope="col" class="tablet:maxw-card-lg display-inline-flex">Default</th>
      </tr>
    </thead>
    <tbody class="font-mono-2xs">
      {% for item in all-breakpoints %}
        <tr>
          <th scope="row" data-title="Breakpoint" class="tablet:text-no-wrap display-inline-flex">
            <span class="text-normal">
              {{ item.token }}
            </span>
          </th>
          <td data-title="Width" class="tablet:maxw-card-lg display-inline-flex">
            <span>
              {{ item.value }}
            </span>
          </td>
          <td data-title="Default" class="tablet:maxw-card-lg display-inline-flex">
            <span>
              {% assign output = false %}
              {% for width in output-breakpoints %}
                {% if width == item.token %}
                {% assign output = true %}
                <span class="output-true">true</span>
                {% endif %}
              {% endfor %}
              {% if output == false %}
                false
              {% endif %}
            </span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if page.utilities %}
    <p class="utility-text margin-top-4">Set whether a utility family outputs with responsive variants by setting the value of <code>$[utility_family]-settings.responsive</code> in your <a href="{{ site.baseurl }}/documentation/settings">USWDS settings configuration</a>. When modifying settings stored as a map, undefined map elements will keep their default values.</p>

    <div class="example border-left-05 border-secondary-light padding-left-105 margin-top-2 margin-bottom-2 bg-white">
      <h4 class="font-lang-2xs margin-top-0 margin-bottom-05">Example</h4>
      <pre class=" font-mono-xs margin-0 padding-0 bg-transparent">
  @use "uswds-core" with (
    $background-color-settings: (
      responsive: true
    )
  );
      </pre>
    </div>

    <table class="usa-table--borderless site-table-responsive site-table-simple">
      <thead>
        <tr>
          <th scope="col" class="display-inline-flex">Utility variable</th>
          <th scope="col" class="tablet:maxw-card-lg display-inline-flex">Default</th>
        </tr>
      </thead>
      <tbody class="font-mono-2xs">
        {% for utility in page.utilities %}
          <tr>
            <th scope="row" data-title="Utility variable" class="tablet:text-no-wrap display-inline-flex">
              <span class="text-normal">
                ${{ utility.var }}-settings.responsive
              </span>
            </th>
            <td data-title="Default" class="tablet:maxw-card-lg display-inline-flex">
              <span>
                {% if utility.responsive %}<span class="output-true">true</span>{% else %}false{% endif %}
              </span>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</section>
