<h4 class="font-lang-2xs margin-top-4">Spacing and units</h4>

<table class="usa-table--borderless site-table-responsive site-table-simple">
  <thead>
    <tr>
      <th scope="col">Palette name</th>
      <th scope="col">Palette contents</th>
    </tr>
  </thead>
  <tbody class="font-mono-2xs">
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          All spacing unit tokens (system, ch, em, percentage)
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units-system'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          All system spacing unit tokens
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units-system-breakpoints'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          All named spacing unit tokens: card, card-lg, mobile, mobile-lg, tablet, tablet-lg, desktop, desktop-lg, widescreen
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units-system-positive'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          All positive spacing unit tokens
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units-system-positive-smaller'
        </span>
      </td>
      <td data-title="Palette contents">
        <span>
          1px, 2px
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units-system-positive-small'
        </span>
      </td>
      <td data-title="Palette contents">
        <span>
          05, 1, 105, 2, 205, 3
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units-system-positive-medium'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          4, 5, 6, 7, 8, 9, 10, 15
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units-system-positive-large'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          card, card-lg, mobile
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units-system-positive-larger'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          mobile-lg, tablet, tablet-lg
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units-system-positive-largest'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          desktop, desktop-lg, widescreen
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units-system-negative'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          All negative spacing values
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units-system-negative-smaller'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          neg-1px, neg-2px
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units-system-negative-small'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          neg-05, neg-1, neg-105, neg-2, neg-205, neg-3
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units-ch'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          05ch, 1ch, 105ch, 2ch, 3ch, 4ch, 5ch, neg-05ch, neg-1ch, neg-105ch, neg-2ch, neg-3ch, neg-4ch, neg-5ch
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units-ch-positive'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          05ch, 1ch, 105ch, 2ch, 3ch, 4ch, 5ch
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units-ch-negative'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          neg-05ch, neg-1ch, neg-105ch, neg-2ch, neg-3ch, neg-4ch, neg-5ch
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units-em'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          05em, 1em, 105em, 2em, 3em, 4em, 5em, 6em, 7em, 8em, 9em, 10em
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units-percentage'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          10ct, 20ct, 25ct, 30ct, 33ct, 40ct, 50ct, 60ct, 66ct, 75ct, 80ct, 90ct, 100ct
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-units-0'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          0
        </span>
      </td>
    </tr>
  </tbody>
</table>
