<h4 class="font-sans-2xs margin-top-4 margin-bottom-1">Spacing and units</h4>
<div class="grid-row font-sans-3xs text-bold border-bottom border-base-light padding-bottom-05">
  <div class="grid-col-5">Palette name</div>
  <div class="grid-col-7">Palette contents</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-5">$palette-spacing-uswds-smaller</div>
  <div class="grid-col-7">1px, 2px</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-5">$palette-spacing-uswds-small</div>
  <div class="grid-col-7">05, 1, 105, 2, 205, 3</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-5">$palette-spacing-uswds-medium</div>
  <div class="grid-col-7">4, 5, 6, 7, 8, 9, 10, 15</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-5">$palette-spacing-uswds-large</div>
  <div class="grid-col-7">card, card-lg, mobile</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-5">$palette-spacing-uswds-larger</div>
  <div class="grid-col-7">mobile-lg, tablet, tablet-lg</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-5">$palette-spacing-uswds-largest</div>
  <div class="grid-col-7">desktop, desktop-lg, widescreen</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-5">$palette-spacing-uswds-smaller-negative</div>
  <div class="grid-col-7">neg-1px, neg-2px</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-5">$palette-spacing-uswds-small-negative</div>
  <div class="grid-col-7">neg-05, neg-1, neg-105, neg-2, neg-205, neg-3</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-5">$palette-spacing-uswds-all</div>
  <div class="grid-col-7">All non-negative spacing values</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-5">$palette-spacing-uswds-negative</div>
  <div class="grid-col-7">All negative spacing values</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-5">$palette-spacing-uswds-breakpoints</div>
  <div class="grid-col-7">card, card-lg, mobile, mobile-lg, tablet, tablet-lg, desktop, desktop-lg, widescreen</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-5">$palette-spacing-units-ch</div>
  <div class="grid-col-7">05ch, 1ch, 105ch, 2ch, 3ch, 4ch, 5ch</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-5">$palette-spacing-units-ch-negative</div>
  <div class="grid-col-7">neg-05ch, neg-1ch, neg-105ch, neg-2ch, neg-3ch, neg-4ch, neg-5ch</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-5">$palette-spacing-units-em</div>
  <div class="grid-col-7">05em, 1em, 105em, 2em, 3em, 4em, 5em, 6em, 7em, 8em, 9em, 10em</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-5">$palette-spacing-units-percentage</div>
  <div class="grid-col-7">10ct, 20ct, 25ct, 30ct, 33ct, 40ct, 50ct, 60ct, 66ct, 75ct, 80ct, 90ct, 100ct</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-5">$palette-spacing-units-0</div>
  <div class="grid-col-7">0</div>
</div>
