<h4 class="font-lang-2xs margin-top-4">Default palettes</h4>

<table class="usa-table--borderless site-table-responsive site-table-simple">
  <thead>
    <tr>
      <th scope="col" class="display-inline-flex">Palette name</th>
      <th scope="col" class="display-inline-flex">Palette contents</th>
    </tr>
  </thead>
  <tbody class="font-mono-2xs">
    {% for utility in page.utilities %}
      <tr>
        <th scope="row" data-title="Palette name" class="tablet:text-no-wrap display-inline-flex">
          <span class="text-normal">
            'palette-{{ utility.var }}-default'
          </span>
        </th>
        <td data-title="Palette contents" class="display-inline-flex">
          <span>
            {{ utility.var}} default tokens
          </span>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
