<section class="utilities-section margin-top-6" id="state-variants">
  <h3 class="utilities-section-title">State variants</h3>
  <p class="utility-text">Use a state prefix separated with a <code>:</code> to target a utility in a specific state.</p>
  <div class="example border-left-05 border-secondary-light padding-left-105 margin-top-2 bg-white">
    <h4 class="font-lang-2xs margin-top-0 margin-bottom-05">Example</h4>
    <p class="font-mono-xs margin-top-0"><span class="text-red-warm-50v">.hover:</span>bg-primary-vivid</p>
    <h4 class="font-lang-2xs margin-top-2 margin-bottom-05">Output</h4>
<pre class=" font-mono-xs margin-0 padding-0 bg-transparent">
.hover\:bg-primary-vivid:hover { background-color: #0052de; }
</pre>
</div>

<p class="utility-text margin-top-4">Set whether a utility outputs a specific state variant by setting the value of the <code>$[utility_family]-settings.[state]</code> variable in your <a href="{{ site.baseurl }}/documentation/settings" class="">USWDS settings configuration</a>. When modifying settings stored as a map, undefined map elements will keep their default values.</p>

  <div class="example border-left-05 border-secondary-light padding-left-105 margin-top-2 margin-bottom-2 bg-white">
    <h4 class="font-lang-2xs margin-top-0 margin-bottom-05">Example</h4>
    <pre class=" font-mono-xs margin-0 padding-0 bg-transparent">
@use "uswds-core" with (
  $background-color-settings: (
    active: true
  )
);
    </pre>
  </div>

  <table class="usa-table--borderless site-table-responsive site-table-simple">
    <thead>
      <tr>
        <th scope="col">Utility variable</th>
        <th scope="col" class="tablet:maxw-15 display-inline-flex">active</th>
        <th scope="col" class="tablet:maxw-15 display-inline-flex">focus</th>
        <th scope="col" class="tablet:maxw-15 display-inline-flex">hover</th>
        <th scope="col" class="tablet:maxw-15 display-inline-flex">visited</th>
      </tr>
    </thead>
    <tbody class="font-mono-2xs">
      {% for utility in page.utilities %}
        <tr>
          <th scope="row" data-title="Utility variable" class="tablet:text-no-wrap display-inline-flex">
            <span class="text-normal">
              ${{ utility.var }}-settings
            </span>
          </th>
          <td data-title="active" class="tablet:maxw-15 display-inline-flex">
            <span>
              {% if utility.active %}<span class="output-true">true</span>{% else %}false{% endif %}
            </span>
          </td>
          <td data-title="focus" class="tablet:maxw-15 display-inline-flex">
            <span>
              {% if utility.focus %}<span class="output-true">true</span>{% else %}false{% endif %}
            </span>
          </td>
          <td data-title="hover" class="tablet:maxw-15 display-inline-flex">
            <span>
              {% if utility.hover %}<span class="output-true">true</span>{% else %}false{% endif %}
            </span>
          </td>
          <td data-title="visited" class="tablet:maxw-15 display-inline-flex">
            <span>
              {% if utility.visited %}<span class="output-true">true</span>{% else %}false{% endif %}
            </span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
