<section class="utilities-section">
  <h2 class="utilities-section-title">State variants</h2>
  <p class="utility-text">Use a state prefix separated with a <code>:</code> to target a utility in a specific state.</p>
  <aside class="example border-left-05 border-secondary-light padding-left-105">
    <h3 class="font-sans-2xs margin-top-0 margin-bottom-05">Example</h3>
    <p class="font-mono-xs margin-top-0"><span class="text-red-warm-50v">.hover:</span>bg-primary-vivid</p>
    <h3 class="font-sans-2xs margin-top-2 margin-bottom-05">Output</h3>
<pre class=" font-mono-xs margin-0 padding-0 bg-transparent">
.hover\:bg-primary-vivid:hover { background-color: #0052de; }
</pre>
  </aside>

  <p class="utility-text margin-top-4">Set whether a utility outputs a specific state variant by setting the value of the <code>$[utility_family]-settings.[state]</code> variable in <code>_project-utilities-settings.scss</code>.</p>

  <div class="grid-row font-sans-3xs text-bold border-bottom border-base-light padding-bottom-05">
    <div class="grid-col">Utility variable</div>
    <div class="grid-col-auto width-15">.active</div>
    <div class="grid-col-auto width-15">.focus</div>
    <div class="grid-col-auto width-15">.hover</div>
    <div class="grid-col-auto width-15">.visited</div>
  </div>

  {% for utility in page.utilities %}
    <div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
      <div class="grid-col">${{ utility.var }}-settings</div>
      <div class="grid-col-auto width-15">{% if utility.active %}true{% else %}false{% endif %}</div>
      <div class="grid-col-auto width-15">{% if utility.focus %}true{% else %}false{% endif %}</div>
      <div class="grid-col-auto width-15">{% if utility.hover %}true{% else %}false{% endif %}</div>
      <div class="grid-col-auto width-15">{% if utility.visited %}true{% else %}false{% endif %}</div>
    </div>
  {% endfor %}

</section>
