<h4 class="font-lang-2xs margin-top-4">Font size and family palettes</h4>
<p class="utility-text margin-top-1">In the following table, <a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a> indicates a specific unquoted style-based or role-based font family token as documented on the <a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/">system font-family tokens page</a>. Valid tokens include <code>sans</code>, <code>serif</code>, <code>mono</code>, <code>heading</code>, <code>ui</code>, <code>body</code>, <code>code</code>, and <code>alt</code>.</p>

<table class="usa-table--borderless site-table-responsive site-table-simple">
  <thead>
    <tr>
      <th scope="col">Palette name</th>
      <th scope="col">Palette contents</th>
    </tr>
  </thead>
  <tbody class="font-mono-2xs">
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-font'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          All tokens in all families
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-font-system'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          All system size tokens in all type-based families
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-font-system-<a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          All system size tokens in <a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-font-system-<a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-small'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span class="line-height-mono-6">
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-micro</span>
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-1</span>
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-2</span>
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-3</span>
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-font-system-<a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-medium'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span class="line-height-mono-6">
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-4</span>
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-5</span>
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-6</span>
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-7</span>
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-8</span>
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-font-system-<a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-large'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span class="line-height-mono-6">
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-9</span>
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-10</span>
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-11</span>
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-12</span>
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-13</span>
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-14</span>
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-font-system-<a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-larger'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span class="line-height-mono-6">
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-15</span>
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-16</span>
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-17</span>
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-18</span>
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-19</span>
          <span class="display-block"><a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-20</span>
        </span>
      </td>
    </tr>
    {% for item in site.data.tokens.typesetting.size.system %}
      <tr>
        <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
          <span>
            'palette-font-system-<a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-{{ item.token }}'
          </span>
        </td>
        <td data-title="Palette contents">
          <span>
            <a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-{{ item.token }}
          </span>
        </td>
      </tr>
    {% endfor %}
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-font-theme'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          All theme size tokens in all families
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-font-theme-roles'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          All theme size tokens in all role-based families
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-font-theme-types'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          All theme size tokens in all type-based families
        </span>
      </td>
    </tr>
    <tr>
      <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
        <span>
          'palette-font-theme-<a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>'
        </span>
      </td>
      <td scope="row" data-title="Palette contents">
        <span>
          All theme size tokens in a family
        </span>
      </td>
    </tr>
    {% for item in site.data.tokens.typesetting.size.theme %}
      <tr>
        <td scope="row" data-title="Palette name" class="tablet:text-no-wrap">
          <span>
            'palette-font-theme-<a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-{{ item.token }}'
          </span>
        </td>
        <td data-title="Palette contents">
          <span>
            <a href="{{ site.baseurl }}/design-tokens/typesetting/font-family/" class="token">family</a>-{{ item.token }}
          </span>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
