<h4 class="font-sans-2xs margin-top-4 margin-bottom-1">Typescale palettes</h4>
<p class="utility-text margin-top-1">Below, <code>[family]</code> can be any of <code>sans</code>, <code>serif</code>, <code>mono</code>, <code>body</code>, <code>ui</code>, <code>body</code>, <code>code</code>, and <code>alt</code>.</p>

<div class="grid-row font-sans-3xs text-bold border-bottom border-base-light padding-bottom-05 margin-top-2">
  <div class="grid-col-4">Palette name</div>
  <div class="grid-col-8">Palette contents</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-theme-[family]-3xs</div>
  <div class="grid-col-8">[family]-3xs</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-theme-[family]-2xs</div>
  <div class="grid-col-8">[family]-2xs</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-theme-[family]-xs</div>
  <div class="grid-col-8">[family]-xs</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-theme-[family]-sm</div>
  <div class="grid-col-8">[family]-sm</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-theme-[family]-md</div>
  <div class="grid-col-8">[family]-md</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-theme-[family]-lg</div>
  <div class="grid-col-8">[family]-lg</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-theme-[family]-xl</div>
  <div class="grid-col-8">[family]-xl</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-theme-[family]-2xl</div>
  <div class="grid-col-8">[family]-2xl</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-theme-[family]-3xl</div>
  <div class="grid-col-8">[family]-3xl</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-theme-[family]-all</div>
  <div class="grid-col-8">All theme sizes in a family</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-theme-all</div>
  <div class="grid-col-8">All theme sizes and all families</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-micro</div>
  <div class="grid-col-8">[family]-micro</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-1</div>
  <div class="grid-col-8">[family]-1</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-2</div>
  <div class="grid-col-8">[family]-2</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-3</div>
  <div class="grid-col-8">[family]-3</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-4</div>
  <div class="grid-col-8">[family]-4</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-5</div>
  <div class="grid-col-8">[family]-5</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-6</div>
  <div class="grid-col-8">[family]-6</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-7</div>
  <div class="grid-col-8">[family]-7</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-8</div>
  <div class="grid-col-8">[family]-8</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-9</div>
  <div class="grid-col-8">[family]-9</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-10</div>
  <div class="grid-col-8">[family]-10</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-11</div>
  <div class="grid-col-8">[family]-11</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-12</div>
  <div class="grid-col-8">[family]-12</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-13</div>
  <div class="grid-col-8">[family]-13</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-13</div>
  <div class="grid-col-8">[family]-13</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-14</div>
  <div class="grid-col-8">[family]-14</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-15</div>
  <div class="grid-col-8">[family]-15</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-16</div>
  <div class="grid-col-8">[family]-16</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-17</div>
  <div class="grid-col-8">[family]-17</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-18</div>
  <div class="grid-col-8">[family]-18</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-19</div>
  <div class="grid-col-8">[family]-19</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-20</div>
  <div class="grid-col-8">[family]-20</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-sm</div>
  <div class="grid-col-8">[family]-micro, [family]-1, [family]-2, [family]-3</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-medium</div>
  <div class="grid-col-8">[family]-4, [family]-5, [family]-6, [family]-7, [family]-8</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-lg</div>
  <div class="grid-col-8">[family]-9, [family]-10, [family]-11, [family]-12, [family]-13, [family]-14</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-x-large</div>
  <div class="grid-col-8">[family]-15, [family]-16, [family]-17, [family]-18, [family]-19, [family]-20</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-[family]-all</div>
  <div class="grid-col-8">All system typescale sizes in [family]</div>
</div>
<div class="grid-row font-mono-2xs padding-y-05 border-bottom border-base-light">
  <div class="grid-col-4">$palette-font-uswds-all</div>
  <div class="grid-col-8">All system typescale sizes and all families</div>
</div>
