---
layout: next
permalink: /next/
title: Transforming the American digital experience
subhead: A report about what’s next for the U.S. Web Design System
---

<header class="next-hero">
  <div class="grid-container">
    <div class="grid-row flex-align-center margin-x-neg-2 tablet:margin-x-auto margin-y-2 tablet:margin-y-4 desktop:margin-y-6">
      <div class="grid-col-12 tablet:grid-col-7 desktop:grid-col-6 next-hero__content padding-x-2 tablet:padding-x-0">
        <h1 class="next-hero__heading">{{ page.title }}</h1>
        <p class="next-hero__subhead">{{ page.subhead }}</p>
        <div class="margin-y-4"><a href="#" class="usa-button usa-button--next usa-button--big">Download the report</a></div>
      </div>
      <div class="grid-col-12 tablet:margin:margin-x-0 tablet:grid-col-5 desktop:grid-col-6 tablet:padding-x-2 next-hero__banner-container">
        <img class="tablet:display-none" src="{{ site.baseurl }}/img/next/cover-pattern-mobile.svg" alt="">
        <img class="display-none tablet:display-block" src="{{ site.baseurl }}/img/next/next-hero-image-circle.svg" alt="">
      </div>
    </div>
  </div>
</header>

<div class="next-internal-nav">
  <div class="grid-container">
    <ul id="internal-nav" class="next-internal-nav__list">
      {% for item in site.next %}
        <li class="next-internal-nav__item">
          <a href="#section-{{ forloop.index }}" class="next-internal-nav__link">{{ item.title }}</a>
        </li>
      {% endfor %}
      <li class="next-internal-nav__item next-internal-nav__item--button">
        <a href="#" class="usa-button usa-button--next">Download the report</a>
      </li>
    </ul>
  </div>
</div>

<main role="main" id="main-content">
  {% for item in site.next %}
    <section id="section-{{ forloop.index }}" class="next-section next-section--{{ item.title | downcase | replace: " ", "-" | remove: "’" }} {{ item.section_class }}">
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-col-12 tablet:grid-col-3">
            <div class="next-section__header">
              {% unless item.hide_title %}<div class="next-section__subhead">{{ item.title }}</div>{% endunless %}
              <h2 class="next-section__heading">{{ item.heading }}</h2>
            </div>
          </div>
          <div class="grid-col-12 tablet:grid-col-8 tablet:margin-left-auto next-section-description">
            {{ item.description | markdownify }}
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-col-12">
            {{ item.content }}
          </div>
        </div>
      </div>
    </section>
  {% endfor %}
</main>