<h6 class="site-preview-heading">Borderless</h6>

{% capture borderless %}
  {% fractal_component accordion--default %}
{% endcapture %}{{ borderless | strip }}

<h6 class="site-preview-heading">Bordered</h6>

{% capture bordered %}
  {% fractal_component accordion--bordered %}
{% endcapture %}{{ bordered | strip }}

<h6 class="site-preview-heading">Multiselectable</h6>

{% capture multiselectable %}
  {% fractal_component accordion--multiselectable %}
{% endcapture %}{{ multiselectable | strip }}