<h3 class="site-preview-heading">Borderless</h6>

{% capture borderless %}
  {% library_component components-usa-accordion-usa-accordion %}
{% endcapture %}{{ borderless | strip }}

<h3 class="site-preview-heading">Bordered</h6>

{% capture bordered %}
  {% library_component components-usa-accordion-usa-accordion-bordered %}
{% endcapture %}{{ bordered | strip }}

<h3 class="site-preview-heading">Multiselectable</h6>

{% capture multiselectable %}
  {% library_component components-usa-accordion-usa-accordion-multiselectable %}
{% endcapture %}{{ multiselectable | strip  }}
