{% capture alerts--info %}
  {% fractal_component alerts--info %}
{% endcapture %}{{ alerts--info | strip }}

{% capture alerts--warning %}
  {% fractal_component alerts--warning %}
{% endcapture %}{{ alerts--warning | strip }}

{% capture alerts--warning %}
  {% fractal_component alerts--error %}
{% endcapture %}{{ alerts--warning | strip }}

{% capture alerts--warning %}
  {% fractal_component alerts--default %}
{% endcapture %}{{ alerts--warning | strip }}

{% capture alerts--warning %}
  {% fractal_component alerts--paragraph %}
{% endcapture %}{{ alerts--warning | strip }}