<h3 class="site-preview-heading">.gov domains</h3>
{% capture banner %}
  {% fractal_component banner %}
{% endcapture %}{{ banner
  | strip
  | replace: 'gov-banner', 'gov-banner-default'
  | replace: 'banner-lock-title', 'banner-lock-title-default'
  | replace: 'banner-lock-description', 'banner-lock-description-default' }}

<h3 class="site-preview-heading">.mil domains</h3>
{% capture banner--dot-mil %}
  {% fractal_component banner--dot-mil %}
{% endcapture %}{{ banner--dot-mil
  | strip
  | replace: 'gov-banner', 'gov-banner-dot-mil'
  | replace: 'banner-lock-title', 'banner-lock-title-dot-mil'
  | replace: 'banner-lock-description', 'banner-lock-description-dot-mil' }}

<h3 class="site-preview-heading">.gov domains (Spanish)</h3>
{% capture banner--lang-es %}
  {% fractal_component banner--lang-es %}
{% endcapture %}{{ banner--lang-es
  | strip
  | replace: 'gov-banner', 'gov-banner-lang-es'
  | replace: 'banner-lock-title', 'banner-lock-title-lang-es'
  | replace: 'banner-lock-description', 'banner-lock-description-lang-es' }}

<h3 class="site-preview-heading">.mil domains (Spanish)</h3>
{% capture banner--dot-mil-lang-es %}
  {% fractal_component banner--dot-mil-lang-es %}
{% endcapture %}{{ banner--dot-mil-lang-es
  | strip
  | replace: 'gov-banner', 'gov-banner-dot-mil-lang-es'
  | replace: 'banner-lock-title', 'banner-lock-title-dot-mil-lang-es'
  | replace: 'banner-lock-description', 'banner-lock-description-dot-mil-lang-es' }}
