<h3 class="site-preview-heading">.gov domains</h3>
{% capture banner %}
  {% library_component usa-usa-banner %}
{% endcapture %}{{ banner
  | strip }}

<h3 class="site-preview-heading">.mil domains</h3>
{% capture banner--dot-mil %}
  {% library_component usa-usa-banner~mil %}
{% endcapture %}{{ banner--dot-mil
  | strip }}

<h3 class="site-preview-heading">.gov domains (Spanish)</h3>
{% capture banner--lang-es %}
  {% library_component usa-usa-banner~lang-es %}
{% endcapture %}{{ banner--dot-mil
  | strip }}

<h3 class="site-preview-heading">.mil domains (Spanish)</h3>
{% capture banner--dot-mil-lang-es %}
  {% library_component usa-usa-banner~mil-lang-es %}
{% endcapture %}{{ banner--dot-mil-lang-es
  | strip }}
