<h3 class="site-preview-heading">Default breadcrumb</h3>
{% capture breadcrumb %}
  {% library_component usa-breadcrumb %}
{% endcapture %}{{ breadcrumb | strip }}

<h3 class="site-preview-heading">Breadcrumb with RDFa metadata</h3>
{% capture breadcrumb-metadata %}
  {% library_component usa-breadcrumb--metadata %}
{% endcapture %}{{ breadcrumb-metadata | strip }}

<h3 class="site-preview-heading">Wrapping breadcrumb</h3>
{% capture breadcrumb-wrap %}
  {% library_component usa-breadcrumb--wrap %}
{% endcapture %}{{ breadcrumb-wrap | strip }}
