<h6>Primary buttons</h6>
{% capture primary_buttons %}
  {% fractal_component buttons--primary %}
{% endcapture %}{{ primary_buttons | strip }}

<h6>Secondary buttons</h6>
{% capture secondary_buttons %}
  {% fractal_component buttons--secondary %}
{% endcapture %}{{ secondary_buttons | strip }}

<h6>Buttons on a dark background</h6>
<div class="button_wrapper">
{% capture secondary_inverse_buttons %}
  {% fractal_component buttons--secondary-inverse %}
{% endcapture %}{{ secondary_inverse_buttons | strip }}
</div>

<h6>Big button</h6>
{% capture big_buttons %}
  {% fractal_component buttons--big %}
{% endcapture %}{{ big_buttons | strip }}