<h6>Primary buttons</h6>
<div class="button_wrapper">
  {% fractal_component buttons--primary %}
</div>
<div class="button_wrapper">
  {% fractal_component buttons--primary-alt %}
</div>

<h6>Secondary buttons</h6>
<div class="button_wrapper">
{% fractal_component buttons--secondary %}
</div>
<div class="button_wrapper">
{% fractal_component buttons--gray %}
</div>
<div class="button_wrapper">
{% fractal_component buttons--outline %}
</div>
<div class="button_wrapper button_wrapper-dark">
{% fractal_component buttons--outline-inverse %}
</div>

<h6>Button focus</h6>
<div class="button_wrapper">
{% fractal_component buttons--focus %}
</div>

<h6>Disabled button</h6>
<div class="button_wrapper">
{% fractal_component buttons--disabled %}
</div>

<h6>Big button</h6>
<div class="button_wrapper">
{% fractal_component buttons--big %}
</div>
