<h3 class="site-preview-heading">Default</h6>
{% capture default_button %}
  {% library_component components-usa-button %}
{% endcapture %}{{ default_button | strip }}

<h3 class="site-preview-heading">Secondary color</h6>
{% capture secondary_button %}
  {% library_component components-usa-button~secondary %}
{% endcapture %}{{ secondary_button | strip }}

<h3 class="site-preview-heading">Accent cool color</h6>
{% capture accent_cool_button %}
  {% library_component components-usa-button~accent-cool %}
{% endcapture %}{{ accent_cool_button | strip }}

<h3 class="site-preview-heading">Accent warm color</h6>
{% capture accent_warm_button %}
  {% library_component components-usa-button~accent-warm %}
{% endcapture %}{{ accent_warm_button | strip }}

<h3 class="site-preview-heading">Base color</h6>
{% capture base_button %}
  {% library_component components-usa-button~base %}
{% endcapture %}{{ base_button | strip }}

<h3 class="site-preview-heading">Outline</h6>
{% capture outline_button %}
  {% library_component components-usa-button~outline %}
{% endcapture %}{{ outline_button | strip }}

<h3 class="site-preview-heading">Outline inverse</h6>
{% capture outline_inverse_button %}
  {% library_component components-usa-button~outline-inverse %}
{% endcapture %}{{ outline_inverse_button | strip }}

<h3 class="site-preview-heading">Big button</h6>
{% capture big_button %}
  {% library_component components-usa-button~big %}
{% endcapture %}{{ big_button | strip }}
