<h6>Default</h6>
{% capture default_buttons %}
  {% fractal_component buttons %}
{% endcapture %}{{ default_buttons | strip }}

<h6>Secondary color</h6>
{% capture secondary_buttons %}
  {% fractal_component buttons--secondary %}
{% endcapture %}{{ secondary_buttons | strip }}

<h6>Accent cool color</h6>
{% capture accent_cool_buttons %}
  {% fractal_component buttons--accent-cool %}
{% endcapture %}{{ accent_cool_buttons | strip }}

<h6>Base color</h6>
{% capture base_buttons %}
  {% fractal_component buttons--base %}
{% endcapture %}{{ base_buttons | strip }}

<h6>Outline</h6>
{% capture outline_buttons %}
  {% fractal_component buttons--outline %}
{% endcapture %}{{ outline_buttons | strip }}

<h6>Outline inverse</h6>
{% capture outline_inverse_buttons %}
  {% fractal_component buttons--outline-inverse %}
{% endcapture %}{{ outline_inverse_buttons | strip }}

<h6>Big button</h6>
{% capture big_buttons %}
  {% fractal_component buttons--big %}
{% endcapture %}{{ big_buttons | strip }}
