<h6 class="usa-heading-alt" id="card-title--default">Default card</h6>
{% capture card--default %}
  {% fractal_component card--default %}
{% endcapture %}{{ card--default | strip }}

<h6 class="usa-heading-alt" id="card-title--raised">Raised card</h6>
{% capture card--raised %}
  {% fractal_component card--raised %}
{% endcapture %}{{ card--raised | strip }}

<h6 class="usa-heading-alt" id="card-title--media">Media card</h6>
{% capture card--media %}
  {% fractal_component card--media %}
{% endcapture %}{{ card--media | strip }}

<h6 class="usa-heading-alt" id="card-title--flag">Flag card</h6>
{% capture card--flag %}
  {% fractal_component card--flag %}
{% endcapture %}{{ card--flag | strip }}
