<div class="grid-row grid-gap">
  <div class="tablet:grid-col-6">
    {% capture collection--default %}
      {% fractal_component collection--default %}
    {% endcapture %}{{ collection--default | strip }}
  </div>
  <div class="tablet:grid-col-6">
    {% capture collection--media %}
      {% fractal_component collection--media %}
    {% endcapture %}{{ collection--media | strip }}
  </div>
  <div class="tablet:grid-col-6">
    {% capture collection--fancy-date %}
      {% fractal_component collection--fancy-date %}
    {% endcapture %}{{ collection--fancy-date | strip }}
  </div>
  <div class="tablet:grid-col-6">
    {% capture collection--only-headers %}
      {% fractal_component collection--only-headers %}
    {% endcapture %}{{ collection--only-headers | strip }}
  </div>
</div>


