<h6>Featured content</h6>

{% capture featured-content--default %}
  {% fractal_component featured-content--default %}
{% endcapture %}{{ featured-content--default | strip }}

<h6>Featured content with thumbnails</h6>

{% capture featured-content--media %}
  {% fractal_component featured-content--media %}
{% endcapture %}{{ featured-content--media | strip }}

<h6>Featured content with calendar date</h6>

{% capture featured-content--fancy-date %}
  {% fractal_component featured-content--fancy-date %}
{% endcapture %}{{ featured-content--fancy-date | strip }}

<h6>Featured content with only headers</h6>

{% capture featured-content--only-headers %}
  {% fractal_component featured-content--only-headers %}
{% endcapture %}{{ featured-content--only-headers | strip }}
