{% capture file-input %}
  {% library_component usa-file-input %}
{% endcapture %}{{ file-input | strip }}

{% capture file-input-specific %}
  {% library_component usa-file-input~specific %}
{% endcapture %}{{ file-input-specific | strip }}

{% capture file-input-wildcard %}
  {% library_component usa-file-input~wildcard %}
{% endcapture %}{{ file-input-wildcard | strip }}

{% capture file-input-multiple %}
  {% library_component usa-file-input~multiple %}
{% endcapture %}{{ file-input-multiple | strip }}

{% capture file-input-error %}
  {% library_component usa-file-input~error %}
{% endcapture %}{{ file-input-error | strip }}

