<h3 class="site-preview-heading" id="big-footer">Big footer</h3>

{% capture footer--big %}
  {% library_component components-usa-footer--big %}
{% endcapture %}{{ footer--big | strip }}

<h3 class="site-preview-heading" id="medium-footer">Medium footer</h3>

{% capture footer %}
  {% library_component components-usa-footer %}
{% endcapture %}{{ footer | strip }}

<h3 class="site-preview-heading" id="slim-footer">Slim footer</h3>

{% capture footer--slim %}
  {% library_component components-usa-footer--slim %}
{% endcapture %}{{ footer--slim | strip }}
