<h6 class="margin-bottom-2">Default</h6>

{% capture icon-list %}
  {% fractal_component icon-list %}
{% endcapture %}{{ icon-list | strip }}

<h6 class="margin-bottom-2 padding-top-2 border-top-1px border-base-lighter">Don't List</h6>

{% capture icon-list--dont-list %}
  {% fractal_component icon-list--dont-list %}
{% endcapture %}{{ icon-list--dont-list | strip }}

<h6 class="margin-bottom-2 padding-top-2 border-top-1px border-base-lighter">Do List</h6>

{% capture icon-list--do-list %}
  {% fractal_component icon-list--do-list %}
{% endcapture %}{{ icon-list--do-list | strip }}

<h6 class="margin-bottom-2 padding-top-2 border-top-1px border-base-lighter">Complex List</h6>

{% capture icon-list--complex-list %}
  {% fractal_component icon-list--complex-list %}
{% endcapture %}{{ icon-list--complex-list | strip }}
