<h3 class="site-preview-heading">Default</h3>
{% capture identifier %}
  {% fractal_component identifier %}
{% endcapture %}{{ identifier }}

<h3 class="site-preview-heading">Default (Spanish)</h3>
{% capture identifier--lang-es %}
  {% fractal_component identifier--lang-es %}
{% endcapture %}{{ identifier--lang-es }}

<h3 class="site-preview-heading">Multiple parents and logos</h3>
{% capture identifier--multiple-logos %}
  {% fractal_component identifier--multiple-logos %}
{% endcapture %}{{ identifier--multiple-logos }}

<h3 class="site-preview-heading">Multiple parents and logos (Spanish)</h3>
{% capture identifier--multiple-logos-lang-es %}
  {% fractal_component identifier--multiple-logos-lang-es %}
{% endcapture %}{{ identifier--multiple-logos-lang-es }}

<h3 class="site-preview-heading">No logos</h3>
{% capture identifier--no-logos %}
  {% fractal_component identifier--no-logos %}
{% endcapture %}{{ identifier--no-logos }}

<h3 class="site-preview-heading">Taxpayer disclaimer</h3>
{% capture identifier--taxpayer-disclaimer %}
  {% fractal_component identifier--taxpayer-disclaimer %}
{% endcapture %}{{ identifier--taxpayer-disclaimer }}

<h3 class="site-preview-heading">Taxpayer disclaimer (Spanish)</h3>
{% capture identifier--taxpayer-disclaimer-lang-es %}
  {% fractal_component identifier--taxpayer-disclaimer-lang-es %}
{% endcapture %}{{ identifier--taxpayer-disclaimer-lang-es }}
