<h6>Default</h6>
{% capture identifier %}
  {% fractal_component identifier %}
{% endcapture %}{{ identifier }}

<h6>Multiple parents and logos</h6>
{% capture identifier--multiple-logos %}
  {% fractal_component identifier--multiple-logos %}
{% endcapture %}{{ identifier--multiple-logos }}

<h6>No logos</h6>
{% capture identifier--no-logos %}
  {% fractal_component identifier--no-logos %}
{% endcapture %}{{ identifier--no-logos }}

<h6>Taxpayer disclaimer</h6>
{% capture identifier--taxpayer-disclaimer %}
  {% fractal_component identifier--taxpayer-disclaimer %}
{% endcapture %}{{ identifier--taxpayer-disclaimer }}
