<div class="grid-row grid-gap">
  <div class="tablet:grid-col-4 margin-bottom-4 tablet:margin-bottom-0">
    {% capture in-page-navigation--level-one %}
      {% library_component usa-in-page-navigation~one-level %}
    {% endcapture %}{{ in-page-navigation--level-one | strip }}
  </div>

  <div class="tablet:grid-col-4 margin-bottom-4 tablet:margin-bottom-0">
    {% capture in-page-navigation--level-two %}
      {% library_component usa-in-page-navigation~two-levels %}
    {% endcapture %}{{ in-page-navigation--level-two | strip }}
  </div>
</div>