<h3 class="site-preview-heading">Default</h3>
{% capture pagination %}
  {% fractal_component pagination %}
{% endcapture %}{{ pagination | strip }}

<h3 class="site-preview-heading">Infinite</h3>
{% capture pagination--infinite %}
  {% fractal_component pagination--infinite %}
{% endcapture %}{{ pagination--infinite | strip }}

<h3 class="site-preview-heading">Default (Spanish)</h3>
{% capture pagination--lang-es %}
{% fractal_component pagination--lang-es %}
{% endcapture %}{{ pagination--lang-es }}

<h3 class="site-preview-heading">Infinite (Spanish)</h3>
{% capture pagination--infinite-lang-es %}
  {% fractal_component pagination--infinite-lang-es %}
{% endcapture %}{{ pagination--infinite-lang-es | strip }}

