<h3 class="site-preview-heading">Default</h3>
{% capture pagination %}
  {% library_component usa-usa-pagination %}
{% endcapture %}{{ pagination | strip }}

<h3 class="site-preview-heading">unbounded</h3>
{% capture pagination--unbounded %}
  {% library_component usa-usa-pagination~unbounded %}
{% endcapture %}{{ pagination--unbounded | strip }}

<h3 class="site-preview-heading">Default (Spanish)</h3>
{% capture pagination--lang-es %}
{% library_component usa-usa-pagination~lang-es %}
{% endcapture %}{{ pagination--lang-es }}

<h3 class="site-preview-heading">unbounded (Spanish)</h3>
{% capture pagination--unbounded-lang-es %}
  {% library_component usa-usa-pagination~unbounded-lang-es %}
{% endcapture %}{{ pagination--unbounded-lang-es | strip }}

