<form class="usa-form">
  <fieldset>
    <legend class="usa-drop_text">Reset password</legend>
    <span class="usa-serif">Please enter your new password</span>

    <div class="usa-alert usa-alert-info">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Passwords must:</h3>
      </div>
      <ul class="usa-checklist" id="validate-password-reset">
        <li data-validator="length">Be at least 8 characters</li>
        <li data-validator="uppercase">Have at least 1 uppercase character</li>
        <li data-validator="numerical">Have at least 1 numerical character</li>
        <li>Another requirement</li>
      </ul>
    </div>

    <label for="new-password">New password</label>
    <input id="new-password" name="password" type="password"
      aria-describedby="validate-password-reset"
      data-validate-length=".{8,}"
      data-validate-uppercase="[A-Z]"
      data-validate-numerical="\d"
      data-validation-element="#validate-password-reset">

    <label for="confirm-password">Confirm password</label>
    <input id="confirm-password" name="confirmPassword" type="password">

    <p class="usa-form-note">
      <a title="Show my typing" href="javascript:void(0);"
          class="usa-show_multipassword"
          aria-controls="new-password confirm-password">
        Show my typing</a>
    </p>

    <input type="submit" value="Reset password">
  </fieldset>
</form>
