<h6>Preview list</h6>

{% capture preview-list--default %}
  {% fractal_component preview-list--default %}
{% endcapture %}{{ preview-list--default | strip }}

<h6>Preview list with thumbnails</h6>

{% capture preview-list--media %}
  {% fractal_component preview-list--media %}
{% endcapture %}{{ preview-list--media | strip }}

<h6>Preview list with calendar date</h6>

{% capture preview-list--fancy-date %}
  {% fractal_component preview-list--fancy-date %}
{% endcapture %}{{ preview-list--fancy-date | strip }}

<h6>Preview list with only headers</h6>

{% capture preview-list--only-headers %}
  {% fractal_component preview-list--only-headers %}
{% endcapture %}{{ preview-list--only-headers | strip }}
