<h3 class="site-preview-heading">Default</h3>
{% capture process-list %}
  {% library_component usa-usa-process-list %}
{% endcapture %}{{ process-list | strip }}

<h3 class="site-preview-heading">No text and custom sizing</h3>
{% capture process-list--no-text %}
  {% library_component usa-usa-process-list--no-text %}
{% endcapture %}{{ process-list--no-text | strip }}

<h3 class="site-preview-heading">Custom sizing</h3>
{% capture process-list--custom-sizing %}
  {% library_component usa-usa-process-list--custom-sizing %}
{% endcapture %}{{ process-list--custom-sizing | strip }}
