<h6>Default</h6>
{% capture search %}
{% fractal_component search %}
{% endcapture %}{{ search | strip }}

<h6>Big variant</h6>
{% capture search--big %}
  {% fractal_component search--big %}
{% endcapture %}{{ search--big | strip }}

<h6>Small variant</h6>
{% capture search--small %}
  {% fractal_component search--small %}
{% endcapture %}{{ search--small | strip }}

<h6>Spanish default variant</h6>
{% capture search--lang-es %}
{% fractal_component search--lang-es %}
{% endcapture %}{{ search--lang-es | strip }}

<h6>Spanish big variant</h6>
{% capture search--big-lang-es %}
  {% fractal_component search--big-lang-es %}
{% endcapture %}{{ search--big-lang-es | strip }}

<h6>Spanish small variant</h6>
{% capture search--small-lang-es %}
  {% fractal_component search--small-lang-es %}
{% endcapture %}{{ search--small-lang-es | strip }}


