<h3 class="site-preview-heading">Default</h3>
{% capture search %}
{% library_component usa-search %}
{% endcapture %}{{ search | strip }}

<h3 class="site-preview-heading">Big variant</h3>
{% capture search--big %}
  {% library_component usa-search~big %}
{% endcapture %}{{ search--big | strip }}

<h3 class="site-preview-heading">Small variant</h3>
{% capture search--small %}
  {% library_component usa-search~small %}
{% endcapture %}{{ search--small | strip }}

<h3 class="site-preview-heading">Spanish default variant</h3>
{% capture search--lang-es %}
{% library_component usa-search~lang-es %}
{% endcapture %}{{ search--lang-es | strip }}

<h3 class="site-preview-heading">Spanish big variant</h3>
{% capture search--big-lang-es %}
  {% library_component usa-search~big-lang-es %}
{% endcapture %}{{ search--big-lang-es | strip }}

<h3 class="site-preview-heading">Spanish small variant</h3>
{% capture search--small-lang-es %}
  {% library_component usa-search~small-lang-es %}
{% endcapture %}{{ search--small-lang-es | strip }}


