<form class="usa-form">
  <fieldset>
    <legend class="usa-drop_text">Sign in</legend>
    <span>or <a href="javascript:void(0);">create an account</a></span>

    <label for="sign-in-username">Username or email address</label>
    <input id="sign-in-username" name="username" type="text" autocapitalize="off" autocorrect="off">

    <label for="sign-in-password">Password</label>
    <input id="sign-in-password" name="password" type="password">
    <p class="usa-form-note">
      <a title="Show password" href="javascript:void(0);"
          class="usa-show_password"
          aria-controls="sign-in-password">
        Show password</a>
    </p>

    <input type="submit" value="Sign in">

    <p><a href="javascript:void(0);" title="Forgot username">
      Forgot username?</a></p>
    <p><a href="javascript:void(0);" title="Forgot password">
      Forgot password?</a></p>

  </fieldset>
</form>
