<h6>Standard dismissible site-alert</h6>

{% capture site-alert--info %}
  {% fractal_component site-alert--info %}
{% endcapture %}{{ site-alert--info | strip }}

{% capture site-alert--warning %}
  {% fractal_component site-alert--warning %}
{% endcapture %}{{ site-alert--warning | strip }}

{% capture site-alert--error %}
  {% fractal_component site-alert--error %}
{% endcapture %}{{ site-alert--error | strip }}

{% capture site-alert--emergency %}
  {% fractal_component site-alert--emergency %}
{% endcapture %}{{ site-alert--emergency | strip }}

<h6>Non-dismissible site alert with no header</h6>

{% capture site-alert--no-header %}
  {% fractal_component site-alert--no-header %}
{% endcapture %}{{ site-alert--no-header | strip }}

<h6>Slim site alert</h6>

{% capture site-alert--slim %}
  {% fractal_component site-alert--slim %}
{% endcapture %}{{ site-alert--slim | strip }}

<h6>Site alert with no icon</h6>

{% capture site-alert--no-icon %}
  {% fractal_component site-alert--no-icon %}
{% endcapture %}{{ site-alert--no-icon | strip }}

<h6>Site alert with list </h6>

{% capture site-alert--emergency-list %}
  {% fractal_component site-alert--emergency-list %}
{% endcapture %}{{ site-alert--emergency-list | strip }}