<h3 class="site-preview-heading">Standard informational site alert</h3>

{% capture site-alert--info %}
  {% fractal_component site-alert--info %}
{% endcapture %}{{ site-alert--info | strip }}

<h3 class="site-preview-heading">Standard emergency site alert</h3>

{% capture site-alert--emergency %}
  {% fractal_component site-alert--emergency %}
{% endcapture %}{{ site-alert--emergency | strip }}

<h3 class="site-preview-heading">Site alert with no header</h3>

{% capture site-alert--no-header %}
  {% fractal_component site-alert--no-header %}
{% endcapture %}{{ site-alert--no-header | strip }}

<h3 class="site-preview-heading">Site alert with list </h3>

{% capture site-alert--emergency-list %}
  {% fractal_component site-alert--emergency-list %}
{% endcapture %}{{ site-alert--emergency-list | strip }}

<h3 class="site-preview-heading">Slim site alert</h3>

{% capture site-alert--slim %}
  {% fractal_component site-alert--slim %}
{% endcapture %}{{ site-alert--slim | strip }}

<h3 class="site-preview-heading">Site alert with no icon</h3>

{% capture site-alert--no-icon %}
  {% fractal_component site-alert--no-icon %}
{% endcapture %}{{ site-alert--no-icon | strip }}