<h3 class="site-preview-heading">Standard informational site alert</h3>

{% capture site-alert--info %}
  {% library_component usa-site-alert~info %}
{% endcapture %}{{ site-alert--info
  | strip
  | replace: 'h3', 'h4'
}}

<h3 class="site-preview-heading">Standard emergency site alert</h3>

{% capture site-alert--emergency %}
  {% library_component usa-site-alert~emergency %}
{% endcapture %}{{ site-alert--emergency
  | strip
  | replace: 'h3', 'h4'
}}

<h3 class="site-preview-heading">Site alert with no header</h3>

{% capture site-alert--no-header %}
  {% library_component usa-site-alert~emergency-no-header %}
{% endcapture %}{{ site-alert--no-header
  | strip
  | replace: 'h3', 'h4'
}}

<h3 class="site-preview-heading">Site alert with list </h3>

{% capture site-alert--emergency-list %}
  {% library_component usa-site-alert~emergency-list %}
{% endcapture %}{{ site-alert--emergency-list
  | strip
  | replace: 'h3', 'h4'
}}
<h3 class="site-preview-heading">Slim site alert</h3>

{% capture site-alert--slim %}
  {% library_component usa-site-alert~emergency-slim %}
{% endcapture %}{{ site-alert--slim
  | strip
  | replace: 'h3', 'h4'
}}

<h3 class="site-preview-heading">Site alert with no icon</h3>

{% capture site-alert--no-icon %}
  {% library_component usa-site-alert~emergency-no-icon %}
{% endcapture %}{{ site-alert--no-icon
  | strip
  | replace: 'h3', 'h4'
}}
