<h6>Default</h6>
{% capture step-indicator %}
  {% fractal_component step-indicator %}
{% endcapture %}{{ step-indicator | strip }}

<h6 class="padding-top-4 border-top-1px border-base-lighter">No labels</h6>
{% capture step-indicator--no-labels %}
  {% fractal_component step-indicator--no-labels %}
{% endcapture %}{{ step-indicator--no-labels | strip }}

<h6 class="padding-top-4 border-top-1px border-base-lighter">Centered</h6>
{% capture step-indicator--centered %}
  {% fractal_component step-indicator--centered %}
{% endcapture %}{{ step-indicator--centered | strip }}

<h6 class="padding-top-4 border-top-1px border-base-lighter">Counters</h6>
{% capture step-indicator--counters %}
  {% fractal_component step-indicator--counters %}
{% endcapture %}{{ step-indicator--counters | strip }}

<h6 class="padding-top-4 border-top-1px border-base-lighter">Small counters</h6>
{% capture step-indicator--counters-sm %}
  {% fractal_component step-indicator--counters-sm %}
{% endcapture %}{{ step-indicator--counters-sm | strip }}
