<h3 class="site-preview-heading">Default</h3>
{% capture step-indicator %}
  {% library_component usa-usa-step-indicator %}
{% endcapture %}{{ step-indicator | strip }}

<h3 class="site-preview-heading">No labels</h3>
{% capture step-indicator--no-labels %}
  {% library_component usa-usa-step-indicator~no-labels %}
{% endcapture %}{{ step-indicator--no-labels | strip }}

<h3 class="site-preview-heading">Centered</h3>
{% capture step-indicator--centered %}
  {% library_component usa-usa-step-indicator~center %}
{% endcapture %}{{ step-indicator--centered | strip }}

<h3 class="site-preview-heading">Counters</h3>
{% capture step-indicator--counters %}
  {% library_component usa-usa-step-indicator~counters %}
{% endcapture %}{{ step-indicator--counters | strip }}

<h3 class="site-preview-heading">Small counters</h3>
{% capture step-indicator--counters-sm %}
  {% library_component usa-usa-step-indicator~counters-sm %}
{% endcapture %}{{ step-indicator--counters-sm | strip }}
