<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page title</title>
    <!-- Update the link path to where your stylesheet file is located. For example: /path/to/your/assets/css/lib/uswds.min.css -->
    <link rel="stylesheet" href="{{ "/assets/css/styleguide.css" | prepend: site.baseurl }}">
  </head>
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>
  {% fractal_component banner %}
  {% fractal_component header--extended %}
  <main id="main-content"></main>
    {% fractal_component hero %}
    <section class="usa-grid usa-section">
      <div class="usa-width-one-third">
        <h2>A tagline highlights your approach.</h2>
      </div>
      <div class="usa-width-two-thirds">
        <p>The tagline should inspire confidence and interest, focusing on the value that your overall approach offers to your audience. Use a heading typeface and keep your tagline to just a few words, and don’t confuse or mystify.</p>
        <p>Use the right side of the grid to explain the tagline a bit more. What are your goals? How do you do your work? Write in the present tense, and stay brief here. People who are interested can find details on internal pages.</p>
      </div>
    </section>
    {% fractal_component graphic-list %}
    <section class="usa-section">
      <div class="usa-grid">
        <h2>Section heading</h2>
        <p class="usa-font-lead">Everything up to this point should help people understand your agency or project: who you are, your goal or mission, and how you approach it. Use this section to encourage them to act. Describe why they should get in touch here, and use an active verb on the button below. “Get in touch,” “Learn more,” and so on.</p>
        <a class="usa-button usa-button-big" href="#">Call to action</a>
      </div>
    </section>
  </main>
  {% fractal_component footer %}
  <!-- Update the link path to where your JavaScript file is located. For example: /path/to/your/assets/js/lib/uswds.min.js -->
  <script src="{{ site.baseurl }}/assets/js/vendor/uswds.min.js"></script>
  </body>
</html>
