<h3 class="site-preview-heading">Error with hint</h3>
<div class="padding-x-205">
  <form class="usa-form">
    <div class="usa-character-count">
      <div class="usa-form-group usa-form-group--error">
        <label
          class="usa-label usa-label--error"
          for="error-example-with-hint-input"
          >Text input</label
        >
        <span id="error-example-with-hint-input-hint" class="usa-hint"
          >This is an input with a character counter.</span
        >
        <span class="usa-error-message" id="error-example-with-hint-input-error"
          >Enter a response.</span
        >
        <input
          class="usa-input usa-character-count__field usa-input--error"
          id="error-example-with-hint-input"
          maxlength="25"
          name="error-example-with-hint-input"
          aria-describedby="error-example-with-hint-input-info error-example-with-hint-input-hint error-example-with-hint-input-error"
          aria-invalid="true"
        />
      </div>
      <span
        id="error-example-with-hint-input-info"
        class="usa-character-count__message"
        >You can enter up to 25 characters</span
      >
    </div>
  </form>

  <form class="usa-form">
    <div class="usa-character-count">
      <div class="usa-form-group usa-form-group--error">
        <label
          class="usa-label usa-label--error"
          for="error-example-with-hint-textarea"
          >Textarea</label
        >
        <span id="error-example-with-hint-textarea-hint" class="usa-hint"
          >This is a textarea with a character counter.</span
        >
        <span
          class="usa-error-message"
          id="error-example-with-hint-textarea-error"
          >Enter a response.</span
        >
        <textarea
          class="usa-textarea usa-character-count__field usa-input--error"
          id="error-example-with-hint-textarea"
          maxlength="50"
          name="error-example-with-hint-textarea"
          rows="5"
          aria-describedby="error-example-with-hint-textarea-info error-example-with-hint-textarea-hint error-example-with-hint-textarea-error"
          aria-invalid="true"
        ></textarea>
      </div>
      <span
        id="error-example-with-hint-textarea-info"
        class="usa-character-count__message"
        >You can enter up to 50 characters</span
      >
    </div>
  </form>
</div>
