<h3 class="site-preview-heading">Error with hint</h3>
<div class="padding-x-205">
  <div class="usa-form-group usa-form-group--error">
    <label
      class="usa-label usa-label--error"
      id="error-example-appointment-date-label"
      for="error-example-appointment-date"
      >Appointment date</label
    >
    <div class="usa-hint" id="error-example-appointment-date-hint">
      mm/dd/yyyy
    </div>
    <span class="usa-error-message" id="error-example-appointment-date-error"
      >Enter a valid appointment date.</span
    >
    <div class="usa-date-picker">
      <input
        class="usa-input usa-input--error"
        id="error-example-appointment-date"
        name="error-example-appointment-date"
        type="text"
        aria-labelledby="error-example-appointment-date-label"
        aria-describedby="error-example-appointment-date-hint error-example-appointment-date-error"
        aria-invalid="true"
      />
    </div>
  </div>
</div>
