<h3 class="site-preview-heading">Error with hint</h3>
<div class="padding-x-205">
  <div class="usa-date-range-picker">
    <div class="usa-form-group usa-form-group--error">
      <label
        class="usa-label usa-label--error"
        id="error-example-event-date-start-label"
        for="error-example-event-date-start"
        >Event start date</label
      >
      <div class="usa-hint" id="error-example-event-date-start-hint">
        mm/dd/yyyy
      </div>
      <span class="usa-error-message" id="error-example-event-date-start-error"
        >Enter a valid start date.</span
      >
      <div class="usa-date-picker">
        <input
          class="usa-input usa-input--error"
          id="error-example-event-date-start"
          name="error-example-event-date-start"
          type="text"
          aria-labelledby="error-example-event-date-start-label"
          aria-describedby="error-example-event-date-start-hint error-example-event-date-start-error"
          aria-invalid="true"
        />
      </div>
    </div>

    <div class="usa-form-group usa-form-group--error">
      <label
        class="usa-label usa-label--error"
        id="error-example-event-date-end-label"
        for="error-example-event-date-end"
        >Event end date</label
      >
      <div class="usa-hint" id="error-example-event-date-end-hint">
        mm/dd/yyyy
      </div>
      <span class="usa-error-message" id="error-example-event-date-end-error"
        >Enter an end date on or after the start date.</span
      >
      <div class="usa-date-picker">
        <input
          class="usa-input usa-input--error"
          id="error-example-event-date-end"
          name="error-example-event-date-end"
          type="text"
          aria-labelledby="error-example-event-date-end-label"
          aria-describedby="error-example-event-date-end-hint error-example-event-date-end-error"
          aria-invalid="true"
        />
      </div>
    </div>
  </div>
</div>
