<h3 class="site-preview-heading">Error with hint</h3>
<div class="padding-x-205">
  <div class="usa-form-group usa-form-group--error">
    <form class="usa-form">
      <label class="usa-label usa-label--error" for="error-example-usa-range"
        >Range slider</label
      >
      <span class="usa-hint" id="error-example-range-hint"
        >Move the slider to change the value</span
      >
      <span class="usa-error-message" id="error-example-range-error"
        >Choose a value of at least 30.</span
      >
      <input
        id="error-example-usa-range"
        class="usa-range"
        type="range"
        min="0"
        max="100"
        step="10"
        value="20"
        aria-describedby="error-example-range-hint error-example-range-error"
        aria-invalid="true"
      />
    </form>
  </div>
</div>
