<h3 class="site-preview-heading">Error</h3>
<div class="padding-x-205">
  <div class="usa-form-group usa-form-group--error">
    <form class="usa-form">
      <label class="usa-label usa-label--error" for="error-example-options"
        >Dropdown label</label
      >
      <span class="usa-error-message" id="error-example-options-error"
        >Select an option.</span
      >
      <select
        class="usa-select usa-input--error"
        name="error-example-options"
        id="error-example-options"
        aria-describedby="error-example-options-error"
        aria-invalid="true"
      >
        <option value="">- Select -</option>
        <option value="value1">Option A</option>
        <option value="value2">Option B</option>
        <option value="value3">Option C</option>
      </select>
    </form>
  </div>
</div>
