@use "uswds-core" as *;
@use "../settings/variables" as *;

@mixin inner-border($width, $color) {
  box-shadow: inset 0 0 0 units($width) color($color);
}

@mixin button-desktop-active {
  @include inner-border($site-border-width, "white");
  background-color: transparent;
  color: color("white");
}
