@mixin outline-inverse-button {
  // TODO: Fix this with button mixin
  .usa-button.usa-button--outline-inverse {
    box-shadow: inset 0 0 0 units(2px) color($site-primary);
    color: color($site-primary);

    &:hover {
      box-shadow: inset 0 0 0 unit(2px) color($site-primary-dark);
      color: color($site-primary-dark);
    }
  }
}

@mixin inner-border($width, $color) {
  box-shadow: inset 0 0 0 units($width) color($color);
}
