<div class="next-bulleted-list">
  <svg class="usa-icon usa-icon--size-{% if include.title %}4{% else %}3{% endif %}" aria-hidden="true" focusable="false" role="img">
    <use href="{{ site.baseurl }}/assets/img/sprite.svg#{{ include.icon }}"></use>
  </svg>
  {% if include.title %}<h3 class="margin-0">{{ include.title }}</h3>{% endif %}
  <p class="margin-bottom-1 margin-top-0">{{ include.paragraph }}</p>
  <ul class="margin-y-0 desktop:margin-left-4">
    {% for bullet in include.bullets %}
      <li>{{ bullet | markdownify | strip_newlines }}</li>
    {% endfor %}
  </ul>
</div>