## Customizing {{ include.token_type }} color tokens

Customize {{ include.token_type }} color tokens in your [USWDS settings configuration]({{ site.baseurl
}}/documentation/settings/#configuring-custom-uswds-settings) using the variables listed in the [{{ include.token_type }} color
tokens table](#{{ include.token_type }}-color-tokens-table) below. Define {{ include.token_type}} variables with
[system color tokens]({{ site.baseurl }}/design-tokens/color/system-tokens/).
Set any unused theme color to `false`.

For example, if you wanted to set the value of the `{{ include.example_token }}` token to `{{ include.example_value }}`, your settings
configuration would look like this:

```
@use "uswds-core" with (
  $theme-color-{{ include.example_token }}: "{{ include.example_value }}",
);
```
