{% assign these-colors = site.data.tokens.color %}
{% assign system-colors =
  these-colors.required
  | concat: these-colors.system.red
  | concat: these-colors.system.red-vivid
  | concat: these-colors.system.red-cool
  | concat: these-colors.system.red-cool-vivid
  | concat: these-colors.system.red-warm
  | concat: these-colors.system.red-warm-vivid
  | concat: these-colors.system.orange
  | concat: these-colors.system.orange-vivid
  | concat: these-colors.system.orange-warm
  | concat: these-colors.system.orange-warm-vivid
  | concat: these-colors.system.gold
  | concat: these-colors.system.gold-vivid
  | concat: these-colors.system.yellow
  | concat: these-colors.system.yellow-vivid
  | concat: these-colors.system.green
  | concat: these-colors.system.green-vivid
  | concat: these-colors.system.green-warm
  | concat: these-colors.system.green-warm-vivid
  | concat: these-colors.system.green-cool
  | concat: these-colors.system.green-cool-vivid
  | concat: these-colors.system.mint
  | concat: these-colors.system.mint-vivid
  | concat: these-colors.system.mint-cool
  | concat: these-colors.system.mint-cool-vivid
  | concat: these-colors.system.cyan
  | concat: these-colors.system.cyan-vivid
  | concat: these-colors.system.blue
  | concat: these-colors.system.blue-vivid
  | concat: these-colors.system.blue-cool
  | concat: these-colors.system.blue-cool-vivid
  | concat: these-colors.system.blue-warm
  | concat: these-colors.system.blue-warm-vivid
  | concat: these-colors.system.indigo
  | concat: these-colors.system.indigo-vivid
  | concat: these-colors.system.indigo-warm
  | concat: these-colors.system.indigo-warm-vivid
  | concat: these-colors.system.indigo-cool
  | concat: these-colors.system.indigo-cool-vivid
  | concat: these-colors.system.violet
  | concat: these-colors.system.violet-vivid
  | concat: these-colors.system.violet-warm
  | concat: these-colors.system.violet-warm-vivid
  | concat: these-colors.system.magenta
  | concat: these-colors.system.magenta-vivid
  | concat: these-colors.system.gray
  | concat: these-colors.system.gray-warm
  | concat: these-colors.system.gray-cool %}
