---
component:
  status: ready
  package: usa-header
  dependencies:
permalink: /components/header/
redirect_from:
  - /headers/
  - /components/headers/
layout: styleguide
title: Header
type: component
category: Components
lead: 'A header helps users identify where they are and provides a quick, organized way to reach the main sections of a website.'
subnav:
  - text: Basic header
    href: '#basic-header'
  - text: Basic header with megamenu
    href: '#basic-header-with-megamenu'
  - text: Extended header
    href: '#extended-header'
  - text: Extended header with megamenu
    href: '#extended-header-with-megamenu'
  - text: Latest updates
    href: '#changelog'
variants:
  - variant: "`.usa-header--basic`"
    description: Display a simple header.
  - variant: "`.usa-header--megamenu`"
    description: Display a megamenu.
  - variant: "`.usa-header--extended`"
    description: Display an extended header.
changelog:
  key: component-header
---
<h2>When to use a header component</h2>
<ul class="usa-content-list">
  <li>
    <strong>Most websites require header navigation.</strong> Most websites
    require some form of navigation to help users find the information they
    need. While a horizontal navigation bar is just one option for navigation
    design, it is one of the most visible and familiar ways of helping users
    navigate a site.
  </li>
</ul>

<h2>Header usability</h2>
<ul class="usa-content-list">
  <li>
    <strong>
      List all important website sections as links in the horizontal
      navigation.
    </strong>
  </li>
  <li>
    <strong>Dropdown menus help preview lower-level content.</strong> For large
    websites, use dropdown menus to help users preview lower-level content. If
    lower-level sections are closely related and users will need to quickly jump
    between them, consider using a side navigation instead of — or in addition
    to — a dropdown.
  </li>
  <li>
    <strong>Use short, clear link labels.</strong> Don’t use jargon or
    unfamiliar terms.
  </li>
  <li>
    <strong>Left-justify.</strong> Left-justified link labels are more easily
    scannable.
  </li>
  <li>
    <strong>Present links in priority order.</strong> Higher-demand links should
    appear farther to the left, and lower-demand links should appear farther to
    the right.
  </li>
  <li>
    <strong>Avoid org-structure navigation.</strong> Don’t model your navigation
    after your agency’s org structure. Instead, structure it according to the
    tasks and information your users most frequently need to access.
  </li>
  <li>
    <strong>Highlight the current section.</strong> Show users where they are
    within the site by highlighting the current section.
  </li>
  <li>
    <strong>Always research your navigation.</strong> Conduct research with your
    users, and base decisions about your site’s information architecture and
    navigation structure on your findings. Continue researching to confirm that
    updates meet your users’ needs.
  </li>
</ul>

<h2 class="usa-heading heading-margin-alt">Header accessibility</h2>
<ul class="usa-content-list">
  <li>
    <strong>Add a skip navigation link before the header.</strong> Include skip navigation links to allow those using
    screen readers to bypass long navigation lists. Make sure you include an <code>id</code> at the beginning of your
    main content and that it matches the skip navigation link. Find more <a
      href="http://webaim.org/techniques/skipnav/">information on skip navigation links</a> at WebAIM.
  </li>
  <li>
    <strong>Ensure your horizontal navigation is keyboard compatible.</strong> Test to make sure
    users can use <code>Tab</code> to navigate and <code>Space</code> (or <code>Enter</code>) to open pages.
  </li>
  <li>
    <strong>Include tab focus for all top-level navigation navigation items.</strong> This feature will
    allow keyboard-reliant users to easily navigate interactive items.
  </li>
  <li>
    <strong>Avoid using hover to expand dropdown lists.</strong> Hover is difficult for some
    users and won't work on touch screens. Dropdowns should expand on click or
    with keyboard navigation.
  </li>
  <li>
    <strong>Add context by labelling your nav element.</strong> If your page has more than one
    <code>nav</code> element, use the <code>aria-label</code> attribute to help assistive technology users understand the purpose of the navigation.
  </li>
  <li>
    <strong>Use list elements for your navigation links.</strong> This helps screen reader users
    navigate header content.
  </li>
  <li>
    <strong>Add alt text to your logo image.</strong> If you’re using a logo that’s an image rather than text, make sure
    you include alternative text for screen readers.
  </li>
  <li>
    <strong>Don't use an H1 for your logo.</strong> If you’re using a logo that’s text, use an <code>em</code>, not an
    <code>h1</code>, unless it’s the homepage. Find more information here:
    <a
      href="http://csswizardry.com/2010/10/your-logo-is-an-image-not-a-h1/">http://csswizardry.com/2010/10/your-logo-is-an-image-not-a-h1/.</a>
  </li>
</ul>

<h2>Further reading</h2>
<ul>
  <li>
    <a href="https://www.nngroup.com/articles/menu-design/">Menu design resource from Nielsen Norman</a>
  </li>
  <li>
    <a
      href="https://help.usertesting.com/hc/en-us/articles/11880459763869">Tree Testing resource from UserTesting.com</a>
  </li>
</ul>

<h2>Implementation</h2>
<h3 id="component-settings">Header settings</h3>
{% assign settings = site.data.settings.components.header %}
{% include settings-table-simple.html
  settings=settings.contents
%}
<h3 id="component-variants-{{ componentKey }}">
  {{ page.title }} variants
</h3>
{% include settings-table-flex.html
  content=page.variants
  cols="flex-1, flex-1"
  section="variants"
%}
{% include init-note.html %}

{% include child-sections.html parent='Header' %}
