---
component:
  status: ready
  package: usa-header
  dependencies:
permalink: /components/header/
redirect_from:
  - /headers/
  - /components/headers/
layout: styleguide
title: Header
type: component
category: Components
lead: 'A header helps users identify where they are and provides a quick, organized way to reach the main sections of a website.'
subnav:
  - text: Basic header
    href: '#basic-header'
  - text: Basic header with megamenu
    href: '#basic-header-with-megamenu'
  - text: Extended header
    href: '#extended-header'
  - text: Extended header with megamenu
    href: '#extended-header-with-megamenu'
  - text: Latest updates
    href: '#changelog'
changelog:
  key: component-header
in_page_nav: false
---

<h2>When to use a header component</h2>
<ul class="usa-content-list">
  <li>
    <strong>Use the gov banner on all federal websites.</strong> We recommend
    that all federal government websites include the “official government website”
    banner and a logo or site name.
  </li>
  <li>
    <strong>Most websites require header navigation.</strong> Most websites
    require some form of navigation to help users find the information they
    need. While a horizontal navigation bar is just one option for navigation
    design, it is one of the most visible and familiar ways of helping users
    navigate a site.
  </li>
</ul>

<h2>Header usability</h2>
<ul class="usa-content-list">
  <li>
    <strong>
      List all important website sections as links in the horizontal
      navigation.
    </strong>
  </li>
  <li>
    <strong>Dropdown menus help preview lower-level content.</strong> For large
    websites, use dropdown menus to help users preview lower-level content. If
    lower-level sections are closely related and users will need to quickly jump
    between them, consider using a side navigation instead of — or in addition
    to — a dropdown.
  </li>
  <li>
    <strong>Use short, clear link labels.</strong> Don’t use jargon or
    unfamiliar terms.
  </li>
  <li>
    <strong>Left-justify.</strong> Left-justified link labels are more easily
    scannable.
  </li>
  <li>
    <strong>Present links in priority order.</strong> Higher-demand links should
    appear farther to the left, and lower-demand links should appear farther to
    the right.
  </li>
  <li>
    <strong>Avoid org-structure navigation.</strong> Don’t model your navigation
    after your agency’s org structure. Instead, structure it according to the
    tasks and information your users most frequently need to access.
  </li>
  <li>
    <strong>Highlight the current section.</strong> Show users where they are
    within the site by highlighting the current section.
  </li>
  <li>
    <strong>Always research your navigation.</strong> Conduct research with your
    users, and base decisions about your site’s information architecture and
    navigation structure on your findings. Continue researching to confirm that
    updates meet your users’ needs.
  </li>
</ul>

<h2 class="usa-heading heading-margin-alt">Header accessibility</h2>
<ul class="usa-content-list">
  <li>
    <strong>Add a skip navigation link before the header.</strong> Include skip navigation links to allow users with screen readers to bypass
    long navigation lists. Make sure you include an <code>id</code> at the beginning of your
    main content and that it matches the skip navigation link. Find more <a href="http://webaim.org/techniques/skipnav/">information on these links</a> at WebAIM.

  </li>
  <li>
    <strong>Ensure your horizontal navigation is keyboard compatible.</strong> Test to make sure
    users can use <code>Tab</code> to navigate and <code>Space</code> (or <code>Enter</code>) to open pages.
  </li>
  <li>
    <strong>Include tab focus for all top-level navigation navigation items.</strong > This feature will
    allow keyboard-reliant users to easily navigate interactive items.
  </li>
  <li>
    <strong>Avoid using hover to expand dropdown lists.</strong> Hover is difficult for some
    users and won't work on touch screens. Dropdowns should expand on click or
    with keyboard navigation.
  </li>
  <li>
    <strong>Use only one navigation role.</strong> You can use multiple nav elements for groups of navigation links, but you
    should only use one <code>role="navigation"</code> for the main nav of a
    page.
  </li>
  <li>
    <strong>Use list elements for your nav links.</strong> This allows screen readers users to more easily navigate header content.
  </li>
  <li>
    <strong>Add alt text to your logo image.</strong> If you’re using a logo that’s an image rather than text, make sure you
    include alternative text for screen readers.
  </li>
  <li>
    <strong>Don't use an H1 for your logo.</strong> If you’re using a logo that’s text, use an <code>em</code>, not an
    <code>h1</code>, unless it’s the homepage. Find more information here:
    <a href="http://csswizardry.com/2010/10/your-logo-is-an-image-not-a-h1/"
      >http://csswizardry.com/2010/10/your-logo-is-an-image-not-a-h1/.</a
    >
  </li>
</ul>

<h2>The “official government website” banner</h2>
<p>
  We recommend that all federal government websites include the “official
  government website” banner and a logo or site name. The banner clearly
  identifies your website as part of the United States government, while a logo or
  site name helps visitors understand who you are and what you do.
</p>
<h3>Building with HTTPS</h3>
<p>
  <a
    href="https://18f.gsa.gov/2014/11/13/why-we-use-https-in-every-gov-website-we-make/"
    >HTTPS is a best practice</a
  >
  for all websites: It’s secure, private, and fast, and search engines prefer
  encrypted sites. But it’s especially important for government websites. The
  .gov in government websites carries a lot of weight. The public expects the
  contents of .gov websites to be official and accurate, and they expect any
  information they submit to that website to be private. The U.S. CIO provides
  guidance to implementing HTTPS for government websites at
  <a href="https://https.cio.gov/">https://https.cio.gov/.</a>
</p>

<h2>Further reading</h2>
<ul>
  <li>
    <a href="https://www.nngroup.com/articles/menu-design/"
      >https://www.nngroup.com/articles/menu-design/</a
    >
  </li>
  <li>
    <a
      href="https://www.usertesting.com/blog/site-navigation-tree-testing"
      >https://www.usertesting.com/blog/site-navigation-tree-testing</a
    >
  </li>
</ul>

<h2>Implementation</h2>
<h3 id="component-settings">Header settings</h3>
{% assign settings = site.data.settings.components.header %}
{% include settings-table-simple.html
  settings=settings.contents
%}
{% include init-note.html %}

{% include child-sections.html parent='Header' %}
