<section class="margin-bottom-5">
{% if include.color == "gold" %}
  <h3 class="text-base-darker text-uppercase font-sans-lg line-height-sans-2">
    {{ include.heading }}
  </h3>
{% else %}
  <h3 class="text-{{include.color}} text-uppercase font-sans-lg line-height-sans-2">
    {{ include.heading }}
  </h3>
{% endif %}
  <p class="font-sans-md margin-0">
    {{include.sub-heading}}
  </p>
  <p class="margin-0 margin-top-1">Consider</p>
  <ul class="margin-0">
    {% for bullet in include.bullets %}
      <li>{{ bullet }}</li>
    {% endfor %}
  </ul>
  
{% if include.color == "gold" %}
  <p class="bg-{{include.color}} text-base-darker padding-2 padding-bottom-3 radius-md">
    <span class="text-uppercase font-sans-3xs text-bold">Example</span>  
    <br/>
    {{ include.example }}
  </p>    
{% else %}
  <p class="bg-{{include.color}} text-white padding-2 padding-bottom-3 radius-md">
    <span class="text-uppercase font-sans-3xs text-bold">Example</span>  
    <br/>
    {{ include.example }}
  </p>    
{% endif %}
</section>