.copy-code {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  // Necessary for sticky button to work correctly
  overflow: initial;

  // Override display flex on collapsed accordion
  &[hidden] {
    display: none;
  }

  &__button {
    @include u-padding-left(2);
    @include u-font('sans', '3xs');
    margin-right: 0;
    min-width: 5.5rem;
    position: sticky;
    top: units(1);
    z-index: 100;

    &--success,
    &--success:hover {
      background-color: color("success-dark");
      box-shadow: none;
      color: color("white");
    }

    @include at-media("desktop") {
      // Offset for nav
      top: units(8);
    }
  }

  &__wrapper {
    display: none;

    @include at-media("tablet") {
      display: block;
      margin-left: units(2);
    }
  }
}
