---
title: Design principles
permalink: /design-principles/
layout: styleguide
lead: "We designed the U.S. Web Design Standards to help you create better experiences for the American public. Here’s how using the Standards can help you:"

principles:

  - title: Make the best thing the easiest thing.
    desc: >
      The U.S. Web Design Standards is the easiest path for teams around
      the federal government to comply with the latest federal policy for
      websites and digital services. The Standards support modern web
      development practices, such as mobile first and responsive
      frameworks. By offering open-source, quick-to-download code and
      assets, the Standards make it easy to deliver the highest-quality
      government websites to the public.

  - title: Offer accessibility out of the box.
    desc: >
      Every asset we offer should meet the high accessibility standards
      outlined in Section 508. For teams that need to customize the
      Standards to meet their agency needs, guidance will be offered to
      ensure any extensions and customizations that are made comply with
      Section 508 guidelines.

  - title: Design for flexibility.
    desc: >
      Our patterns and designs are easy to adapt to support the diverse
      scope and needs of government digital services. The tools and
      components provided in the Standards are focused on performance,
      both from a technical and team based point of view. To ensure this,
      everything should be validated for the user by the user. The
      Standards wants to empower teams across to government to make the
      statement “good enough for government work” mean something again.

#  - title: Build for performance.
#    desc: >
#      Each of our patterns, templates, assets, and guidelines is built
#      with performance in mind.

  - title: Showcase benefits for agency and users.
    desc: >
      Teams around the government should easily be able to find
      inspiration from among their peers. This inspiration can jumpstart
      many teams own efforts but also lay the groundwork for making the
      business case for adopting the U.S. Web Design Standards. We will
      catalog the successes of the Standards and its users both
      quantitatively and qualitatively.

  - title: Reuse, reuse, reuse.
    desc: >
      Teams should not be burdened with recreating basic components and
      patterns for every new product they create. The tools, patterns, and
      components present in the Standards will be a comprehensive
      collection of tried-and-true assets that reflect industry best
      practices. This will enable teams to focus on the unique aspects of
      their product to ensure the general public is getting the best
      possible service.

---

{% for principle in page.principles %}
  {% cycle '<div class="usa-grid-full">', '' %}
  <div class="usa-width-one-half">
    <h2>
      {% if principle.href %}<a href="{{ principle.href | relative_url }}">{% endif %}
      {{ principle.title }}
      {% if principle.href %}</a>{% endif %}
    </h2>
    <p>{{ principle.desc | normalize_whitespace }}</p>
  </div>
  {% cycle '', '</div>' %}
{% endfor %}
