{% assign level = include.level | default: "h3" %}
<div class="usa-accordion usa-accordion--bordered site-accordion-code site-component-preview">
  {% assign _id = include.component | append: '-preview' %}
  {% assign _content_id = include.component | append: '-preview-content' %}
  <{{ level }} id="{{ _id }}" class="usa-accordion__heading site-accordion-heading">
    <button
      type="button"
      class="usa-accordion__button"
      aria-controls="{{ _content_id }}"
      aria-expanded="true">
      Component preview
    </button>
  </{{ level }}>
  <div id="{{ _content_id }}" class="usa-accordion__content">

    {% if include.image %}
      {% for image in include.image %}
        {% assign demo = include.demoLink[forloop.index0] | default: include.demoLink %}

        {% unless forloop.first %}<hr />{% endunless %}

        {% if include.variants %}
          {% assign variant_name = include.variants[forloop.index0] | escape %}
          {% assign variant_alt = variant_name | append: ' ' | append: page.title | escape %}

          <h3 class="site-preview-heading">{{ variant_name }}</h3>
        {% endif %}

        <a
          class="media__link display-block"
          href={% include component-preview-link.html
            demoLink=demo
            component=include.component
          %}
        >
          <img
            src="{{ site.baseurl }}{{ image }}"
            alt="{{ include.alt | default: page.title }}"
            {% if include.imageUtilities %}
            class="{{ include.imageUtilities }}"
            {% endif %}
          />
        </a>
        {% endfor %}

        {% for link in include.demoLink %}
          <a
            class="usa-button site-button"
            href={% include component-preview-link.html
              demoLink=link
              component=include.component %}
            >
            Demo
            {% if include.variants %}
              {{ include.variants[forloop.index0] }}
            {% else %}
              {{ page.title }}
            {% endif %}
          </a>
      {% endfor %}
    {% else %}
        {% include code/components/{{ include.component }}.html %}
    {% endif %}
  </div>
</div>