---
layout: styleguide
type: component
---

{%- capture when_to_use -%}
{%- include_relative guidance/when-to-use.md -%}
{%- endcapture -%}
{%- capture when_to_consider_something_else -%}
{%- include_relative guidance/when-to-consider-something-else.md -%}
{%- endcapture -%}
{%- capture usability -%}
{%- include_relative guidance/usability.md -%}
{%- endcapture -%}
{%- capture accessibility -%}
{%- include_relative guidance/accessibility.md -%}
{%- endcapture -%}
{%- capture implementation -%}
{%- include_relative guidance/implementation.md -%}
{%- endcapture -%}

<section class="site-component-section">
  {% include code/preview.html component=page.component.name %}
  {% include code/accordion.html component=page.component.name %}
  <div class="usa-accordion usa-accordion--bordered site-accordion-docs">
    <button class="usa-button-unstyled usa-accordion__button"
    aria-expanded="true" aria-controls="documentation">
    Guidance
    </button>
    <div id="documentation" class="usa-accordion__content site-component-usage">
      <h4>When to use the accordion component</h4>
      {{ when_to_use | markdownify }}
      <h4>When to consider something else</h4>
      {{ when_to_consider_something_else | markdownify }}
      <h4>Usability guidance</h4>
      {{ usability | markdownify }}
      <h4 class="usa-heading">Accessibility</h4>
      {{ accessibility | markdownify }}
      <h4 class="usa-heading">Implementation</h4>
      {{ implementation | markdownify }}
      <h5 id="component-settings">Accordion settings</h5>
      {% assign settings = site.data.settings.components[page.component.name] %}
      {% include settings-table-simple.html
        settings=settings.contents
      %}
      <h5 id="component-variants">Accordion variants</h5>
      {% include settings-table-flex.html
        content=page.variants
        cols="flex-1, flex-1"
        section="variants"
      %}
      <h4 class="usa-heading">Package information</h4>
      <ul class="usa-content-list">
        <li>
          <strong>Package usage:</strong> <code>@import {{ page.component.package}}</code>
        </li>
        <li>
          <strong>Requires:</strong> <code>required</code>, <code>global</code>
          {%- if page.component.dependencies -%}
            {%- for dependency in page.component.dependencies -%}
            , <code>{{ dependency }}</code>
            {%- endfor -%}
          {%- endif -%}
        </li>
      </ul>
    </div>
  </div>
</section>