---
layout: styleguide
type: component
---

{%- capture when_to_use -%}
{%- include_relative guidance/when-to-use.md -%}
{%- endcapture -%}
{%- capture when_to_consider_something_else -%}
{%- include_relative guidance/when-to-consider-something-else.md -%}
{%- endcapture -%}
{%- capture usability -%}
{%- include_relative guidance/usability.md -%}
{%- endcapture -%}
{%- capture accessibility -%}
{%- include_relative guidance/accessibility.md -%}
{%- endcapture -%}
{%- capture implementation -%}
{%- include_relative guidance/implementation.md -%}
{%- endcapture -%}

{% if content.size > 1 %}
<h2>About the {{ page.component.name }} </h2>
{{ content | size }}
{% endif %}

{% include code/preview.html component=page.component.name level="h2" %}
{% include code/accordion.html component=page.component.name level="h2" %}

<h2 id="{{ page.component.name }}-guidance">Guidance</h2>
  <div class="site-component-usage">
    <h3>When to use the accordion component</h3>
    {{ when_to_use | markdownify }}
    <h3>When to consider something else</h3>
    {{ when_to_consider_something_else | markdownify }}
    <h3>Usability guidance</h3>
    {{ usability | markdownify }}
    <h3 class="usa-heading">Accessibility</h3>
    {{ accessibility | markdownify }}
    <h3 class="usa-heading">Implementation</h3>
    {{ implementation | markdownify }}
    <h4 id="component-settings">Accordion settings</h4>
    {% assign settings = site.data.settings.components[page.component.name] %}
    {% include settings-table-simple.html
      settings=settings.contents
    %}
    <h4 id="component-variants">Accordion variants</h4>
    {% include settings-table-flex.html
      content=page.variants
      cols="flex-1, flex-1"
      section="variants"
    %}
  </div>
</section>

<h2 id="{{ page.component.name }}-package">Package</h2>
<ul class="usa-content-list">
  <li>
    <strong>Package usage:</strong> <code>@import {{ page.component.package}}</code>
  </li>
  <li>
    <strong>Requires:</strong> <code>required</code>, <code>global</code>
    {%- if page.component.dependencies -%}
      {%- for dependency in page.component.dependencies -%}
      , <code>{{ dependency }}</code>
      {%- endfor -%}
    {%- endif -%}
  </li>
</ul>
