---
layout: default
---

<main id="main-content">
  <section class="hero bg-base-lightest padding-y-4 tablet:padding-y-8">
    <div class="grid-container">
      <div class="maxw-mobile-lg padding-x-1">
        <h1 class="hero--heading margin-y-0 line-height-sans-2 text-normal">A design system for the federal government.</h1>
        <p class="hero--content">We make it easier to build accessible, mobile-friendly government websites.</p>
        <a class="usa-button bg-secondary hover:bg-secondary-dark" href="{{ site.baseurl }}/documentation/">Get started</a>
        <!-- <a class="usa-button usa-button--outline" href="#">Learn more</a> -->
      </div>
    </div>
  </section>

  {% if page.graphic_list %}
  <section class="usa-section usa-graphic-list grid-container">
    <div class="">
      <div class="grid-row grid-gap">
        {% for list_item in page.graphic_list.list_item %}
          <div class="desktop:grid-col-3 tablet:grid-col-6 usa-media-block margin-bottom-3 desktop:margin-bottom-0">
            <img class="usa-media-block__img"  src="{{ list_item.image.src | relative_url }}" alt="{{ list_item.image.alt }}">
            <div class="usa-media-block__body">
              {% if list_item.topic %}<h3>{{ list_item.topic }}</h3>{% endif %}
              {{ list_item.description | markdownify }}
              <p><a href="{{ site.baseurl }}/{{ list_item.link.url }}/">{{ list_item.link.text }}</a></p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
</main>

{{ content }}
