---
layout: default
---

{% include navbar.html %}

<nav role="navigation" class="usa-nav sidenav-mobile">
  <div class="usa-nav-inner">
    <button class="usa-nav-close">
      <img src="{{ site.baseurl }}/assets/img/close.svg" alt="close">
    </button>
    <ul class="usa-sidenav-list usa-accordion">
      {% include nav/sections.html sections=site.data.nav.mobile %}
    </ul>
    {% include download-buttons.html %}
  </div>
</nav>

<main id="main-content">
  {% if page.hero %}
  <section class="usa-hero">
    <div class="usa-grid">
      <div class="usa-hero-callout usa-section-dark">
        {% if page.hero.callout %}
        <h2><span class="usa-hero-callout-alt">{{ page.hero.callout }}</h2>
        {% endif %}

        {{ page.hero.content | markdownify }}

        {% if page.hero.button %}
          <a class="usa-button usa-button-big usa-button-secondary" href="{{ page.hero.button.href }}">
            {{ page.hero.button.text }}
          </a>
        {% endif %}
      </div>
    </div>
  </section>
  {% endif %}

  <section class="usa-grid usa-section">
    {{ content }}
  </section>

</main>

{% include footer.html %}
