---
layout: default
---

<main id="main-content">
  <section class="site-hero">
    <div class="grid-container">
      <div class="maxw-mobile-lg">
        <h1
          class="hero--heading margin-y-0 line-height-sans-3 text-thin font-lang-13"
        >
          Hello world
        </h1>
        <p
          class="hero--content font-lang-10 text-thin line-height-sans-4 margin-top-205 margin-bottom-105"
        >
          We make it easier to build accessible, mobile-friendly government
          websites.
        </p>
        <a
          class="usa-button bg-secondary hover:bg-secondary-dark text-normal font-lang-sm margin-top-1"
          href="{{ site.baseurl }}/whats-new/updates/2022/04/28/introducing-uswds-3-0/"
          >Introducing USWDS 3.0</a
        >
        <a
          class="usa-button hover:bg-primary-darker text-normal font-lang-sm bg-primary-vivid margin-top-1"
          href="{{ site.baseurl }}/documentation/migration/">
          Migrating to USWDS 3.0
        </a>
      </div>
    </div>
  </section>

  {% if page.graphic_list %}
  <section class="usa-section usa-graphic-list grid-container">
    <div class="">
      <div class="grid-row grid-gap">
        {% for list_item in page.graphic_list.list_item %}
        <div
          class="desktop:grid-col-3 tablet:grid-col-6 usa-media-block margin-bottom-3 desktop:margin-bottom-0"
        >
          <img
            class="usa-media-block__img"
            src="{{ list_item.image.src | relative_url }}"
            alt="{{ list_item.image.alt }}"
            width="{{ list_item.image.width }}"
            height="{{ list_item.image.height }}"
          />
          <div class="usa-media-block__body">
            {% if list_item.topic %}
            <h2>{{ list_item.topic }}</h2>
            {% endif %} {{ list_item.description | markdownify }}
            <p>
              <a href="{{ site.baseurl }}/{{ list_item.link.url }}/"
                >{{ list_item.link.text }}</a
              >
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
  {{ content }}
</main>
