---
layout: next
report_title: Transforming the American digital experience
---

<header class="next-hero next-hero--minor">
  <div class="grid-container">
    <div class="grid-row flex-align-center margin-x-neg-2 tablet:margin-x-auto margin-y-2 tablet:margin-y-4 desktop:margin-y-6">
      <div class="grid-col-12 tablet:grid-col-8 tablet:margin-left-8 desktop:margin-left-0 desktop:grid-col-10 next-hero__content padding-x-2 tablet:padding-x-0">
        <h1 class="next-hero__heading">{{ page.title }}</h1>
        <p class="next-hero__subhead">{{ page.subhead }}</p>
      </div>
      <div class="grid-col-12 tablet:margin:margin-x-0 tablet:grid-col-2 desktop:grid-col-2 tablet:padding-x-2 next-hero__banner-container">
        <img class="tablet:display-none" src="{{ site.baseurl }}/img/next/cover-pattern-mobile.svg" alt="">
        <img class="display-none tablet:display-block" src="{{ site.baseurl }}/img/next/next-hero-image-circle.svg" alt="">
      </div>
    </div>
  </div>
</header>

<div class="next-internal-nav">
  <span class="next-report-title">Report: {{ layout.report_title }} </span>
  <div class="grid-container">
    <ul id="internal-nav" class="next-internal-nav__list">
      {% for item in site.next %}
      {% if item.chapter %}
        <li class="next-internal-nav__item">
          <a href="{{ item.url }}" class="next-internal-nav__link {% if item.title == page.title %}current{% endif %}">{{ item.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
      <li class="next-internal-nav__item next-internal-nav__item--button">
        <a href="{{ site.baseurl }}/files/next/Transforming-the-American-digital-experience.pdf" class="usa-button usa-button--next">Download the report</a>
      </li>
    </ul>
  </div>
</div>

<main role="main" id="main-content">
{{ content }}

</main>