---
layout: next
report_title: Transforming the American digital experience
---

{% assign page_type = 'summary' %}
{% if page.chapter == true %}
  {% assign page_type = 'chapter' %}
{% elsif page.parent %}
  {% assign page_type = 'page' %}
{% endif %}

<header class="next-hero next-hero--{{ page_type }} next-hero--{{ page.slug }} bg-{{ page.hero_color }}">
  <div class="grid-container">
    <div class="grid-row flex-align-center margin-x-neg-2 tablet:margin-x-auto margin-y-2 tablet:margin-y-4 desktop:margin-y-6">
      <div class="grid-col-12 tablet:grid-col-8 tablet:margin-left-8 desktop:margin-left-0 desktop:grid-col-10 next-hero__content padding-x-2 tablet:padding-x-0">
        {% if page_type == 'chapter' %}
          <h1 class="next-hero__heading">{{ page.title }}</h1>
          <h2 class="next-hero__subhead">{{ page.subhead }}</h2>
        {% elsif page_type == 'page' %}
          <h1 class="next-hero__subhead">{{ page.subhead }}</h1>
          <h2 class="next-hero__heading">{{ page.title }}</h2>
        {% endif %}
      </div>
    </div>
  </div>
  {% if page.slug != "opportunity" %}
    <div class="next-hero--{{ page_type }}__pattern" style="background-image: url('{{ site.baseurl }}/img/next/hero-pattern-{{ page.slug }}.svg')"></div>
  {% endif %}
</header>

<div class="next-internal-nav">
  <span class="next-report-title">{{ page.report_title }} </span>
  <div class="grid-container">
    <ul id="internal-nav" class="next-internal-nav__list">
      {% for item in site.next %}
      {% if item.chapter %}
        <li class="next-internal-nav__item">
          <a href="{{ site.baseurl }}{{ item.url }}" class="next-internal-nav__link {% if item.title == page.title or item.title == page.parent %}current{% endif %}">{{ item.nav_title }}</a>
        </li>
        {% endif %}
      {% endfor %}
      <li class="next-internal-nav__item next-internal-nav__item--button">
        <a href="{{ site.baseurl }}/files/next/Transforming-the-American-digital-experience.pdf" class="usa-button usa-button--next">Download the report</a>
      </li>
    </ul>
  </div>
</div>

<main role="main" id="main-content">
{{ content }}

</main>

<div class="grid-row margin-bottom-neg-1">
  <div class="grid-col bg-next-red-medium height-1"></div>
  <div class="grid-col bg-next-blue-medium height-1"></div>
  <div class="grid-col bg-next-mint-medium height-1"></div>
  <div class="grid-col bg-next-gold-medium height-1"></div>
  <div class="grid-col bg-next-pink-medium height-1"></div>
  <div class="grid-col bg-next-gray-medium height-1"></div>
</div>


<!-- builds next/previous pages -->

{% assign next_collection = site.next %}

{% for pages in next_collection %}
  {% capture report_length %}{{ forloop.length }}{% endcapture %}

  {% if pages.title == page.title %}

    {% capture page_index %}{{ forloop.index }}{% endcapture %}

    {% unless forloop.first %}
      {% assign prevurl = prevpage.url %}
      {% assign previndex = forloop.index | minus: 1 %}
    {% endunless %}

    {% unless next.last.url %}
      {% assign nextpage = next_collection[forloop.index] %}
      {% assign nexturl = nextpage.url %}
      {% assign nextindex = forloop.index | plus: 1 %}
    {% endunless %}

  {% endif %}

  {% assign prevpage = pages %}

{% endfor %}



<nav class="grid-container margin-y-5 padding-bottom-2 padding-top-3">
  <div class="grid-row flex-justify ">
    <h2>Read more from “Transforming the American digital experience”:</p>
  </div>
  <div class="grid-row flex-justify padding-bottom-3">
    <div class="grid-col-12 tablet:grid-col-10 tablet:margin-x-auto desktop-lg:margin-x-0 desktop-lg:grid-col-6 margin-bottom-3">
      {% if prevurl %}
        {% include next/next-pagination-cards.html preview=page.previous direction="prev" length=report_length index=previndex %}
      {% endif %} 
    </div>
    <div class="grid-col-12 tablet:grid-col-10 tablet:margin-x-auto desktop-lg:margin-x-0 desktop-lg:grid-col-6 margin-bottom-3">
      {% if nexturl %}
        {% include next/next-pagination-cards.html preview=page.next direction="next" length=report_length index=nextindex %}
      {% endif %}
    </div>
  </div>
</nav>