---
layout: default
---
<div class="default-container">
  <aside class="sidenav" id="page-side-navigation">
    {% assign sidenav = site.data.nav[page.category] %}
    {% if sidenav %}
    <ul class="site-sidenav usa-sidenav">
      {% include nav/list.html links=sidenav %}
    </ul>
    {% endif %}
  </aside>

  <div class="usa-in-page-nav-container">
    <aside class="usa-in-page-nav" 
      aria-label="Page navigation" 
      data-scroll-offset="-120" 
      data-root-margin="48px 0px -90% 0px" 
      data-threshold="1"></aside>
    <main id="main-content" class="main-content">
      <div class="styleguide-content{% unless page.category == 'Utilities' and page.type != 'docs' %} usa-prose site-prose{% endunless %}">

        {% if page.alert == true %}
        <div class="usa-alert site-alert margin-bottom-3 usa-alert--{{ page.alert-class }}">
          <div class="usa-alert__body">
            <h2 class="usa-alert__heading line-height-sans-3">{{ page.alert-heading }}</h2>
            <p class="usa-alert__text">
              {{ page.alert-content | markdownify | replace: "<p>", "" | replace: "</p>", ""}}
            </p>
          </div>
        </div>
        {% endif %}
        
        <header>
          {% if page.category != null %}
            {% unless page.path contains 'overview' and page.permalink != '/design-tokens/color/overview/' %}
              <p class="site-subheading">{{ page.category }}: {{ page.sub-category }}</p>
            {% endunless %}
          {% endif %}
          <h1 id="{{ page.title | slugify }}" class="site-page-title">{{ page.title }}</h1>
          <p id="{{ page.story | slugify }}" class="site-story">{{ page.story }}.</p>
        </header>

        {% include lead.html text=page.lead %}

        {{ content }}

        {% include changelog.html %}
      </div>
    </main>
  </div>
</div>