---
layout: default
category: What’s new
---

<aside class="sidenav sticky" style="top: 5rem; margin-bottom: 525px;">
  {% assign sidenav = site.data.nav[layout.category] %}
  <ul class="usa-sidenav-list">
    {%
      include nav/list.html
      links=sidenav
    %}
  </ul>
</aside>

<main id="main-content" class="main-content">
  <div class="styleguide-content usa-content">
  {% if page.collection == 'posts' %}
    {% include post.html post=page %}
  {% else %}
    <header>
      <p class="site-subheading">{{ page.category | default: layout.category }}</p>
      <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
    </header>
    {{ content }}
  {% endif %}
  </div>
</main>
