---
layout: default
category: What’s new
---
<div class="default-container">
  <aside class="sidenav" id="page-side-navigation">
    {% assign sidenav = site.data.nav[page.category] %}
    {% if sidenav %}
    <ul class="site-sidenav usa-sidenav">
      {% include nav/list.html links=sidenav %}
    </ul>
    {% endif %}
  </aside>

  <main id="main-content" class="main-content">
    {% if page.expiration_date %}
      <!--
        Note: `%s` converts the date to "seconds since 1970", based on strftime formatting.
        This allows us to compare dates to see which is greater.
      -->
      {% assign today_date = 'now' | date: '%s' %}
      {% assign expiration_date = page.expiration_date | date: '%s' %}

      {% if today_date > expiration_date %}
        {% include outdated-content-alert.html %}
      {% endif %}
    {% endif %}
    <div class="styleguide-content usa-prose site-prose">
    {% if page.collection == 'posts' %}
      {% include post.html post=page %}
    {% else %}
      <header>
        <p class="site-subheading">{{ page.category | default: layout.category }}</p>
        <h1 id="{{ page.title | slugify }}" class="site-page-title">{{ page.title }}</h1>
      </header>
      {{ content }}
    {% endif %}
    </div>
  </main>
</div>
