---
layout: default
---
<aside class="sidenav sticky">
  {% assign sidenav = site.data.nav[page.category] %}
  {% if sidenav %}
  <ul class="usa-sidenav-list">
    {% include nav/list.html links=sidenav %}
  </ul>
  {% endif %}
</aside>

<main id="main-content" class="main-content">

  <div class="styleguide-content usa-content">
    <header>
      {% if page.category != null %}
        {% unless page.path contains 'overview' %}
          <p class="site-subheading">{{ page.category }}</p>
        {% endunless %}
      {% endif %}
      <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
      {% if page.category == 'UI components' and page.fractal_component_url %}
        <span class="components-library-link">
          <a href="{{ page.component_url }}">View in Component Library</a>
        </span>
      {% endif %}
    </header>

    {% include lead.html text=page.lead %}

    {{ content }}
  </div>

</main>
