<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

  <head>
    {% include head.html %}
  </head>

  <body class="page-{{ page.title | slugify }} layout-{{ page.layout }}">

    {% include navbar.html %}

    <aside class="sidenav">
      {% assign sidenav = site.data.nav[page.category] %}
      {% if sidenav %}
      <ul class="usa-sidenav-list">
        {% include nav/list.html links=sidenav %}
      </ul>
      {% endif %}
    </aside>

    <nav role="navigation" class="usa-nav sidenav-mobile">
      <div class="usa-nav-inner">
        <button class="usa-nav-close">
          <img src="{{ site.baseurl }}/assets/img/close.svg" alt="close">
        </button>
        <ul class="usa-sidenav-list usa-accordion">
          {% include nav/sections.html sections=site.data.nav.mobile %}
        </ul>
        {% include download-buttons.html %}
      </div>
    </nav>

    <main class="main-content" id="main-content">

      <div class="styleguide-content usa-content">
        <header>
          {% if page.category != null %}
            {% unless page.path contains 'overview' %}
          <p class="site-subheading">{{ page.category }}</p>
            {% endunless %}
          {% endif %}
          <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
          {% if page.category == 'UI components' and page.maturity != null %}
          <div class="tooltip">
            <p class="tooltip-text" id="tooltip-text-{{ page.title | slugify }}">Read about the component maturity scale</p>
            <a class="usa-label label-{{ page.maturity }}" href="{{ site.baseurl }}/about-our-work/component-maturity-scale/" aria-describedby="tooltip-text-{{ page.title | slugify }}">
              {{ page.maturity }}
            </a>
          </div>
          {% endif %}
        </header>

        {% include atoms/lead.html text=page.lead %}

        {{ content }}
      </div>

      {% include footer.html %}

    </main>

    {% include ie-polyfill-scripts.html %}
    {% include analytics.html %}
    {% include docs-scripts.html %}
    <script src="{{ site.baseurl }}/assets/js/vendor/uswds.min.js"></script>

  </body>

</html>
