---
layout: default
---
<div class="default-container">
  <section id="site-alert-container" role="alert" aria-labelledby="usa-alert__heading">
    <div class="usa-alert">
      <div class="usa-alert__body">
        <h3 class="usa-alert__heading">Site alert</h3>
        <p class="usa-alert__text">
          Additional context and followup information.
        </p>
      </div>
    </div>
  </section>
  <div id="success-container"></div>
  <div id="polite-container"></div>
  <div id="error-container"></div>

  <aside class="sidenav" id="page-side-navigation">
    {% assign sidenav = site.data.nav[page.category] %}
    {% if sidenav %}
    <ul class="site-sidenav usa-sidenav">
      {% include nav/list.html links=sidenav %}
    </ul>
    {% endif %}
  </aside>

  <main id="main-content" class="main-content">

    <div class="styleguide-content{% unless page.category == 'Utilities' and page.type != 'docs' %} usa-prose site-prose{% endunless %}">
      <header>
        {% if page.category != null %}
          {% unless page.path contains 'overview' and page.permalink != '/design-tokens/color/overview/' %}
            <p class="site-subheading">{{ page.category }}</p>
          {% endunless %}
        {% endif %}
        <h1 id="{{ page.title | slugify }}" class="site-page-title">{{ page.title }}</h1>
      </header>

      {% include lead.html text=page.lead %}

      {{ content }}

      <button class="usa-button" onclick="triggerSuccess()">Click for no role</button>
      <button class="usa-button usa-button--accent-cool" onclick="triggerPolite()">Click for status role</button>
      <button class="usa-button usa-button--secondary" onclick="triggerError()">Click for alert role</button>

    </div>
  </main>
</div>

<script>
  function loadSiteAlert() {
    const siteAlertContainer = document.getElementById("site-alert-container");
    siteAlertContainer.setAttribute("role", "alert");
    siteAlertContainer.classList.add("usa-site-alert", "usa-site-alert--emergency");
    siteAlertContainer.innerHTML = `

    `;
  };
  function triggerSuccess() {
    const alertContainer = document.getElementById("success-container");
    alertContainer.classList.add("usa-alert", "usa-alert--success");
    alertContainer.innerHTML = `
      <div class="usa-alert__body">
        <h4 class="usa-alert__heading">Success status</h4>
        <p class="usa-alert__text">
          Lorem ipsum dolor sit amet,
          consectetur adipiscing
          elit, sed do eiusmod.
        </p>
      </div>
    `;
  }
  function triggerPolite() {
    const alertContainer = document.getElementById("polite-container");
    alertContainer.classList.add("usa-alert", "usa-alert--warning");
    alertContainer.setAttribute("role", "status");
    alertContainer.innerHTML = `
      <div class="usa-alert__body">
        <h4 class="usa-alert__heading">Warning status</h4>
        <p class="usa-alert__text">
          Lorem ipsum dolor sit amet,
          consectetur adipiscing
          elit, sed do eiusmod.
        </p>
      </div>
    `;
  }
  function triggerError() {
    const alertContainer = document.getElementById("error-container");
    alertContainer.classList.add("usa-alert", "usa-alert--error");
    alertContainer.setAttribute("role", "alert");
    alertContainer.innerHTML = `
      <div class="usa-alert__body">
        <h4 class="usa-alert__heading">Error status</h4>
        <p class="usa-alert__text">
          Lorem ipsum dolor sit amet,
          consectetur adipiscing
          elit, sed do eiusmod.
        </p>
      </div>
    `;
  }
</script>