---
layout: together
report_title: Inclusive Design Patterns
---

{% assign page_type = 'summary' %}
{% if page.chapter == true %}
  {% assign page_type = 'chapter' %}
{% elsif page.parent %}
  {% assign page_type = 'page' %}
{% endif %}

<section class="together-hero together-hero--{{ page_type }} together-hero--{{ page.slug }}  text-black  " aria-label="Page description">
  <div class="grid-container position-relative tablet:padding-6 desktop:padding-y-8">
    <div class="grid-row margin-top-2 desktop:margin-y-6">
      <div class="tablet:grid-col-4 desktop:grid-col-6 together-hero__content padding-x-2 tablet:padding-x-0 heading-wrapper">
        {% if page_type == 'chapter' %}
          <h1 class="together-hero__heading">{{ page.hero_title }}</h1>
          <h2 class="together-hero__subhead text-base-dark">{{ page.hero_subtitle }}</h2>
        {% elsif page_type == 'page' %}
          <h1 class="together-hero__subhead">{{ page.subhead }}</h1>
          <h2 class="together-hero__heading">{{ page.title }}</h2>
        {% endif %}
      </div>
      
      {% if page.hero_title == 'Inclusive design patterns' %}
        <img class="together-hero__image bottom-0 right-0 width-tablet tablet:width-mobile-lg desktop:width-tablet" src="{{ site.baseurl }}/img/together/hero-bg-2-ne.svg" alt="Diverse group of humans" />
      {% elsif page.hero_title == 'Findings' %}
        <img class="together-hero__image bottom-0 right-0 width-tablet tablet:width-mobile-lg desktop:width-tablet" src="{{ site.baseurl }}/img/together/hero-bg-3-ne.svg" alt="Diverse group of humans" />
      {% elsif page.hero_title == 'What’s next' %}
        <img class="together-hero__image bottom-0 right-0 width-tablet tablet:width-mobile-lg desktop:width-tablet" src="{{ site.baseurl }}/img/together/hero-bg-4-ne.svg" alt="Diverse group of humans" />
      {% elsif page.hero_title == 'Get involved' %}
        <img class="together-hero__image bottom-0 right-0 width-tablet tablet:width-mobile-lg desktop:width-tablet" src="{{ site.baseurl }}/img/together/hero-bg-5-ne.svg" alt="Diverse group of humans" />
      {% endif %}
    </div>
  </div>
</section>

<nav class="together-internal-nav bg-gray-10 text-base" aria-label="Together report internal navigation">
  <div class="grid-container tablet:padding-x-1 desktop:padding-x-3">
    <div class="desktop:grid-offset-3 desktop:padding-left-0 tablet:padding-x-6">
      <ul id="internal-nav" class="together-internal-nav__list">
        {% for item in site.together %}
          {% if item.chapter %}
            <li class="together-internal-nav__item">
              <a href="{{ site.baseurl }}{{ item.url }}" class="together-internal-nav__link {% if item.title == page.title or item.title == page.parent %}
                current
              {% endif %}">     
                {{ item.nav_title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
          <li class="together-internal-nav__item">
            <a href="{{ site.baseurl }}/patterns" class="usa-button">Patterns</a>
          </li>
      </ul>
    </div>
  </div>
</nav>

<div class="grid-container usa-in-page-nav-together-container tablet:padding-x-6">
  <div class="grid-row">
    <div class="tablet:grid-col-9">
      <main role="main" id="main-content">
        {{ content }}
      </main>
    </div>
    <div class="tablet:grid-col-3">
      <aside class="usa-in-page-nav-together"></aside>
    </div>
  </div>
</div>

