---
layout: together
report_title: Inclusive Design Patterns
---

{% assign page_type = 'summary' %}
{% if page.chapter == true %}
  {% assign page_type = 'chapter' %}
{% elsif page.parent %}
  {% assign page_type = 'page' %}
{% endif %}

<section class="next-hero next-hero--{{ page_type }} next-hero--{{ page.slug }} bg-{{ page.hero_color }} usa-dark-background" aria-label="Page description">
  <div class="grid-container">
    <div class="grid-row flex-align-center margin-x-neg-2 tablet:margin-x-auto margin-y-2 tablet:margin-y-4 desktop:margin-y-6">
      <div class="grid-col-12 tablet:grid-col-8 tablet:margin-left-8 desktop:margin-left-0 desktop:grid-col-10 next-hero__content padding-x-2 tablet:padding-x-0">
        {% if page_type == 'chapter' %}
          <h1 class="next-hero__heading">{{ page.title }}</h1>
          <h2 class="next-hero__subhead">{{ page.subhead }}</h2>
        {% elsif page_type == 'page' %}
          <h1 class="next-hero__subhead">{{ page.subhead }}</h1>
          <h2 class="next-hero__heading">{{ page.title }}</h2>
        {% endif %}
      </div>
    </div>
  </div>
  {% if page.slug != "opportunity" %}
    <div class="next-hero--{{ page_type }}__pattern" style="background-image: url('{{ site.baseurl }}/img/next/hero-pattern-{{ page.slug }}.svg')"></div>
  {% endif %}
</section>

<nav class="next-internal-nav usa-dark-background" aria-label="Next report internal navigation">
  <div class="grid-container">
    <ul id="internal-nav" class="next-internal-nav__list">
      {% for item in site.next %}
      {% if item.chapter %}
        <li class="next-internal-nav__item">
          <a href="{{ site.baseurl }}{{ item.url }}" class="next-internal-nav__link {% if item.title == page.title or item.title == page.parent %}current{% endif %}">{{ item.nav_title }}</a>
        </li>
        {% endif %}
      {% endfor %}
      <li class="next-internal-nav__item next-internal-nav__item--button">
        <a href="{{ site.baseurl }}/files/next/Transforming-the-American-digital-experience.pdf" class="usa-button usa-button--next">Download the report</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" id="main-content">
{{ content }}

</main>

