---
layout: together
report_title: Inclusive Design Patterns
---

{% assign page_type = 'summary' %}
{% if page.chapter == true %}
  {% assign page_type = 'chapter' %}
{% elsif page.parent %}
  {% assign page_type = 'page' %}
{% endif %}

<section class="next-hero next-hero--{{ page_type }} next-hero--{{ page.slug }} bg-gray-10 text-black  " aria-label="Page description">
  <div class="grid-container position-relative tablet:padding-y-4 desktop:padding-y-8">
    <div class="grid-row margin-top-2 tablet:margin-top-4 desktop:margin-y-6">
      <div class="tablet:grid-col-4 tablet:margin-left-8  desktop:grid-col-6 next-hero__content padding-x-2 tablet:padding-x-0 heading-wrapper">
        {% if page_type == 'chapter' %}
          <h1 class="next-hero__heading">{{ page.title }}</h1>
          <h2 class="next-hero__subhead text-base-dark">{{ page.subhead }}</h2>
        {% elsif page_type == 'page' %}
          <h1 class="next-hero__subhead">{{ page.subhead }}</h1>
          <h2 class="next-hero__heading">{{ page.title }}</h2>
        {% endif %}
      </div>
      
      {% if page.title == 'Inclusive design patterns' %}
        <img class="next-hero__image bottom-0 right-0 width-tablet tablet:width-mobile-lg desktop:width-tablet" src="{{ site.baseurl }}/img/together/hero-bg-2.svg" alt="Diverse group of humans" />
      {% elsif page.title == 'Findings' %}
        <img class="next-hero__image bottom-0 right-0 width-tablet tablet:width-mobile-lg desktop:width-tablet" src="{{ site.baseurl }}/img/together/hero-bg-3.svg" alt="Diverse group of humans" />
      {% elsif page.title == 'What’s next' %}
        <img class="next-hero__image bottom-0 right-0 width-tablet tablet:width-mobile-lg desktop:width-tablet" src="{{ site.baseurl }}/img/together/hero-bg-4.svg" alt="Diverse group of humans" />
      {% elsif page.title == 'Get involved' %}
        <img class="next-hero__image bottom-0 right-0 width-tablet tablet:width-mobile-lg desktop:width-tablet" src="{{ site.baseurl }}/img/together/hero-bg-5.svg" alt="Diverse group of humans" />
      {% endif %}
    </div>
  </div>
</section>

<nav class="together-internal-nav bg-gray-10 text-base" aria-label="Together report internal navigation">
  <div class="grid-container">
    <div class="tablet:grid-offset-3 tablet:padding-left-3">
      <ul id="internal-nav" class="together-internal-nav__list">
        {% for item in site.together %}
        {% if item.chapter %}
          <li class="together-internal-nav__item">
            <a href="{{ site.baseurl }}{{ item.url }}" class="together-internal-nav__link {% if item.title == page.title or item.title == page.parent %}
              current
            {% endif %}">     
              {{ item.nav_title }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<div class="usa-in-page-nav-container">
  <main role="main" id="main-content">
    {{ content }}
  </main>
  <aside class="usa-in-page-nav"></aside>
</div>

