---
layout: blueprint
permalink: /blueprint/
title: Transforming the American digital experience
subhead: Empowering agencies to deliver seamless online services
---

<header class="blueprint-hero">
  <div class="grid-container">
    <div class="blueprint-hero__content">
      <h1 class="blueprint-hero__heading">{{ page.title }}</h1>
      <p class="blueprint-hero__subhead">{{ page.subhead }}</p>
    </div>
  </div>
  <div class="blueprint-hero__banner-container">
    <picture>
      <source media="(max-width: 799px)" srcset="{{ site.baseurl }}/img/blueprint/cover-pattern-mobile.svg ">
      <source media="(min-width: 800px)" srcset="{{ site.baseurl }}/img/blueprint/cover-pattern.svg">
      <img  class="blueprint-hero__banner" src="{{ site.baseurl }}/img/blueprint/cover-pattern.svg" alt="" role="presentation">
    </picture>
  </div>
  <div class="grid-container">
    <div class="grid-row">
      <div class="blueprint-hero__ownership">
        <div class="blueprint-hero__ownership-item">
          <img class="blueprint-hero__ownership-img" src="{{ site.baseurl }}/img/blueprint/uswds.svg"  alt="" role="img">
          <span>U.S. Web Design System</span>
        </div>
        <div class="blueprint-hero__ownership-item">
          <img class="blueprint-hero__ownership-img" src="{{ site.baseurl }}/img/gsa-logo.svg" alt="" role="img">
          <span>A product of the U.S. General <br/>Services Administration</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="blueprint-internal-nav">
  <div class="grid-container">
    <ul id="internal-nav" class="blueprint-internal-nav__list">
      {% for item in site.blueprint %}
        <li class="blueprint-internal-nav__item">
          <a href="#section-{{ forloop.index }}" class="blueprint-internal-nav__link">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<main role="main" id="main-content">
  {% for item in site.blueprint %}
    <section id="section-{{ forloop.index }}" class="blueprint-section {{ item.section_class }}">
      <div class="grid-container">
        {{ item.content | markdownify }}
      </div>
    </section>
  {% endfor %}
</main>