{% assign component_name = page.parent | default: page.title | downcase %}

<div class="usa-alert site-alert usa-alert--info usa-alert--no-icon measure-5 margin-bottom-2">
  <div class="usa-alert__body">
    <p class="usa-alert__text text-bold">
      Test the {{ component_name }} component in your own project.
    </p>
    <p class="margin-y-1">
      USWDS tested the {{ component_name }} component for accessibility. You should test your implementation, too.
    </p>
      <a class="usa-button margin-top-1 font-lang-xs" href="{{ site.baseurl }}/components/{{ component_name | slugify }}/accessibility-tests">
        Use {{ component_name }} accessibility tests
      </a>
  </div>
</div>
