<div class="usa-alert usa-alert--info usa-alert--no-icon measure-5 margin-bottom-2">
  <div class="usa-alert__body">
    <p class="usa-alert__text text-bold">
      Test the {{ componentName }} in your own project.
    </p>
    <p class="margin-y-1">
      USWDS tested the {{ componentName }}  component for accessibility. You should test your implementation, too.
    </p>
      <a class="usa-button margin-top-1 font-body-xs" href="{{ site.baseurl }}/components/{{ componentName }}/checklist">
        Use {{ componentName }} accessibility tests
      </a>
  </div>
</div>
