{% assign nav_type = title %}
{% if include.type == "general" %}
  {% assign title = "General"%}
  {% assign items = general_tests %}
{% endif %}
{% if include.type == "keyboard" %}
  {% assign title = "Keyboard navigation"%}
  {% assign items = keyboard_tests %}
  {% assign nav_type = "keyboard" %}
{% endif %}
{% if include.type == "zoom" %}
  {% assign title = "Zoom magnification"%}
  {% assign items = zoom_tests %}
{% endif %}
{% if include.type == "screenReader" %}
  {% assign title = "Screen reader"%}
  {% assign items = screen_reader_tests %}
{% endif %}

<!--Add checklist intro-->
<h3 class="site-checklist-intro-header">{{ title }} tests</h3>

{% unless include.type == "general" %}
  {% include accessibility-tests/checklist-intros.html %}
{% endunless %}

<!--Add checklist items-->
<fieldset class="usa-fieldset site-checklist-checklist">
  <legend class="usa-legend usa-sr-only">Select passing tests</legend>

  {% for item in items %}
    <!--set WCAG details-->
    {% include accessibility-tests/wcag-details.html %}

    <!--Set version number-->
    {% if item.versionTested %}
      {% assign version_tested = item.versionTested | prepend: 'v' %}
    {% else %}
      {% assign version_tested = "N/A" %}
    {% endif %}

    <!--Set unique id for checkboxes-->
    {% assign checkbox_id = item.summary | slugify %}

    <!-- assign test status info -->
    {% if item.testStatus == 'pass' %}
      {% assign status_text = 'Passed' %}
      {% assign status_icon = pass_icon %}
    {% elsif item.testStatus == 'exception' %}
      {% assign status_text = 'Passed with exceptions' %}
      {% assign status_icon = exceptions_icon %}
    {% elsif item.testStatus == 'fail' %}
      {% assign status_text = 'Failed' %}
      {% assign status_icon = fail_icon %}
    {% elsif item.testStatus == 'conditional' %}
      {% assign status_text = 'Conditional' %}
      {% assign status_icon = conditional_icon %}
    {% endif %}

    <!-- start checklist items -->
    <div class="usa-checkbox">
      <!-- Add text content -->
      <input class="usa-checkbox__input" id="{{ checkbox_id }}" type="checkbox" name="accessibility-tests"
        value='{{ item.summary }}' />
      <label class="usa-checkbox__label" for="{{ checkbox_id }}">
        <div class="measure-5">
          <!--Add summaries-->
          <p class="site-checklist-text">
            <strong>{{ item.summary | markdownify | remove: '<p>' | remove: '</p>' }}</strong>
            {{ item.summaryAdditional | markdownify | remove: '<p>' | remove: '</p>' }}
          </p>
          <!--Add supplemental text, based on status type-->
          {% if item.testStatus == 'pass' and item.versionFixed == site.uswds_version %}
            <p class="site-checklist-status-text site-checklist-text--{{ item.testStatus }}">
              <b>The {{ component_name }} component recently passed this test in version {{ item.versionFixed }}.</b><br />
              <a href="https://github.com/uswds/uswds/releases/tag/v{{ item.versionFixed }}">
                Read more in the {{ item.versionFixed }} release notes
              </a>.
            </p>
          {% elsif item.testStatus == 'exception' %}
            <p class="site-checklist-status-text site-checklist-text--{{ item.testStatus }}">
              <b>The {{ component_name }} component does not pass all elements of this test.</b>
              {% if item.statusDetails %}
                {{ item.statusDetails }}
                </p>
                <p class="site-checklist-status-text site-checklist-text--{{ item.testStatus }}">
              {% endif %}
              We have logged this issue and are prioritizing it.
              {% if item.issueNumber %}
                <a href="https://github.com/uswds/{{ item.issueRepo | default:'uswds' }}/issues/{{ item.issueNumber }}">Learn
                more about this issue on GitHub</a>.
              {% endif %}
            </p>
          {% elsif item.testStatus == 'fail' %}
            <p class="site-checklist-status-text site-checklist-text--{{ item.testStatus }}">
              <b>The {{ component_name }} component does not pass this test.</b>
              We have logged this issue and are prioritizing it.
              {% if  item.issueNumber %}
                <a href="https://github.com/uswds/{{ item.issueRepo | default:'uswds' }}/issues/{{ item.issueNumber }}">Learn
                  more about this issue on GitHub</a>.
              {% endif %}
            </p>
          {% elsif item.testStatus == 'conditional' %}
            <p class="site-checklist-status-text site-checklist-text--{{ item.testStatus }}">
              <b>{{ item.statusDetails | default:"This can only be tested in your implementation of the component."}}</b>
              Be sure to test this in your project.
            </p>
          {% elsif item.testStatus == 'pass' %}
          {% endif %}
          <!-- end text content -->

          <!--Add tags -->
          <ul class="site-checklist-tag-list">
            {% if item.wcagCriterion %}
              <li class="site-checklist-tag">WCAG {{ criterion_level }}</li>
              <li class="site-checklist-tag">
                <a href="{{ criterion_url }}">
                  {{ item.wcagCriterion }} {{ criterion_name }}
                </a>
              </li>
            {% endif %}
            <li class="site-checklist-tag site-checklist-tag--{{ item.testStatus }} site-checklist-tag--hide-wide">
              <svg class="usa-icon site-checklist-icon--{{ item.testStatus }}"
                aria-hidden="true" role="img">
                <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#{{ status_icon }}"></use>
              </svg>
              USWDS test status: <b class="padding-left-05">{{ status_text }}</b>
            </li>
            <li class="site-checklist-tag site-checklist-tag--hide-wide">Last test: {{ version_tested }}</li>
          </ul>
        </div>
        <ul class="site-checklist-tag-list--aside">
          <li class="site-checklist-tag site-checklist-tag--{{ item.testStatus }}">
            <div class="site-checklist-tag__icon-text">
              <svg class="usa-icon site-checklist-icon--{{ item.testStatus }}"
              aria-hidden="true" role="img">
                <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#{{ status_icon }}"></use>
              </svg>
              USWDS test status:
            </div>
            <b>{{ status_text }}</b>
          </li>
          <li class="site-checklist-tag">Last test: {{ version_tested }}</li>
        </ul>
      </label>
      <!-- end text content -->
    </div>
  {% endfor %}
</fieldset>