{% assign accordion_id = title | slugify | append:'-how-to' %}

{% if title == "Screen reader" %}
  {% assign title_plural = "screen readers" %}
{% endif %}

<p class="border-top padding-top-1 border-gray-10">
  USWDS performed these tests to check {{ component_name }} accessibility and usability for {{ title_plural | default: title | downcase }}.
  For help performing your own {{ title | downcase }} tests, check out the resources in the expandable section below.
</p>

<div class="usa-accordion site-checklist-accordion">
  <h4 class="usa-accordion__heading">
    <button type="button" class="usa-accordion__button" aria-controls="{{ accordion_id }}">
      How to test with {{ title_plural | default: title | downcase}}
    </button>
  </h4>
  <div id="{{ accordion_id }}" class="usa-accordion__content usa-prose">
    {% if title == "Zoom magnification" %}
      {% include accessibility-tests/how-to-zoom.html %}
    {% elsif title == "Screen reader" %}
      {% include accessibility-tests/how-to-screen-reader.html %}
    {% elsif title == "Keyboard navigation" %}
      {% include accessibility-tests/how-to-keyboard.html %}
    {% endif %}
  </div>
</div>
