{% if title == "Screen reader" %}
  {% assign title_plural = "screen readers" %}
{% endif %}

{:.border-top .padding-top-1 .border-gray-10}

USWDS performed these tests to check the {{ component_name }}'s accessibility and usability for {{ title_plural | default: title | downcase }}.
For help performing your own {{ title | downcase }} tests, check out the resources in the expandable section below.

<div class="usa-accordion site-checklist-accordion">
  <h4 class="usa-accordion__heading">
    <button type="button" class="usa-accordion__button" aria-controls="{{ title | slugify | append:'-how-to' }}">
      How to test with {{ title_plural | default: title | downcase}}
    </button>
  </h4>
  <div id="{{ title | slugify | append:'-how-to'}}" class="usa-accordion__content usa-prose border-1px border-gray-5 border-top-none">
    {% if title == "Zoom magnification" %}
      {% include accessibility-tests/how-to-zoom.html %}
    {% elsif title == "screen readers" %}
      {% include accessibility-tests/how-to-screen-reader.html %}
    {% elsif title == "Keyboard navigation" %}
      {% include accessibility-tests/how-to-keyboard.html %}
    {% endif %}
  </div>
</div>
