<ol>
  <li>Navigate to a page on your website where the {{ component_name }} component is used.</li>
  <li>Enlarge the view of your screen to 200%.</li>
  <li>Once zoomed, use a mouse to complete the tests in the checklist.</li>
</ol>
<hr/>
<p>Use one of the following methods to control screen magnification in your browser:</p>
<ol>
  <li>
    <b>Windows OS</b>: Click <code>ctrl</code> while using the scroll wheel on your mouse until you see "200%" appear in the top right of your screen.
    Or, click <code>ctrl</code> + <code>+</code> until you see "200%" appear in the top right of your screen.
    (To reset the zoom to the original value, click <code>ctrl</code> + <code>0</code>.)
  </li>
  <li>
    <b>Mac OS</b>: Click <code>command</code> + <code>+</code> until you see "200%" appear in the top right of your screen.
    (To reset the zoom to the original value, click <code>command</code> + <code>0</code>.)
  </li>
  <li><b>Browser settings</b>: Customize your browser settings to display pages at 200%.</li>
</ol>
