<ol>
  <li>Navigate to a page on your website where the {{ component_name }} component is used.</li>
  <li>Using only your keyboard, press <code>tab</code> to navigate forward or <code>shift</code> + <code>tab</code> to navigate backwards until focus is on the {{ component_name }}. </li>
  <li>Use the testing checklist to make sure all functionality works with keyboard navigation.</li>
</ol>
<hr/>
<p class="font-lang-xs">For instruction for using keyboard navigation, <a href="https://webaim.org/techniques/keyboard/#testing">use this resource from WebAIM</a>. </p>