<ol>
  <li>Navigate to a page on your website where the {{ component_name }} component is used.</li>
  <li>Open a dedicated screen reading app or your operating system screen reader.</li>
  <li>Test with both a keyboard and a mouse to complete the tests in the checklist.</li>
</ol>
<hr/>
<p class="font-sans-xs">Instructions for setting up the screen reader on your operating system:</p>
<ol class="font-sans-xs">
  <li>
    <a href="https://support.apple.com/guide/voiceover/get-started-vo4be8816d70/mac">VoiceOver for Mac: Getting started guide</a>
  </li>
  <li>
    <a href="https://support.microsoft.com/en-us/windows/complete-guide-to-narrator-e4397a0d-ef4f-b386-d8ae-c172f109bdb1">Narrator for Windows: Complete guide to Narrator</a>
  </li>
</ol>