<h2>{{ component_name | capitalize }} accessibility checklist</h2>

<ul class="site-checklist-jump-links">
  {% if general_tests != empty %}
  <li>
    <a href="#general-tests">
      <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#arrow_downward"></use>
      </svg>
      General tests
    </a>
  </li>
  {%  endif %}
  {% if zoom_tests != empty %}
  <li>
    <a href="#zoom-magnification-tests">
      <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#arrow_downward"></use>
      </svg>
      Zoom magnification tests
    </a>
  </li>
  {% endif %}
  {% if keyboard_tests != empty %}
  <li>
    <a href="#keyboard-navigation-tests">
      <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#arrow_downward"></use>
      </svg>
      Keyboard navigation tests
    </a>
  </li>
  {% endif %}
  {% if screen_reader_tests != empty %}
  <li>
    <a href="#screen-reader-tests">
      <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#arrow_downward"></use>
      </svg>
      Screen reader tests
    </a>
  </li>
  {% endif %}
</ul>
