<h2>Test the {{ component_name }} in your project</h2>

<p>
  USWDS tests components in isolation.
  You need to test the {{ component_name }} component in the context of your own site to ensure compliance with Section 508 accessibility standards.
</p>

<div class="site-checklist-intro-grid">
  <div class="site-checklist-intro-grid__grid-item">
    <svg class="usa-icon" aria-hidden="true" role="img">
      <use href="{{ site.baseurl }}/assets/img/sprite.svg#list"></use>
    </svg>
    <div>
      <p class="site-checklist-intro-grid__summary">Use the checklist below.</p>
      <p class="site-checklist-intro-grid__details">Follow the "how to test" instructions for each type of assistive technology.</p>
    </div>
  </div>
  <div class="site-checklist-intro-grid__grid-item">
    <svg class="usa-icon" aria-hidden="true" role="img">
      <use href="{{ site.baseurl }}/assets/img/sprite.svg#people"></use>
    </svg>
    <div>
      <p class="site-checklist-intro-grid__summary">Anyone can test for accessibility.</p>
      <p class="site-checklist-intro-grid__details">These quick manual tests don't require special equipment.</p>
    </div>
  </div>
</div>
