## Test the {{ component_name }} in your project

USWDS tests components in isolation.
You need to test the {{ component_name }} component in the context of your own site to ensure compliance with Section 508 accessibility standards.

<div class="site-checklist-intro-grid">
  <div class="site-checklist-intro-grid__grid-item">
    <svg class="usa-icon" aria-hidden="true" role="img">
      <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#list"></use>
    </svg>
    <div>
      <p class="site-checklist-intro-grid__summary">Use the checklist below.</p>
      <p class="site-checklist-intro-grid__details">Follow the "how to test" instructions for each type of assistive technology.</p>
    </div>
  </div>
  <div class="site-checklist-intro-grid__grid-item">
    <svg class="usa-icon" aria-hidden="true" role="img">
      <use xlink:href="{{ site.baseurl }}/assets/img/sprite.svg#people"></use>
    </svg>
    <div>
      <p class="site-checklist-intro-grid__summary">You don't need to be an expert!</p>
      <p class="site-checklist-intro-grid__details">Anyone can test for accessibility.</p>
    </div>
  </div>
</div>
