<!--
  Catalog details related to WCAG criterion items.
  This information is used in the checklist tags on the accessibility tests pages.
-->
{% if item.wcag_criterion == "1.1.1" %}
  {% assign criterion_level = "A" %}
  {% assign criterion_name = "Non-text content" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#non-text-content" %}
{% endif %}
{% if item.wcag_criterion == "1.3.1" %}
  {% assign criterion_level = "A" %}
  {% assign criterion_name = "Info and relationships" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#info-and-relationships" %}
{% endif %}
{% if item.wcag_criterion == "1.3.2" %}
  {% assign criterion_level = "A" %}
  {% assign criterion_name = "Meaningful sequence" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#meaningful-sequence" %}
{% endif %}
{% if item.wcag_criterion == "1.3.4" %}
  {% assign criterion_level = "AA" %}
  {% assign criterion_name = "Orientation" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#orientation" %}
{% endif %}
{% if item.wcag_criterion == "1.3.5" %}
  {% assign criterion_level = "AA" %}
  {% assign criterion_name = "Identify input purpose" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#identify-input-purpose" %}
{% endif %}
{% if item.wcag_criterion == "1.3.6" %}
  {% assign criterion_level = "AAA" %}
  {% assign criterion_name = "Identify purpose" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#identify-purpose" %}
{% endif %}
{% if item.wcag_criterion == "1.4.1" %}
  {% assign criterion_level = "A" %}
  {% assign criterion_name = "Use of color" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#use-of-color" %}
{% endif %}
{% if item.wcag_criterion == "1.4.3" %}
  {% assign criterion_level = "AA" %}
  {% assign criterion_name = "Contrast (Minimum)" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#contrast-minimum" %}
{% endif %}
{% if item.wcag_criterion == "1.4.4" %}
  {% assign criterion_level = "AA" %}
  {% assign criterion_name = "Resize text" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#resize-text" %}
{% endif %}
{% if item.wcag_criterion == "1.4.6" %}
  {% assign criterion_level = "AAA" %}
  {% assign criterion_name = "Contrast enhanced" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#contrast-enhanced" %}
{% endif %}
{% if item.wcag_criterion == "1.4.10" %}
  {% assign criterion_level = "AA" %}
  {% assign criterion_name = "Reflow" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#reflow" %}
{% endif %}
{% if item.wcag_criterion == "1.4.11" %}
  {% assign criterion_level = "AA" %}
  {% assign criterion_name = "Non-text contrast" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#non-text-contrast" %}
{% endif %}
{% if item.wcag_criterion == "1.4.12" %}
  {% assign criterion_level = "AA" %}
  {% assign criterion_name = "Text spacing" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#text-spacing" %}
{% endif %}
{% if item.wcag_criterion == "2.1.1" %}
  {% assign criterion_level = "A" %}
  {% assign criterion_name = "Keyboard" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#keyboard" %}
{% endif %}
{% if item.wcag_criterion == "2.1.2" %}
  {% assign criterion_level = "A" %}
  {% assign criterion_name = "No keyboard trap" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#no-keyboard-trap" %}
{% endif %}
{% if item.wcag_criterion == "2.4.3" %}
  {% assign criterion_level = "A" %}
  {% assign criterion_name = "Focus order" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#focus-order" %}
{% endif %}
{% if item.wcag_criterion == "2.4.5" %}
  {% assign criterion_level = "AA" %}
  {% assign criterion_name = "Multiple ways" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#multiple-ways" %}
{% endif %}
{% if item.wcag_criterion == "2.4.6" %}
  {% assign criterion_level = "AA" %}
  {% assign criterion_name = "Headings and labels" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#headings-and-labels" %}
{% endif %}
{% if item.wcag_criterion == "2.4.7" %}
  {% assign criterion_level = "AA" %}
  {% assign criterion_name = "Focus visible" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#focus-visible" %}
{% endif %}
{% if item.wcag_criterion == "2.4.13" %}
  {% assign criterion_level = "AAA" %}
  {% assign criterion_name = "Focus appearance (WCAG 2.2)" %}
  {% assign criterion_url = "https://www.w3.org/WAI/WCAG22/Understanding/focus-appearance.html" %}
{% endif %}
{% if item.wcag_criterion == "2.5.3" %}
  {% assign criterion_level = "A" %}
  {% assign criterion_name = "Label in name" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#label-in-name" %}
{% endif %}
{% if item.wcag_criterion == "2.5.5" %}
  {% assign criterion_level = "AAA" %}
  {% assign criterion_name = "Target size" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#target-size" %}
{% endif %}
{% if item.wcag_criterion == "3.1.5" %}
  {% assign criterion_level = "AAA" %}
  {% assign criterion_name = "Reading level" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#reading-level" %}
{% endif %}
{% if item.wcag_criterion == "3.2.2" %}
  {% assign criterion_level = "A" %}
  {% assign criterion_name = "On input" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#on-input" %}
{% endif %}
{% if item.wcag_criterion == "3.2.3" %}
  {% assign criterion_level = "AA" %}
  {% assign criterion_name = "Consistent navigation" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#consistent-navigation" %}
{% endif %}
{% if item.wcag_criterion == "3.2.4" %}
  {% assign criterion_level = "AA" %}
  {% assign criterion_name = "Consistent identification" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#consistent-identification" %}
{% endif %}
{% if item.wcag_criterion == "3.3.1" %}
  {% assign criterion_level = "A" %}
  {% assign criterion_name = "Error identification" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#error-identification" %}
{% endif %}
{% if item.wcag_criterion == "3.3.2" %}
  {% assign criterion_level = "A" %}
  {% assign criterion_name = "Labels or instructions" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#labels-or-instructions" %}
{% endif %}
{% if item.wcag_criterion == "3.3.3" %}
  {% assign criterion_level = "AA" %}
  {% assign criterion_name = "Error suggestion" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#error-suggestion" %}
{% endif %}
{% if item.wcag_criterion == "4.1.1" %}
  {% assign criterion_level = "A" %}
  {% assign criterion_name = "Parsing" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#parsing" %}
{% endif %}
{% if item.wcag_criterion == "4.1.2" %}
  {% assign criterion_level = "A" %}
  {% assign criterion_name = "Name, role, value" %}
  {% assign criterion_url = "https://www.w3.org/TR/WCAG21/#name-role-value" %}
{% endif %}
