---
permalink: /page-templates/
layout: styleguide
title: Page templates
category: Page templates
lead: These templates for a landing page and a documentation page are built from USWDS components. Each of these pages is flexible; you can add or remove components or subcomponents to suit your needs. These templates are great starting point for prototyping or for trying USWDS to see if it’s a good fit for your project.
subnav:
- text: Landing page
  href: '#landing-page'
- text: Documentation page
  href: '#documentation-page'
---

<section class="site-component-section margin-top-5">
  <h2 class="usa-heading" id="landing-page">Landing page</h2>
  <p class="site-text-intro">Provide someone’s first impression of your agency or program. </p>
  <p>Often, site users arrive at a landing page without much context, like a search result or a colleague’s email. So a landing page needs to be clear, engaging, and contextualizing.</p>
  <div class="preview">
    <a class="media_link" href="{{ site.components_url_v2_preview }}/layout--landing.html">
      <img src="{{ site.baseurl }}/assets/img/templates/layout--landing.png" alt="Basic header">
    </a>
    <a class="usa-button" href="{{ site.components_url_v2_preview }}/layout--landing.html">Demo landing page template</a>
  </div>
  {% include code/accordion.html component="template-landing" %}
  <div class="usa-accordion usa-accordion--bordered site-accordion-docs">
    <button class="usa-button-unstyled usa-accordion__button"
      aria-expanded="true" aria-controls="docs-page-template-landing">
      Guidance
    </button>
    <div id="docs-page-template-landing" class="usa-accordion__content site-component-usage">
      <h4 class="usa-heading">When to use the landing page template</h4>
      <ul class="usa-content-list">
        <li><strong>Introducing a new program.</strong> If you are introducing a new program to the public through a marketing or publicity campaign, a landing page is a good place to point links at. It can build on the minimal copy of a campaign without overwhelming readers.</li>
      </ul>
      <h4 class="usa-heading">When to avoid</h4>
      <ul class="usa-content-list">
        <li><strong>Internal pages.</strong> Don’t use a landing page for standard internal page content. The same things that help people understand basics quickly can become distracting for people who are looking for more depth.</li>
      </ul>
      <h4 class="usa-heading">Usability guidance</h4>
      <ul class="usa-content-list">
        <li><strong>Remember to do your research.</strong> The landing page can be a good model for a homepage. But do some research first. What do you have to say? What do your users need to know? Figure these things out. It’s important to know what you have to say about your organization before you settle on a homepage design.</li>
        <li><strong>Don’t make it too complicated.</strong> Don’t try to include forms or side navigation in a page like this. Those are visually complex components, and a landing page works best without too much complexity.</li>
        <li><strong>Simple pages may not need a header.</strong> If you are using the landing page to encourage users to follow a primary call to action, consider getting rid of the header. The less there is to distract people from the most important task, the more often they will do it.</li>
        <li><strong>Remove unnecessary elements.</strong> Do not create extra content just to fill the template. You can remove individual components (such as the media block) or sub-components (such as individual menu items in the header) from the template as you implement it. This version gives you a broad idea of the number of things your landing page could include. But never make a page more complex than you need to. If you’re unsure, interview users to find out what they need to know.</li>
        <li><strong>See component-specific guidance.</strong> For guidance on specific components, see the pages for the individual components.</li>
      </ul>
      <h4 class="usa-heading">Components used in this template</h4>
      <ul class="usa-list">
        <li>Extended header</li>
        <li>Hero feature</li>
        <li>Graphic list</li>
        <li>Media block</li>
        <li>Grid</li>
        <li>Buttons</li>
        <li>Medium footer</li>
      </ul>
      <h4 class="usa-heading">Component definitions</h4>
      <ul class="usa-content-list">
        <li><strong>Hero feature</strong>: Hero features are used at the top of your landing page to help set the tone for the content of your site and to help users understand what your brand is all about. The Hero feature offers a callout which provides a high-level overview of the content on the site and will often reference the Hero image that sits behind it.</li>
        <li><strong>Graphic list</strong>: The Graphic list is used to showcase a number of related items and their respective images in a grid pattern.</li>
      </ul>
    </div>
  </div>
</section>

<section class="site-component-section">
  <h2 class="usa-heading" id="documentation-page">Documentation page</h2>
  <p class="site-text-intro">Present information on a certain theme, topic, or idea.</p>
  <p>People often arrive at a documentation page after visiting the landing page or after searching for a specific piece of information, so documentation pages don’t need to provide as much contextualizing information as more introductory pages would. The copy should be clear, focused, and concise.</p>
  <div class="preview">
    <a class="media_link" href="{{ site.components_url_v2_preview }}/layout--docs.html">
      <img src="{{ site.baseurl }}/assets/img/templates/layout--docs.png" alt="Basic header">
    </a>
    <a class="usa-button" href="{{ site.components_url_v2_preview }}/layout--docs.html">Demo documentation template</a>
  </div>
  {% include code/accordion.html component="template-docs" %}
  <div class="usa-accordion usa-accordion--bordered site-accordion-docs">
    <button class="usa-button-unstyled usa-accordion__button"
      aria-expanded="true" aria-controls="docs-page-template-docs">
      Guidance
    </button>
    <div id="docs-page-template-docs" class="usa-accordion__content site-component-usage">
      <h4 class="usa-heading">When to use the documentation template</h4>
      <ul class="usa-content-list">
        <li><strong>Detailed information on a specific topic.</strong> If you’re presenting detailed information on a specific topic or theme that has already been contextualized by a landing page. Some topics that can be nicely represented on this type of page include guides or how-tos, technical documentation, and program descriptions — in short, any subject that requires in-depth explanation.</li>
      </ul>
      <h4 class="usa-heading">When to avoid</h4>
      <ul class="usa-content-list">
        <li><strong>Introducing a new program.</strong> Don’t use a documentation page to introduce your users to your agency or organization — the landing page is better suited to that purpose. The level of detail present on documentation pages can overwhelm users who are just becoming acquainted with your organization.</li>
      </ul>
      <h4 class="usa-heading">Usability guidance</h4>
      <ul class="usa-content-list">
        <li><strong>Use a precise headline.</strong> A precise headline quickly communicates your page’s purpose. If the page content is especially complex, you may consider using a subheadline to further clarify its meaning.</li>
        <li><strong>Write concise copy.</strong> Favor short sentences (and paragraphs) over longer ones, and use straightforward language, avoiding jargon. Remember, copy blocks don’t need to be long to be comprehensive.</li>
        <li><strong>See component-specific guidance.</strong> For guidance on specific components, see the page for the individual components.</li>
      </ul>
      <h4 class="usa-heading">Components used in this template</h4>
      <ul class="usa-list">
        <li>Basic header</li>
        <li>Grid</li>
        <li>Side navigation</li>
        <li>Documentation layout</li>
        <li>Medium footer</li>
      </ul>
    </div>
  </div>
</section>
