---
permalink: /page-templates/documentation-page/
parent_permalink: /page-templates/landing/
title: Documentation page
layout: styleguide
category: Page templates
lead: Present information on a certain theme, topic, or idea.
---

<section class="site-component-section">
  <p>People often arrive at a documentation page after visiting the landing page or after searching for a specific piece of information, so documentation pages don’t need to provide as much contextualizing information as more introductory pages would. The copy should be clear, focused, and concise.</p>
  <div class="preview">
    <a class="media_link" href={% include component-preview-link.html component="layout--docs" %}>
      <img src="{{ site.baseurl }}/assets/img/templates/layout--docs.png" alt="Basic header">
    </a>
    <a class="usa-button" href={% include component-preview-link.html component="layout--docs" %}>Demo documentation template</a>
  </div>
  {% include code/accordion.html component="template-docs" %}
  <div class="usa-accordion usa-accordion--bordered site-accordion-docs">
    <button class="usa-button-unstyled usa-accordion__button"
      aria-expanded="true" aria-controls="docs-page-template-docs">
      Guidance
    </button>
    <div id="docs-page-template-docs" class="usa-accordion__content site-component-usage">
      <h4 class="usa-heading">When to use the documentation template</h4>
      <ul class="usa-content-list">
        <li><strong>Detailed information on a specific topic.</strong> If you’re presenting detailed information on a specific topic or theme that has already been contextualized by a landing page. Some topics that can be nicely represented on this type of page include guides or how-tos, technical documentation, and program descriptions — in short, any subject that requires in-depth explanation.</li>
      </ul>
      <h4 class="usa-heading">When to avoid</h4>
      <ul class="usa-content-list">
        <li><strong>Introducing a new program.</strong> Don’t use a documentation page to introduce your users to your agency or organization — the landing page is better suited to that purpose. The level of detail present on documentation pages can overwhelm users who are just becoming acquainted with your organization.</li>
      </ul>
      <h4 class="usa-heading">Usability guidance</h4>
      <ul class="usa-content-list">
        <li><strong>Use a precise headline.</strong> A precise headline quickly communicates your page’s purpose. If the page content is especially complex, you may consider using a subheadline to further clarify its meaning.</li>
        <li><strong>Write concise copy.</strong> Favor short sentences (and paragraphs) over longer ones, and use straightforward language, avoiding jargon. Remember, copy blocks don’t need to be long to be comprehensive.</li>
        <li><strong>See component-specific guidance.</strong> For guidance on specific components, see the page for the individual components.</li>
      </ul>
      <h4 class="usa-heading">Components used in this template</h4>
      <ul class="usa-list">
        <li>Basic header</li>
        <li>Grid</li>
        <li>Side navigation</li>
        <li>Documentation layout</li>
        <li>Medium footer</li>
      </ul>
    </div>
  </div>
</section>